
{% extends "base_site.html" %}
{% block title %} Welcome {% endblock title %}

{% block sidebar %}{% endblock sidebar %}
{% block top_navigation %}{% endblock top_navigation %}

{% block content %}
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center text-center">
        <h2>Success</h2>
         <p>You have completed your tester accepted. But you need to FTL.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
