
{% extends "base_site.html" %}

{% block title %} Organization {% endblock title %}

{% block content %}
  {% if error_msg %}
    <script>
      onload = function() {
        new PNotify({
          title: '{{ error_msg.title }}',
          text: '{{ error_msg.msg }}',
          type: 'error',
          hide: true,
          styling: 'bootstrap3'
        });
      }
    </script>
  {% else %}
    <script>
      onload = function() {
        $('.bs-example-modal-lg').modal('show');
      }
    </script>
  {% endif %}

  <!-- modal -->
  <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Welcome to MicroBot Console</h4>
        </div>
        <div class="modal-body">
          <h4>Welcome to MicroBot Console</h4>
          <p>You can be part of an organization by creating an organization or receiving an invitation from an organization that is already created.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>

      </div>
    </div>
  </div>
  <!-- end modal -->

  <div class="right_col" role="main">
    <div class="">

      <!-- start row -->
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Create <small>organization</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />

              <form id="create" class="form-horizontal form-label-left" method="post">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="name" name="name" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Create</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div><!-- End row -->
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- validator -->
  <script src="{{ url_for('static', filename='vendors/validator/validator.js') }}"></script>
{% endblock javascripts %}
