{% extends "base_site.html" %}

{% block title %} Organization {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <!-- start page title -->
      <div class="page-title">
        <div class="title_left">
          <h3>Organization <small>example</small></h3>
        </div>

        <div class="title_right">
        </div>
      </div>
      <!-- end page title -->

      <div class="clearfix"></div>

      <!-- start row -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Organization <small>list</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  {% for org in orgs %}
                    <tr>
                      <th scope="row"></th>
                      <td>{{ org.orgname }}</td>
                      <td>{{ org.description }}</td>
                      <td><a href="/organization/remove?id={{ org.id }}"><span class="fa fa-remove"></a></span></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <button type="button" class="btn btn-round btn-default">
                <a href="/organization/create">Create</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End row -->



    </div>
  </div>

{% endblock content %}