{% extends "base_site.html" %}

{% block title %} Register Android {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <!-- start row -->
      <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Register Android </h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form action="/organization/register/android" method="post"
                      class="form-horizontal form-label-left" novalidate>

                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="key">Key <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="key" name="key" required="required" class="form-control col-md-7 col-xs-12"
                            value="" placeholder="Key">
                      </div>
                    </div>
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="packageName">Package Name <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="packageName" name="packageName" required="required" class="form-control col-md-7 col-xs-12",
                            value="" placeholder="Package Name">
                      </div>
                    </div>


                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-3">
                        <a href={{ referrer }}>
                            <button type="button" class="btn btn-primary">Cancel</button>
                        </a>
                        <button id="send" type="submit" class="btn btn-success">Register</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>






      </div>  <!-- End row -->

    </div>
  </div>

{% endblock content %}
