.ag-theme-material div.ag-row {
    font-size: 1.4em;
    font-weight: 500;
}
.ag-cell {
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.ag-header-cell {
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.ag-header-cell-text {
    font-size: 2em;
    white-space: normal !important;
    word-break: break-word;
    text-align: right;
}
.ag-header-group-cell-label {
    font-size: 2em;
}
.grid-row-column {
    font-size: 1em;
    font-weight: normal;
    white-space: normal !important;
    word-break: break-word;
    text-align: center;
    padding: 0 0.2em !important;
}

.cd-grid-manpower-row {
    font-size: 2.8em !important;
}
.cd-row-container {
    width: 100%;
    margin-bottom: 1em;

    display: inline;
    box-sizing: border-box;
}
.cd-sub-contents-container {
    width: 100%;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fdfdfd;
    padding: 0.2em 0.4em;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    border-radius: 0.2em;
    transition: max-height 300ms ease-in-out;
}
.unfold .cd-sub-contents-container {
    max-height: 35em;
}
.cd-sub-title-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
}
.cd-sub-title-icon {
    width: 1em;
    height: 1em;

    background-image: url(../img/icn_square_plus.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.unfold .cd-sub-title-icon {
    background-image: url(../img/icn_square_minus.svg);
}
.cd-sub-title-label {
    font-size: 1.4em;
    color: #4e4e4e;
    margin-left: 0.6em;
}

.cd-grid {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
