.w-upper-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.w-middle-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.8em 0;
}

.w-lower-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

.status-widget {
    min-width: 18em;
    height: 10em;
    display: inline-flex;
    box-sizing: border-box;
    padding: 1em 1.6em;
    background-color: #3FB744;
    color: white;
    box-shadow: #929292 0.2em 0.2em 0.2em;
    transition: background-color 500ms ease-in-out;
    flex-grow: 1;
    margin: 0 0.2em;
}
.status-widget.small {
    height: 8em;
}
.status-widget.wide {
    flex-grow: 2;
}
.status-widget.good {
    background-color: #3FB744;
}
.status-widget.warn {
    background-color: #E3B616;
}
.status-widget.alert {
    background-color: #FF4A4A;
}

.status-w-left-container {
    width: 4.8em;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

.status-widget-icon {
    width: 6em;
    height: 6em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.status-widget-icon.actptv {
    background-image: url(../img/icn_activepositive.svg);
}
.status-widget-icon.suspected {
    background-image: url(../img/icn_suspected.svg);
}
.status-widget-icon.quarantined {
    background-image: url(../img/icn_quarantined.svg);
}
.status-widget-icon.confirmed {
    background-image: url(../img/icn_confirm.svg);
}
.status-widget-icon.recovered {
    background-image: url(../img/icn_recovery.svg);
}
.status-widget-icon.death {
    background-image: url(../img/icn_death.svg);
}
.status-widget-icon.isolated {
    background-image: url(../img/icn_isolate.svg);
}
.status-widget-icon.uae {
    background-image: url(../img/icn_uae.svg);
}

.status-w-right-container {
    margin-left: auto;
    display: inline-flex;
    align-items: flex-end;
    align-self: center;
    flex-direction: column;
}

.status-w-right-upper-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.status-w-value-label {
    display: inline-flex;
    font-size: 2.4em;
    font-weight: 400;
    padding-right: 0.2em;
}
.big .status-w-value-label {
    font-size: 3em;
}

.status-w-pct-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;    
}

.status-w-pct-icon {
    color: #77FF95;
    font-size: 1.5em;
    margin-bottom: -0.3em; 
}

.status-w-pct-icon.pstv {
    color: #77FF95;
}

.status-w-pct-icon.ngtv {
    color: #FFCECE;
}

.status-w-pct-label {
    color: #EAEAEA;
}

.status-w-title-label {
    color: #EDEDED;
    font-size: 1.6em;
    font-weight: 400;
}
.big .status-w-title-label {
    font-size: 1.8em;
    text-align: right;
}

.a-item {
    width: 100%;
    height: 6.4em;
    position: relative;
    margin-bottom: 0.4em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.2em 0px #00000042;
    box-sizing: border-box;
    padding: 0.4em 0.8em;
}

.a-item-left-container {
    justify-content: center;
    display: inline-flex;
    padding: 0 0.3em;
    box-sizing: border-box;
}

.a-item-avatar {
    width: 3em;
    height: 3em;
    background-image: url(../img/icn_default_profile.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.a-item-name-container {
    overflow: hidden;
    width: 20em;
    box-sizing: border-box;
    margin: 0 0.6em;
}

.a-item-id-label {
    font-size: 0.85em;
    color: #D1D1D1;
    margin-bottom: -0.4em;    
}

.a-item-name-label {
    font-size: 1.3em;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3E3E3E;
}

.a-item-locate-contaienr {

}

.a-item-text-contaienr {

}

.a-item-title-container {
}

.a-item-title-label {
    font-size: 1.2em;
    font-weight: 500;
    color: #2E2E2E;
}

.a-item-desc-label {
    color: #AEAEAE;
}

.a-item-right-container {
    margin-left: auto;
    width: 13em;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.a-item-close-btn {
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_close_s.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.a-item-timeago-label {
    margin-top: auto;
    color: #848484;
    font-size: 0.8em;
    font-weight: 400;
}