.content-container {
    width: 100%;
    background-color: #efefef8a;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em #e2e2e2;
    padding: 1em 1.4em;
    box-sizing: border-box;
}

.content-container.tests {
    width: 100%;
    padding: 0.2em 1em;
    box-sizing: border-box;
    margin-bottom: 4em;
}

.title-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 0.8em;
}

.title-icon {
    width: 1.4em;
    height: 1.4em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.title-icon.stats {
    background-image: url(../img/icn_stats.svg);
}
.title-icon.tests {
    background-image: url(../img/icn_tests.svg);
}
.title-icon.users {
    background-image: url(../img/icn_users.svg);
}
.title-icon.downloads {
    background-image: url(../img/icn_download.svg);
}

.title-label {
    margin-left: 0.6em;
    font-weight: 500;
    font-size: 1.4em;
}

.sub-title-label {
    font-size: 1.2em;
    font-weight: 500;
}

.items-container {
    border-radius: 0.2em;
    border: 1px solid #BBBBBB;
    padding: 0.8em;
    box-sizing: border-box;
    margin-top: 0.4em;
}

.stat-items-container {
    width: 100%;
    padding-top: 0.8em;
    display: flex;
    flex-wrap: wrap;
}

.stat-item {
    display: inline-flex;
    width: 33%;
    margin-top: 0.8em;
}
.stat-item:nth-child(3n+2) {
    justify-content: center;
}
.stat-item:nth-child(3n) {
    justify-content: flex-end;
}
.si-title-label {
    width: 10em;
    margin-right: 0.8em;
}
.si-value-textbox {
    width: 9em;
    padding: 0.2em 0.4em;
    border: 1px solid #EF8009;
    border-radius: 0.2em;
}
.si-bottom-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.6em;
}
.si-update-label {
    margin-right: 1em;
    color: #737373;
}
.si-update-btn {
    padding: 0.4em 1em;
}

.items-desc-label {
    color: #636363;
}

.upload-container {
    width: 100%;
    padding: 1em 1em;
    border-radius: 0.6em;
    border: 0.2em dotted #EF8009;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-container.hover {
    border: 0.4em dotted #E0002A;
}

.upload-icon {
    width: 5.5em;
    height: 5.5em;
    background-image: url(../img/icn_upload.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.desc-label {
    font-size: 1.4em;
    font-weight: 400;
    color: #3E3E3E;
}

.or-label {
    margin: 1em 0;
    font-size: 1.6em;
}

.buttons-container {
    width: 100%;
    position: relative;
}

.browse-button {
    padding: 0.8em 1em;
    background-color: inherit !important;
    border: 1px solid #EF8009;
    color: #636363;
}

.submit-button {
    padding: 0.8em 2.8em;
    margin-top: 0.4em;
}

.submit-button-loader {
    margin: 1em 0 0.8em 1em;
}
.users-download-btn {
    cursor: pointer;
    color: #EF8009;
    text-decoration: underline;
    position: absolute;
    right: 0;
    top: 0.8em;
}

.log-panel {
    width: 100%;
}
.log-panel.users {
    border-top: 1px solid #d0d0d0;
    margin-top: 1em;
}
.log-panel-title {
    cursor: pointer;
    color: #EF8009;
    font-size: 1em;
    padding-top: 0.4em;
    padding-left: 0.4em;
}
.users .log-panel-value {
    width: 100%;
    font-size: 0.9em;
    max-height: 0em;
    overflow: hidden;
    white-space: pre-line;
    background-color: #cacaca;
    border-radius: 0.4em;
    margin: 0.6em 0;
    box-sizing: border-box;

    transition: max-height 300ms ease-in-out;
}
.users .log-panel-value.max {
    width: 100%;
    max-height: 20em;
    padding: 1em 0.8em;
    overflow: auto;
}

.log-download-container {
    padding: 1em 0.4em 0 0.4em;
}
.log-download-btn-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.log-download-btn {
    margin-bottom: 0.4em;
    font-size: 1em;
    text-decoration: underline;
    color: #EF8009;
    cursor: pointer;
}
.log-download-btn.disabled {
    font-size: 1em;
    text-decoration: inherit;
    color: #868686;
}
.log-download-run-btn {
    margin-left: 1em;
    font-size: 1em;
}

.download-sub-container {
    margin-bottom: 1.2em;
}
.download-title-label {
    font-weight: 500;
    font-size: 1.4em;
}