.content-container {
    width: 100%;
}

.news-items-container {
    width: 100%;
}

.top-container {
    margin-bottom: 1.4em;
}

.add-news-menu-container {
    position: relative;
    margin-left: auto;
}

.add-news-btn {
    width: 2em;
    height: 2em;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icn_add.svg);
    cursor: pointer;
}

.add-news-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    margin-top: 0.6em;
    background-color: white;
    box-shadow: 1px 1px rgb(190, 190, 190);
    border: 1px solid #EF8009;
}

.add-news-menu .hide {
    display: none;
}
.add-news-menu:nth-last-child() {
    border-bottom: none;
}
.add-news-menu-item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    padding: 0.8em 0.6em;
    border-bottom: 1px solid #EF8009;
}
.add-news-menu-item:hover {
    background-color: #ef800959;
}
.add-news-menu-item:nth-last-child(1) {
    border-bottom: none;
}
.add-news-menu-item.file {
    display: none;
}
.ads-mi-icn {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ads-mi-icn > svg {
    width: 2em;
    height: 2em;
}
.ads-mi-icn > svg > rect {
    fill: #595959;
}
.ads-mi-icn > svg > path {
    fill: #595959;
}
.ads-mi-label {
    margin-left: 1em;
    font-weight: 500;
    font-size: 1.4em;
}

.news-item {
    width: 100%;
    padding: 0.8em 1.2em 0 1.2em;
    box-sizing: border-box;
    box-shadow: 0.2em 0.2em #d8d8d8;
    margin-bottom: 0.8em;
    background-color: #FCFCFC;
}

.ni-news-item-ghost {
    opacity: 0.5;
    background-color: #EF8009;
}

.ni-upper-container {
    width: 100%;
    height: 7em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}
.ni-lower-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.4em 1.2em;
    box-sizing: border-box;
    margin-top: 0.8em;
}
.ni-lower-container:not(:empty) {
    border-top: 1px solid #f1f1f1;
}

.ni-grab-btn {
    width: 2.2em;
    height: 2.2em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/icn_grab.svg);
    cursor: grab;
    margin-right: 1em;  
    user-select: all;
}

.ni-thumbnail {
    position: absolute;
    width: 9em;
    top: 0;
    bottom: 0;
    left: 4em;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icn_image.svg);
}

.ni-content-container {
    padding-left: 0.8em;
    box-sizing: border-box;
    position: absolute;
    left: 14em;
    right: 8em;
}

.ni-title-label {
    font-size: 1.2em;
    font-weight: 500;
    color: #2E2E2E;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.ni-title-label:hover {
    text-decoration: underline;
}

.ni-message-label {
    color: #3E3E3E;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
    margin-top: 0.4em;
}

.ni-timeago-label {
    font-size: 0.8em;
    color: #C6C6C8;
    margin-left: auto;
    margin-top: auto;
}

.ni-right-container {
    height: 100%;
    position: relative;
    margin-left: 1em;
}

.ni-remove-btn {
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_close_s.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: auto;
    margin-left: auto;
}

.ni-attach-item {
    display: flex;
    cursor: pointer;
    padding-left: 3em;
    margin-bottom: 0.4em;
    align-items: center;
}
.ni-attach-item:hover {
    font-weight: 500;
}
.ni-attach-icn {
    width: 1em;
    height: 1em;
    background-image: url(../img/icn_attachment.svg);
    background-size: cover;
    background-position: center;
}
.ni-attach-name-label {
    font-size: 0.9em;
    margin-left: 0.4em;
    color: #EF8009;
}
.ni-attach-name-label:hover {
    font-weight: 500;
    text-decoration: underline;
}

.ni-pin-btn {
    position: absolute;
    bottom: 0;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    background-image: url(../img/icn_unpin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ni-pin-btn.pin {
    background-image: url(../img/icn_pin.svg);
}

.news-item-loader-btn {
    display: flex;
    justify-content: center;
    margin: 1.4em 0;
    cursor: pointer;
}

.news-item-loader-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/icn_reload.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.loading .news-item-loader-icon {
    display: none;
}

.news-item-loader-label {
    color: #EF8009;
    margin-left: 0.6em;
}

.loading .news-item-loader-label {
    display: none;
}

.and-content-container {
    display: flex;
    flex-direction: column;
}

.and-title-label {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
}
.and-subtitle-label {
    font-size: 1.1em;
    font-weight: 500;
}
.and-desc-label {
    color: #6d6d6d;
}

.and-input-title-textbox {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.6em 0.4em;
    border: 0 none;
    background-color: #F6F6F6;
}
.and-message-textarea {
    width: 100%;
    height: 15em;
    margin-bottom: 1em;
    background-color: #F6F6F6;
    border: 0 none;
}
.and-lang-selector {
    height: 2em;
    border: 1px solid #EF8009;
    border-radius: 0.2em;
    margin-bottom: 1em;
}

.and-progress {
    width: 0;
    height: 0.3em;
    background-color: #E0002A;
    transition: width 150ms;
}

.image .and-desc-label {
    font-size: 0.9em;
}
.and-filename-container {
    width: 100%;
    margin-top: 0.4em;
    position: relative;
}
.and-desc-label.filename {
    margin-top: 0;
    font-size: 0.9em;
    width: 20em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.and-desc-label.filecount {
    font-size: 0.9em;
    margin-top: 0;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.image .and-upload-btn {
    margin-top: 0.2em;
}
.image .and-content-container {
    width: 35em;
}
.image .and-bottom-container {
    margin-top: 1.2em;
}

.and-image-container {
    margin-bottom: 1em;
}
