.top-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #F3F3F3;
    margin-bottom: 0.8em;
}

.top-button {
    width: 8em;
    height: 6em;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    background-color: #F8F8F8;
    margin-right: 1.2em;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 #e2e2e2;
}
.top-button.selected {
    background-color: white;
}
.top-button-icon {
    width: 3.2em;
    height: 3.2em;
}
.top-button-icon > svg {
    width: 100%;
    height: 100%;
}
.top-button-icon > svg > path {
    fill: #808080;
}
.selected .top-button-icon > svg > path {
    fill: #EF8009;
}

.top-button-label {
    font-weight: 500;
    color: #808080;
}
.selected .top-button-label {
    color: #EF8009;
}

.content-container {
    width: 100%;
}

.noty-item {
    width: 100%;
    height: 7em;
    position: relative;
    display: flex;
    padding: 0.8em 0.4em;
    box-sizing: border-box;
    background-color: #F5F5F5;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0.8em;
    transition: background-color 1500ms ease-in-out;
}
.noty-item.new {
    background-color: #EF8009;
}

.noty-item-avatar {
    width: 4em;
    height: 4em;
    background-image: url(../img/icn_default_profile.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0 3em;
    box-sizing: border-box;
}

.noty-item-content-container {
    position: absolute;
    left: 6em;
    right: 8em;
    padding: 0.6em 0 0.6em 1em;
    box-sizing: border-box;
    margin-right: auto;
    overflow: hidden;
}

.noty-item-name-label {
    color: #3E3E3E;
    font-size: 1.2em;
    font-weight: 500;
}

.noty-item-desc-label {
    color: #3E3E3E;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
}

.noty-item-locate-container {

}

.noty-item-timeago-label {
    font-size: 0.8em;
    color: #C6C6C8;
}

.noty-item-msg-btn {
    width: 4em;
    height: 4em;
    display: none;
    cursor: pointer;
    margin-left: auto;
    background-image: url(../img/icn_quickmsg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.noty-item-close-btn {
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_close_s.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: auto;
    margin-left: auto;
}

.noty-item-loader-btn {
    display: flex;
    justify-content: center;
    margin: 1.4em 0;
    cursor: pointer;
}

.noty-item-loader-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/icn_reload.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.loading .noty-item-loader-icon {
    display: none;
}

.noty-item-loader-label {
    color: #EF8009;
    margin-left: 0.6em;
}

.loading .noty-item-loader-label {
    display: none;
}