.setting-panel {
    width: 100%;
}

.setting-title-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0.6em;
}

.setting-title-icn {
    width: 1.4em;
    height: 1.4em;
    background-image: url(../img/icn_general.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.setting-title-label {
    margin-left: 0.6em;
    font-weight: 500;
    font-size: 1.4em;
}

.setting-content-container {
    width: 100%;
    background-color: #efefef8a;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em #e2e2e2;
    padding: 1em 1.4em;
    box-sizing: border-box;
}

.setting-item {
    display: flex;
    flex-direction: column;
}

.si-title-label {
    font-size: 1.2em;
    font-weight: 500;
}

.si-content-container {
    border-radius: 0.2em;
    border: 1px solid #BBBBBB;
    padding: 0.8em;
    box-sizing: border-box;
    margin-top: 0.4em;
}

.si-subtitle-label {
    font-weight: 500;
}

.si-field-container {
    height: 2.6em;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.4em;
}
.si-field-container.codes {
    flex-wrap: wrap;
    height: inherit;
}

.si-desc-label {
    color: #636363;
}

.si-textbox {
    width: 20em;
    height: 2.6em;
    border: 1px solid #EF8009;
}

.si-btn {
    display: inline-flex;
    color: white;
    background-color: #EF8009;
    width: 5em;
    height: 2.6em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.si-btn.disabled {
    background-color: #929292;
    pointer-events: none;
    cursor: none;
}

.code-items-upper-container {
    width: 100%;
    padding-bottom: 1em;
}

.code-items-container {
    width: 100%;
    max-height: 30em;
    overflow: auto;
    overflow-x: hidden;
}
.code-items-lower-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.code-item {
    width: 100%;
    display: flex;
    padding: 0.8em 1em;
    box-sizing: border-box;
    align-items: center;
    border-top: 1px solid #eaeaea;
}
.code-item:nth-last-child(1) {
    border-bottom: 1px solid #eaeaea;
}
.ci-value-label {
    margin: 0 1em;
}
.ci-value-label.code {
    font-size: 1.2em;
    font-weight: 500;    
}
.ci-value-label.name {
    margin-right: 2.2em;
    width: 10em;
}
.ci-value-label.time {
    color: #949494;
    font-size: 0.9em;
    width: 11em;
}
.ci-profile {
    width: 3em;
    height: 3em;
    margin-left: auto;
    background-image: url(../img/icn_default_profile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 99em;
}
.ci-remove-btn {
    width: 1.6em;
    height: 1.6em;
    margin-left: 0.2em;
    cursor: pointer;
    background-image: url(../img/icn_close_s.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ci-generate-btn {
    
}
.ci-generate-textbox {

}

.ci-loader-btn {
    display: flex;
    justify-content: center;
    margin: 1.4em 0;
    cursor: pointer;
}

.ci-loader-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/icn_reload.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.loading .ci-loader-icon {
    display: none;
}

.ci-loader-label {
    color: #EF8009;
    margin-left: 0.6em;
}

.loading .ci-loader-label {
    display: none;
}

/* for logs */
.si-content-container.logs {
    margin-bottom: 0.8em;
}
.si-title-label.logs {
    color: #EF8009;
    cursor: pointer;
}
.log-panel {
    width: 100%;
    height: 100%;
    padding: 1em 1.2em;
    font-size: 0.9em;
    max-height: 5em;
    overflow: hidden;
    white-space: pre-line;
    background-color: #cacaca;
    border-radius: 0.4em;
    box-sizing: border-box;

    transition: max-height 300ms ease-in-out;
}
.log-panel.max {
    width: 100%;
    max-height: 20em;
    overflow: auto;
}