.content-container {
    width: 100%;
}

.add-all-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.1);
}

.survey-items-container {
    width: 100%;
}

.top-container {
    margin-bottom: 1.4em;
}

.add-survey-menu-container {
    position: relative;
    margin-left: auto;
}

.add-survey-btn {
    width: 2em;
    height: 2em;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icn_add.svg);
    cursor: pointer;
}

.ads-mi-icn {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ads-mi-icn > svg {
    width: 2em;
    height: 2em;
}
.ads-mi-icn > svg > rect {
    fill: #595959;
}
.ads-mi-icn > svg > path {
    fill: #595959;
}
.ads-mi-label {
    margin-left: 1em;
    font-weight: 500;
    font-size: 1.4em;
}

.survey-item {
    width: 100%;
    padding: 0.8em 1.2em 0 1.2em;
    box-sizing: border-box;
    box-shadow: 0.2em 0.2em #d8d8d8;
    margin-bottom: 0.8em;
    background-color: #FCFCFC;
}

.ni-survey-item-ghost {
    opacity: 0.5;
    background-color: #EF8009;
}

.ni-upper-container {
    width: 100%;
    height: 7em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}
.ni-lower-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.4em 1.2em;
    box-sizing: border-box;
    margin-top: 0.8em;
}
.ni-lower-container:not(:empty) {
    border-top: 1px solid #f1f1f1;
}

.ni-grab-btn {
    width: 2.2em;
    height: 2.2em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/icn_grab.svg);
    cursor: grab;
    margin-right: 1em;
    user-select: all;
}

.ni-thumbnail {
    position: absolute;
    width: 9em;
    top: 0;
    bottom: 0;
    left: 4em;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icn_image.svg);
}

.ni-content-container {
    padding-left: 0.8em;
    box-sizing: border-box;
    position: absolute;
    left: 14em;
    right: 8em;
}

.ni-title-label {
    font-size: 1.2em;
    font-weight: 500;
    color: #2E2E2E;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.ni-title-label:hover {
    text-decoration: underline;
}

.ni-message-label {
    color: #3E3E3E;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
    margin-top: 0.4em;
}

.ni-timeago-label {
    font-size: 0.8em;
    color: #C6C6C8;
    margin-left: auto;
    margin-top: auto;
}

.ni-right-container {
    height: 100%;
    position: relative;
    margin-left: auto;
}

.ni-remove-btn {
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_close_s.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: auto;
    margin-left: auto;
}

.ni-pin-btn {
    position: absolute;
    bottom: 0;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    background-image: url(../img/icn_unpin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ni-pin-btn.pin {
    background-image: url(../img/icn_pin.svg);
}

.survey-item-loader-btn {
    display: flex;
    justify-content: center;
    margin: 1.4em 0;
    cursor: pointer;
}

.survey-item-loader-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/icn_reload.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.loading .survey-item-loader-icon {
    display: none;
}

.survey-item-loader-label {
    color: #EF8009;
    margin-left: 0.6em;
}

.loading .survey-item-loader-label {
    display: none;
}

.and-content-container {
    width: 35em;
    padding: 1.6em;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 0.4em;
}
.and-content-container::-webkit-scrollbar {
    width: 8px;
}
.and-content-container::-webkit-scrollbar-thumb {
    background-color: #EF8009;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.and-content-container::-webkit-scrollbar-track {
    background-color: rgb(239, 128, 9, 0.4);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.and-title-label {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.and-serial-label {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.and-subtitle-label {
    font-size: 1.1em;
    font-weight: 500;
}
.and-desc-label {
    color: #6d6d6d;
}
.and-input-title-textbox {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.6em 0.4em;
    border: 1px solid #EF8009;
    background-color: #FDFDFD;
    border-radius: 0.6em;
}
.and-input-serial-textbox {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.6em 0.4em;
    border: 1px solid #EF8009;
    background-color: #FDFDFD;
    border-radius: 0.6em;
}
.and-message-textarea {
    width: 100%;
    min-height: 8em;
    margin-top: 0.2em;
    margin-bottom: 1em;
    border: 1px solid #EF8009;
    background-color: #FDFDFD;
    border-radius: 0.6em;
    outline-style: none im !important;
}
.and-input-question-title-textbox {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.6em 0.4em;
    border: 1px solid #EF8009;
    background-color: #FDFDFD;
    border-radius: 0.6em;
}
.and-lang-selector {
    height: 2em;
    border: 1px solid #EF8009;
    border-radius: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.2em 0.4em;
    width: 7em;
}

.and-progress {
    width: 0;
    height: 0.3em;
    background-color: #E0002A;
    transition: width 150ms;
}

.and-desc-label {
    font-size: 0.9em;
    margin-bottom: 1em;
}
.and-desc-label.filename {
    margin-top: 0;
    font-size: 0.9em;
    width: 20em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.and-upload-btn {
    margin-top: 0.2em;
}
.and-add-btn {
    margin-bottom: 0.4em;
}
.and-add-btn.remove {
    background-color: #FF0000;
    font-weight: 600;
}
.and-bottom-container {
    margin-top: 1.2em;
}

.and-image-container {
    margin-bottom: 1em;
}
.and-thumbnail {
    height: 20em;
    margin-top: 0.4em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icn_image.svg);
}

.and-checkbox-container {
}
.and-checkbox {
    display: inline-block;
    margin-right: 0.8em !important;
}
.and-checkbox-label {
    display: inline-block;
    font-weight: 500;
    font-size: 1.2em;
}

.and-options-container {
}
.and-options-top-container {
    margin-top: 1em;
}
.and-options-title-label {
    display: inline-block;
    font-weight: 500;
    font-size: 1.2em;
}
.and-options-add-btn {
    display: inline-block;
    float: right;
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_add_options.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: auto;
    margin-left: auto;
}
.and-options-remove-btn {
    display: inline-block;
    float: right;
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_remove_options.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: auto;
    margin-left: 0.2em;
}
.and-options-content-container {
}

.and-questions-list-continaer {
    border-top: 1px solid #DDDDDD;
}

.and-input-options-textbox {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.6em 0.4em;
    border: 1px solid #EF8009;
    background-color: #FDFDFD;
    border-radius: 0.6em;
}

.and-top-container {
    display: flex;
}

.and-question-container {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 1em;
}

.ni-statistics-btn {
    position: absolute;
    width: 4em;
    height: 4em;
    right: 1em;
    top: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_statistics.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* stats dialog */

.survey-stats-dialog {
}

.stats-content-container {
    width: 60em;
    padding: 1.6em;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 0.4em;
}
.stats-content-container::-webkit-scrollbar {
    width: 8px;
}
.stats-content-container::-webkit-scrollbar-thumb {
    background-color: #EF8009;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.stats-content-container::-webkit-scrollbar-track {
    background-color: rgb(239, 128, 9, 0.4);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.stats-top-container {
    display: flex;
}

.stats-title-label {
    font-weight: 500;
    font-size: 2.0em;
    margin-top: 0.2em;
}
.stats-desc-label {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: #6B6B6B;
}
.stats-progress-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.4em;
    background-color: #C6C6C8;
    border-radius: 0.4em;
}
.stats-progress-back {
    width: 100%;
    height: 1.2em;
    background-color: #aaaaaa;
    transition: width 150ms;
}
.stats-thumbnail {
    width: 100%;
    height: 20em;
    flex: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icn_image.svg);
}

.stats-q-title-label {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.stats-container {
    display: flex;
    margin-bottom: 0.6em;
}
.stats-number {
    text-align: right;
    font-weight: 500;
    padding-right: 0.6em;
    margin-left: auto;
    color: white;
}
.stats-opt-title {
    position: absolute;
    height: 1.6em;
    background-color:rgba(255, 255, 255, 0);
    transition: width 150ms;
    border-radius: 0.4em;
    padding-left: 0.6em;
    font-weight: 500;
    color: #FFFFFF;
}
.stats-opt-per {
    width: 0;
    height: 1.6em;
    background-color: #E0002A;
    transition: width 150ms;
    border-radius: 0.4em;
}
.stats-total-per-title {
    padding-left: 0.6em;
    font-weight: 500;
    color: #FFFFFF;
    z-index: 1;
}
.stats-total-per {
    width: 0;
    height: 100%;
    background-color: #3FB744;
    border-radius: 0.4em;
    transition: width 300ms ease;
}
.stats-total-progress-container {
    margin-top: 1.2em;
    border-bottom: 1px solid #dddddd;
}
.stats-total-top-title {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0.4em;
}
.stats-total-date-label {
    color: #3E3E3E;
}
.stats-total-bottom-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    place-content: space-between;

    margin-bottom: 0.6em;
}
.stats-finish-button {
    width: 8em;
    margin-bottom: 0.2em;
    padding: 0.4em 0.4em;
    float: right;
}

.stats-table-title-label {
    font-size: 1.2em;
    color: #666666;
    margin-top: 1.2em;
}

.stats-table-container {
    width: 100%;
    height: 30em;
    margin-top: 1em;
}

/* Originally, it was 100% height, but the height was 0 so I couldn't see anything, so I set this style. */
.ag-root-wrapper.ag-layout-normal.ag-ltr {
    height: 30em;
}