.top-upper-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    margin-bottom: 1em;
}
.top-lower-container {
    margin-top: 1em;
}

.user-searchbox-container {
    height: 3em;
    font-size: 0.8em;
    display: flex;
    border: 1px solid #ef8009;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    align-items: center;
    margin-right: 1em;
}

.searchbox-icon {
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
    background-image: url(../img/icn_search.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-left: auto;
}

.user-filter-folder-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user-folder-icn {
    width: 1em;
    height: 1em;

    background-image: url(../img/icn_square_plus.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.unfold .user-folder-icn {
    background-image: url(../img/icn_square_minus.svg);
}
.user-folder-title-label {
    white-space: nowrap;
    margin-left: 0.6em;
    font-size: 1.2em;
}
.user-filter-selector-title {
    font-size: 1.1em;
    color: #0c0c0c;
}
.user-filter-selector-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.2em;
}
.user-filter-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 1.2em;
}
.user-filter-top-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
}
.user-filter-bottom-container {
    display: flex;
    flex-wrap: nowrap;
}
.filter-dropdown.none {
    background-color: #bdbdbd;
}
.filter-buttons-container {
    max-height: 0;
    overflow: hidden;
    padding: 0.8em 0 0 1.8em;
    box-sizing: border-box;
    transition: max-height 300ms ease-in-out;
}
.filter-buttons-container.unfold {
    max-height: 35em;
}
.user-filter-title-icn {
    width: 1.3em;
    height: 1.3em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin-right: 0.4em;
}
.search .user-filter-title-icn {
    background-image: url(../img/icn_user_search_filter.svg);
}
.user .user-filter-title-icn {
    background-image: url(../img/icn_user_filter.svg);
}
.clinic .user-filter-title-icn {
    background-image: url(../img/icn_clinic_filter.svg);
}
.op .user-filter-title-icn {
    background-image: url(../img/icn_op_filter.svg);
}
.staff .user-filter-title-icn {
    background-image: url(../img/icn_staff_filter.svg);
}
.clinic-command .user-filter-title-icn {
    background-image: url(../img/icn_clinic_filter.svg);
}
.admin-command .user-filter-title-icn {
    background-image: url(../img/icn_op_filter.svg);
}
.command .user-filter-title-icn {
    background-image: url(../img/icn_command_filter.svg);
}
.rtw .user-filter-title-icn {
    background-image: url(../img/icn_rtw_process_filter.svg);
}
.admin .user-filter-title-icn {
    background-image: url(../img/icn_admin_filter.svg);
}
.user-filter-title-label {
    color: #6b6b6b;
}

.user-filter-btn {
    display: inline-flex;
    cursor: pointer;
    font-size: 0.8em;
    color: #ef8009;
    border: 1px solid #ef8009;
    padding: 0.4em 0.6em;
    margin: 0 0.1em;
    box-shadow: 1px 1px #c1c1c1;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    width: 6.4em;
    height: 3em;
    line-height: 1.2em;
    justify-content: center;
}
.user-filter-btn.selected {
    background-color: #ef8009;
    color: white;
}

.user-new-btn {
    align-items: center;
    margin-left: auto;
    background-color: #ef8009;
    height: 3em;
    justify-content: center;
    display: none;
    color: white;
    padding: 0 0.6em;
}
.user-new-btn-icn {
    width: 1.4em;
    height: 1.4em;
    background-image: url(../img/icn_user_new.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 0.4em;
}
.user-new-btn-label {
}

.command-btn {
    height: 3em;
    font-size: 0.8em;
    align-items: center;
    background-color: #ef8009;
    justify-content: center;
    display: inline-flex;
    color: white;
    padding: 0.4em 0.6em;
    margin: 0 0.2em;
    box-shadow: 1px 1px #c1c1c1;
    cursor: pointer;
}
.command-btn-icn {
    width: 1.4em;
    height: 1.4em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 0.4em;
}
.message .command-btn-icn {
    background-image: url(../img/icn_create_msg.svg);
}
.command-btn-label {
    text-align: center;
}
.command-btn.disabled {
    cursor: none;
    background-color: #949494;
}

.discover-hotspot-btn {
    display: none !important;
    align-items: center;
    background-color: #e0002a;
    height: 3em;
    justify-content: center;
    display: inline-flex;
    color: white;
    padding: 0 0.6em;
    box-shadow: 1px 1px #c1c1c1;
    cursor: pointer;
}
.discover-hotspot-btn-icn {
    width: 1.8em;
    height: 1.8em;
    background-image: url(../img/icn_hotspot.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 0.4em;
}
.discover-hotspot-btn-label {
}
.content-container {
    width: 100%;
    height: 50em;
}

.user-table {
    margin-top: 2em;
    width: 100%;
    height: 100%;
}

.ag-cell-value {
    display: flex;
}
.ag-header-cell-label {
    justify-content: center;
}
.ag-theme-material .ag-header-cell {
    text-align: center;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
}
.ag-theme-material .ag-cell {
    text-align: center;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
}
.user-table-row {
}
.user-table-row:hover {
    background-color: #ef80092b;
}
.user-item-container-empty {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: #6b6b6b;
}
.user-item:hover {
    background-color: #ef80092b;
}

.user-item-checkbox {
}

.user-item-checkbox {
    margin: 0 !important;
}
.user-item-avatar {
    width: 2.5em;
    height: 2.5em;
    min-width: 2.5em;
    min-height: 2.5em;
    background-image: url(../img/icn_default_profile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-radius: 999em;
}

.user-item-name-label {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-item-id-label {
    width: 100%;
    font-size: 0.85em;
    text-align: left;
    color: #8a8a8a;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-item-content-container {
    width: 6em;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.user-item-content-container.name {
    width: 100%;
    margin-left: 1em;
    line-height: 1.2em;
    flex-direction: column;
    justify-content: center;
}

.user-item-cell {
    width: 6em;
    height: 100%;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.user-item-cell:nth-child(1) {
    margin-left: 0;
}
.user-item-cell.name {
    width: 100%;
}
.user-item-cell.location {
    width: 100%;
}
.user-item-cell.status {
    width: 8em;
    flex-wrap: nowrap;
}
.user-item-cell.commands {
    width: 100%;
    justify-content: center;
}
.user-item-label {
    width: 6em;
    margin: auto;
    word-break: break-word;
    text-align: center;
}
.user-item-label:nth-last-child(1) {
}
.user-item-label.status {
    margin: 0;
}
.user-item-label.gender {
    width: 4em;
}
.user-item-label.phone {
    width: 7em;
}
.user-item-label.room {
    width: 3em;
}
.user-item-label.jobcat1 {
    width: 100%;
}
.user-item-label.jobcat2 {
    width: 100%;
    font-size: 0.7em;
}
.user-item-label.app-installed {
    width: 4em;
}
.user-item-btn {
    width: 2em;
    height: 2em;
    background-color: #ef8009;
    background-size: 1.3em 1.3em;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.2em;
    margin-right: 0.2em !important;
    cursor: pointer;
    box-shadow: 1px 1px #c1c1c1;
}
.user-item-btn:nth-child(1) {
    margin-right: 0;
}
.user-item-btn.history {
    background-image: url(../img/icn_history.svg);
}
.user-item-btn.self-reports {
    background-image: url(../img/icn_checkbox.svg);
}
.user-item-btn.pre-med {
    background-image: url(../img/icn_pre_medical.svg);
}

.user-item-locate-container {
    width: 5em;
    margin: auto;
    word-break: break-word;
    text-align: center;
}
.user-item-loc-arrow-icn {
    width: 1em;
    height: 1em;
    margin: 0 0.2em;
    background-image: url(../img/icn_lr_arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.user-item-loc-icn {
    width: 3em;
    height: 2.4em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.user-item-loc-icn.camp {
    background-image: url(../img/icn_camp.svg);
}
.user-item-loc-icn.camp.active {
    background-image: url(../img/icn_camp_active.svg);
}
.user-item-loc-icn.transit {
    background-image: url(../img/icn_transit.svg);
}
.user-item-loc-icn.transit.active {
    background-image: url(../img/icn_transit_active.svg);
}
.user-item-loc-icn.tunnel {
    background-image: url(../img/icn_tunnel.svg);
}
.user-item-loc-icn.tunnel.active {
    background-image: url(../img/icn_tunnel_active.svg);
}

.user-item-cell.job {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.user-item-loader-btn {
    display: flex;
    justify-content: center;
    margin: 1.4em 0;
    cursor: pointer;
}

.user-item-loader-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/icn_reload.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.loading .user-item-loader-icon {
    display: none;
}

.user-item-loader-label {
    color: #ef8009;
    margin-left: 0.6em;
}

.loading .user-item-loader-label {
    display: none;
}

.command-dialog {
    position: absolute;
    display: flex;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.command-dialog-content {
    width: 25em;
    background-color: white;
    padding: 1em;
    box-sizing: border-box;
}

.command-dialog-close-btn {
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    background-image: url(../img/icn_close_s.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: auto;
    margin-left: auto;
}

.command-dialog-title-textbox {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.6em 0.4em;
    border: 0 none;
    background-color: #f6f6f6;
}

.command-dialog-message-textarea {
    width: 100%;
    height: 15em;
    margin-bottom: 1em;
    background-color: #f6f6f6;
    border: 0 none;
}
.command-dialog-message-textarea:focus {
    border: 0 none !important;
    outline: none !important;
}

.command-dialog-send-btn {
    background-color: #ef8009;
    cursor: pointer;
    padding: 0.6em 0.6em;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 0.2em;
    justify-content: center;
    align-items: center;
}

.command-dialog-send-btn-label {
    color: white;
    font-size: 1.2em;
}

.command-dialog-send-btn-icon {
    width: 1.2em;
    height: 1.2em;
    background-image: url(../img/icn_create_msg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0.8em;
}

.hd-content-container {
    width: 65%;
    min-width: 110em;
}
.hd-history-title-container {
    width: 100%;
    font-size: 0.9em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #ededed;
    padding: 0.4em 0;
    margin-top: 1.2em;
}
.hd-history-items-container {
    width: 100%;
    max-height: 40em;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 1.6em;
}
.status-history-item {
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #e8e8e8;
    padding: 1em 0;
}
.shi-upper-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.shi-lower-container {
    width: 100%;
    display: flex;
}
.shi-title-label {
    font-weight: 500;
    width: 7em;
    margin: auto;
    text-align: center;
    color: #848484;
}
.shi-title-label.schedule-date {
    width: 10em;
}
.shi-title-label.test-date {
    width: 10em;
}
.shi-title-label.result-date {
    width: 10em;
}
.shi-title-label.expiry-date {
    width: 10em;
}
.shi-title-label.owner-name {
    width: 12em;
}
.shi-title-label.reporter-name {
    width: 12em;
}
.shi-title-label.attachment {
    margin-top: auto;
    margin: auto;
}
.shi-value-label {
    width: 7em;
    margin: 1em;
    text-align: center;
    word-break: break-word;
}
.shi-value-label.schedule-date {
    width: 10em;
}
.shi-value-label.test-date {
    width: 10em;
}
.shi-value-label.result-date {
    width: 10em;
}
.shi-value-label.expiry-date {
    width: 10em;
}
.shi-value-label.owner-name {
    width: 12em;
}
.shi-value-label.reporter-name {
    width: 12em;
}
.shi-attachment-container {
    width: 7em;
    text-align: center;
}
.shi-attachment {
    width: 1.1em;
    height: 1.1em;
    display: inline-flex;
    margin-right: 0.6em;
    cursor: pointer;
    background-image: url(../img/icn_attachment.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hd-dialog-loader-btn {
    display: flex;
    justify-content: center;
    margin: 1.4em 0;
    cursor: pointer;
}

.hd-dialog-loader-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/icn_reload.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.loading .hd-dialog-loader-icon {
    display: none;
}
.hd-dialog-loader-label {
    color: #ef8009;
    margin-left: 0.6em;
}

.loading .hd-dialog-loader-label {
    display: none;
}

.sr-content-container {
    width: 65%;
    min-width: 80em;
}
.sr-title-container {
    width: 100%;
    font-size: 0.9em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #ededed;
    padding: 0.4em 0;
    margin-top: 1.2em;
}
.sr-items-container {
    width: 100%;
    max-height: 40em;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 1.6em;
}
.sr-title-label {
    font-weight: 500;
    width: 5em;
    margin: auto;
    text-align: center;
    color: #848484;
}
.sr-title-label:nth-child(10) {
    width: 8em;
}
.sr-title-label:nth-child(11) {
    width: 8em;
}
.sr-title-label:nth-child(12) {
    width: 10em;
}
.report-item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.9em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #e8e8e8;
    padding: 1em 0;
}
.r-value-label {
    width: 5em;
    margin: auto;
    text-align: center;
    word-break: break-word;
}
.r-value-label.warn {
    color: #ff2929;
    font-weight: 500;
}
.r-value-label:nth-child(10) {
    width: 8em;
}
.r-value-label:nth-child(11) {
    width: 8em;
}
.r-value-label:nth-child(12) {
    width: 10em;
}

.cmessage-dialog {
}
.cmessage-selector {
    margin-top: 1em;
    margin-bottom: 0;
}
.cmessage-dialog-title-textbox {
    margin-top: 0.4em;
}

.user-dropdown-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-right: 1.2em;
    margin-bottom: 0.6em;
}
.user-dropdown-top-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
}
.user-dropdown-bottom-container {
    display: flex;
    flex-wrap: nowrap;
}
.user-dropdown-title-icn {
    /* width: 1.3em;
    height: 1.3em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin-right: 0.4em; */
}
.user-dropdown-title-label {
    color: #6b6b6b;
}

select {
    width: 12em;
    height: 2.4em;
    background: #ef8009;
    border: none;
    color: #ffffff;
    font: inherit;
    font-size: unset;
    padding: 0.2em;
}
