{% extends "base_site.html" %}

{% block title %} Beacon Tag {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_registration.html" %}
  </div>
{% endblock sidebar %}

{% block javascripts %}
  {{ super() }}
  <script>
    function exportTableToCsv(tableId, filename) {
      if (filename == null || typeof filename == undefined)
          filename = tableId;
      filename += ".csv";

      var BOM = "\uFEFF";

      var table = document.getElementById(tableId);
      var csvString = BOM;
      for (var rowCnt = 0; rowCnt < table.rows.length; rowCnt++) {
          var rowData = table.rows[rowCnt].cells;
          for (var colCnt = 0; colCnt < rowData.length; colCnt++) {
              var columnData = rowData[colCnt].innerHTML;
              if (columnData == null || columnData.length == 0) {
                  columnData = "".replace(/"/g, '""');
              }
              else {
                  columnData = columnData.toString().replace(/"/g, '""'); // escape double quotes
              }
              csvString = csvString + '"' + columnData + '",';
          }
          csvString = csvString.substring(0, csvString.length - 1);
          csvString = csvString + "\r\n";
      }
      csvString = csvString.substring(0, csvString.length - 1);

      // IE 10, 11, Edge Run
      if (window.navigator && window.navigator.msSaveOrOpenBlob) {

          var blob = new Blob([decodeURIComponent(csvString)], {
              type: 'text/csv;charset=utf8'
          });

          window.navigator.msSaveOrOpenBlob(blob, filename);

      } else if (window.Blob && window.URL) {
          // HTML5 Blob
          var blob = new Blob([csvString], { type: 'text/csv;charset=utf8' });
          var csvUrl = URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.setAttribute('style', 'display:none');
          a.setAttribute('href', csvUrl);
          a.setAttribute('download', filename);
          document.body.appendChild(a);

          a.click()
          a.remove();
      } else {
          // Data URI
          var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csvString);
          var blob = new Blob([csvString], { type: 'text/csv;charset=utf8' });
          var csvUrl = URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.setAttribute('style', 'display:none');
          a.setAttribute('target', '_blank');
          a.setAttribute('href', csvData);
          a.setAttribute('download', filename);
          document.body.appendChild(a);
          a.click()
          a.remove();
      }
    }
  </script>
{% endblock javascripts %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">  <!-- x_content 1 -->

          <div class="x_content">  <!-- x_content 2 -->
            <table id="beacon-table" class="table table-striped projects">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>
                    <form id="category" action="/registration/beacon" method="POST">
                      <select id="category" name="category" onchange="this.form.submit()">
                        {% if selected_category == "100" %}
                          <option id="100" value="100" selected>All</option>
                        {% else %}
                          <option id="100" value="100">All</option>
                        {% endif %}
                        {% for k, v in category.items() %}
                          {% if selected_category == k %}
                            <option id="{{ k }}" value="{{ k }}" selected>{{ v }}</option>
                          {% else %}
                            <option id="{{ k }}" value="{{ k }}">{{ v }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </form>
                  </th>
                  <th>
                    <button type="button" class="btn btn-default btn-xs"
                        onclick="exportTableToCsv('beacon-table', 'Beacon Tag')"
                        style="margin-bottom: 0;">
                      CSV Download
                    </button>
                  </th>
                </tr>
                <tr>
                  <th>Name</th>
                  <th>Mac Address</th>
                  <th>Categroy</th>
                  <th>MOI</th>
                </tr>
              </thead>
              <tbody>
                {% for beacon in beacon_list %}
                  <tr>
                    <td>{{ beacon.name }}</td>
                    <td>{{ beacon.mac }}</td>
                    <td>{{ category[beacon.tags[0]] }}</td>
                    {% if 'is_visible_moi' in beacon.custom %}
                      {% if beacon.custom.is_visible_moi %}
                        <td>ON</td>
                      {% else %}
                        <td>OFF</td>
                      {% endif %}
                    {% else %}
                      <td>OFF</td>
                    {% endif %}
                  </tr>
                {% endfor %}
                <tr>
                  <td> Total </td>
                  <td> {{ beacon_list|length }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>  <!-- end x_content 2 -->

        </div>  <!-- end x_content 1 -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
