{% extends "base_site.html" %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_registration.html" %}
  </div>
{% endblock sidebar %}

{% block title %} Register IPcam {% endblock title %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">

      <div class="row">  <!-- Start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel tile">  <!-- start x_panel -->

            <div class="x_title">
              <div class="x_title_left_div">
                <h3>IPcam</h3>
              </div>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">  <!-- start x_content -->

              <form id="create" action="/registration/ipcam/create"
                class="form-horizontal form-label-left" method="post">
                <div class="col-md-9">
                  <br>
                  <div class="item form-group">
                    <label class="control-label col-md-4" for="ip">
                      IP <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                      <input type="text" id="ip" name="ip" value=""
                          class="form-control col-md-6 col-xs-6" required="required">
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-4" for="id">
                      ID <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                      <input type="text" id="id" name="id" value=""
                          class="form-control col-md-6 col-xs-6" maxlength="20" required="required">
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-4" for="password">
                      Password <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                      <input type="password" id="password" name="password" value="" required="required"
                          class="form-control col-md-6 col-xs-6" maxlength="20">

                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-4" for="name">
                      Name <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                      <input type="text" id="name" name="name" value=""
                          class="form-control col-md-6 col-xs-6" maxlength="30" required="required">
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-4">Category
                    </label>
                    <div class="col-md-8">
                      <select id="kind" name="kind" class="form-control">
                        {% for k, v in category.items() %}
                          <option id="{{ k }}" value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <br>
                  <div style="text-align: right">
                    <button type="submit" class="btn btn-default">Register</button>
                  </div>
                </div>
              </form>

            </div>  <!-- End x_content -->

          </div>  <!-- End x_panel -->
        </div>
      </div>  <!-- End row-->

    </div>
  </div>

{% endblock content %}
