{% extends "base_site.html" %}

{% block title %} Beacon Scanner {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_registration.html" %}
  </div>
{% endblock sidebar %}

{% block javascripts %}
  {{ super() }}
  <script>
    function exportTableToCsv(tableId, filename) {
      if (filename == null || typeof filename == undefined)
          filename = tableId;
      filename += ".csv";

      var BOM = "\uFEFF";

      var table = document.getElementById(tableId);
      var csvString = BOM;
      for (var rowCnt = 0; rowCnt < table.rows.length; rowCnt++) {
          var rowData = table.rows[rowCnt].cells;
          for (var colCnt = 0; colCnt < rowData.length; colCnt++) {
              var columnData = rowData[colCnt].innerHTML;
              if (columnData == null || columnData.length == 0) {
                  columnData = "".replace(/"/g, '""');
              }
              else {
                  columnData = columnData.toString().replace(/"/g, '""'); // escape double quotes
              }
              csvString = csvString + '"' + columnData + '",';
          }
          csvString = csvString.substring(0, csvString.length - 1);
          csvString = csvString + "\r\n";
      }
      csvString = csvString.substring(0, csvString.length - 1);

      // IE 10, 11, Edge Run
      if (window.navigator && window.navigator.msSaveOrOpenBlob) {

          var blob = new Blob([decodeURIComponent(csvString)], {
              type: 'text/csv;charset=utf8'
          });

          window.navigator.msSaveOrOpenBlob(blob, filename);

      } else if (window.Blob && window.URL) {
          // HTML5 Blob
          var blob = new Blob([csvString], { type: 'text/csv;charset=utf8' });
          var csvUrl = URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.setAttribute('style', 'display:none');
          a.setAttribute('href', csvUrl);
          a.setAttribute('download', filename);
          document.body.appendChild(a);

          a.click()
          a.remove();
      } else {
          // Data URI
          var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csvString);
          var blob = new Blob([csvString], { type: 'text/csv;charset=utf8' });
          var csvUrl = URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.setAttribute('style', 'display:none');
          a.setAttribute('target', '_blank');
          a.setAttribute('href', csvData);
          a.setAttribute('download', filename);
          document.body.appendChild(a);
          a.click()
          a.remove();
      }
    }
  </script>
{% endblock javascripts %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">  <!-- x_content 1 -->

          <div class="x_content">  <!-- x_content 2 -->
            <table id="scanner-table" class="table table-striped projects">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                    <form id="location" action="/registration/scanner" method="POST">
                  <th>
                      <select id="location" name="location" onchange="this.form.submit()">
                        {% if selected_location == 0 %}
                          <option id="100" value="100">All</option>
                          <option id="1" value="1">AT1</option>
                          <option id="0" value="0" selected>AT2</option>
                        {% elif selected_location == 100 %}
                          <option id="100" value="100" selected>All</option>
                          <option id="1" value="1">AT1</option>
                          <option id="0" value="0">AT2</option>
                        {% else %}
                          <option id="100" value="100">All</option>
                          <option id="1" value="1" selected>AT1</option>
                          <option id="0" value="0">AT2</option>
                        {% endif %}
                      </select>
                  </th>
                  <th>
                      <select id="onoff" name="onoff" onchange="this.form.submit()">
                        {% if selected_onoff == 0 %}
                          <option id="100" value="100">All</option>
                          <option id="1" value="1">ON</option>
                          <option id="0" value="0" selected>OFF</option>
                        {% elif selected_onoff == 100 %}
                          <option id="100" value="100" selected>All</option>
                          <option id="1" value="1">ON</option>
                          <option id="0" value="0">OFF</option>
                        {% else %}
                          <option id="100" value="100">All</option>
                          <option id="1" value="1" selected>ON</option>
                          <option id="0" value="0">OFF</option>
                        {% endif %}
                      </select>
                  </th>
                    </form>
                  <th>
                    <button type="button" class="btn btn-default btn-xs"
                        onclick="exportTableToCsv('scanner-table', 'Beacon Scanner')"
                        style="margin-bottom: 0;">
                      CSV Download
                    </button>
                  </th>
                  <th></th>
                </tr>
                <tr>
                  <th>Name</th>
                  <th>Mac Address</th>
                  <th>Location</th>
                  <th>Status</th>
                  <th>IP Address</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
                {% for scanner in scanner_list %}
                  <tr>
                    <td>
                      <a href="/registration/scanner/{{ scanner.id }}/update">
                        {{ scanner.name }}
                      </a>
                    </td>
                    <!-- wifi mac -->
                    {% if "network" in scanner %}
                      {% if "wifi_mac" in scanner.network %}
                        <td>{{ scanner.network.wifi_mac }}</td>
                      {% else %}
                        <td></td>
                      {% endif %}
                    {% else %}
                      <td></td>
                    {% endif %}
                    <!-- location -->
                    <td>
                      {% if scanner.tags|length != 0 %}
                        {{ location[scanner.tags[0]] }}
                      {% else %}
                      {% endif %}
                    </td>
                    <!-- status -->
                    {% if scanner.status == 0 %}
                      <td style="padding-left: 20px;"><img src="/static/images/off.png"
                          style="width:16px; border: 2px solid #000000; border-radius: 100%"></td>
                    {% else %}
                      <td style="padding-left: 20px;"><img src="/static/images/on.png"
                          style="width:16px; border: 2px solid #000000; border-radius: 100%"></td>
                    {% endif %}
                    <!-- ip address -->
                    {% if "network" in scanner %}
                      {% if "ip" in scanner.network %}
                        <td>{{ scanner.network.ip }}</td>
                      {% else %}
                        <td></td>
                      {% endif %}
                    {% else %}
                      <td></td>
                    {% endif %}
                    {% if 'is_counted_hub' in scanner.custom %}
                      {% if scanner.custom.is_counted_hub %}
                        <td>On</td>
                      {% else %}
                        <td></td>
                      {% endif %}
                    {% else %}
                      <td></td>
                    {% endif %}
                  </tr>
                {% endfor %}
                <tr>
                  <td> Total </td>
                  <td> {{ scanner_list|length }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>  <!-- end x_content 2 -->

        </div>  <!-- end x_content 1 -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
