{% extends "base_site.html" %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_registration.html" %}
  </div>
{% endblock sidebar %}

{% block title %} Update Beacon {% endblock title %}

{% block javascripts %}
  {{ super() }}
  <script>
// Button click handler to start scanning and configuring
      async function scanAndConfigure(uuid, majorNumber, minorNumber, name) {
        document.getElementById("updateButton").disabled = true;
        document.getElementById("removeButton").disabled = true;
        let major = majorNumber;
        let minor = minorNumber;
        if (!major || !minor) {
          window.alert("Major or Minor is empty. Please refresh and try again.");
        }

        document.getElementById("scanButton").disabled = true;
        // output(`Scanning... ${major}:${minor}`);
        const beaconUuidBytes = Uint8Array.of(0xd5,0x26,0xb4,0x6a,0x85,0x4d,0x01,0x8d,0x35,0x5b,0x90,0xee,0x25,0x27,0xfd,0x4e);
        // Let's scan and configure!
        const device = await startScanning(beaconUuidBytes, major, minor, name, true);
        if (device.id) {
          document.getElementById("deviceId").value = device.id;
          document.getElementById("updateButton").disabled = false;
          document.getElementById("removeButton").disabled = false;
        } else {
          document.getElementById("deviceId").value = "";
          window.alert("Beacon is not set. Please try again.");
          document.getElementById("scanButton").disabled = false;
        }
      }

      // **API**
      // Scan for a beacon and wait for a selection.
      //   uuidBytes: Uint8Array
      //   major: uint (no larger than 65535)
      //   minor: uint (no larger than 65535)
      //   edit: uint (no larger than 65535)
      // Return: Bluetooth Device
      async function startScanning(uuidBytes, major, minor, name, edit) {
        if (major >= 0xFFFF || minor >= 0xFFFF) {
          throw "Major Minor cannot be larger than 65535";
        }
        if (!navigator.bluetooth) {
          throw "Web Bluetooth API must be enabled.";
        }

        const serviceId = 0xFF00;
        const uuidCharId = 0xFF01;
        const nameCharId = 0xFF09;
        const majorCharId = 0xFF02;
        const minorCharId = 0xFF03;
        const txCharId = 0xFF05;
        const pwCharId = 0xFF06;
        const advIntCharId = 0xFF07;
        const idCharId = 0xFF08;

        const txInt = 0;  // grade 0 == +4dBm, grade 1 == 0dBm, grade 2 == -4dBm, ...
        const advInt = 7;  // unit: 100ms. Advertise Interval == 700ms

        let filters;
        if (edit) {
          // If it's editing the existing beacon, only scan the beacon with the same name.
          filters = [
            {name: name}
          ];
        } else {
          filters = [
            {namePrefix: 'S'}, // Beacon names start with "S0"
            {namePrefix: 'MkiBeacon_'},
            {namePrefix: 'mibs'}
          ];
        }
        let options = {
          filters: filters,
          optionalServices: [serviceId]
        };

        try {
          // Start scanning. Wait for the user to select a beacon to configure.
          const device = await navigator.bluetooth.requestDevice(options);
          // A Beacon is selected. See how it looks like.
          const server = await device.gatt.connect();
          const service = await server.getPrimaryService(serviceId);
          const pwCharacteristic = await service.getCharacteristic(pwCharId);
          await pwCharacteristic.writeValueWithResponse(Uint8Array.from([77, 111, 107, 111, 52, 51, 50, 49])); // Moko4321
          const uuidCharacteristic = await service.getCharacteristic(uuidCharId);
          await uuidCharacteristic.writeValueWithResponse(uuidBytes);
          const majorCharacteristic = await service.getCharacteristic(majorCharId);
          await majorCharacteristic.writeValueWithResponse(Uint8Array.of((major >> 8) & 0xFF, major & 0xFF));
          const minorCharacteristic = await service.getCharacteristic(minorCharId);
          await minorCharacteristic.writeValueWithResponse(Uint8Array.of((minor >> 8) & 0xFF, minor & 0xFF));
          const nameCharacteristic = await service.getCharacteristic(nameCharId);
          await nameCharacteristic.writeValueWithResponse(Uint8Array.from(Array.from(name).map(x => x.charCodeAt(0))));
          const idCharacteristic = await service.getCharacteristic(idCharId);
          await idCharacteristic.writeValueWithResponse(Uint8Array.from(Array.from('00001').map(x => x.charCodeAt(0))));
          const advIntCharacteristic = await service.getCharacteristic(advIntCharId);
          await advIntCharacteristic.writeValueWithResponse(Uint8Array.of((advInt >> 8) & 0xFF, advInt & 0xFF));
          const txCharacteristic = await service.getCharacteristic(txCharId);
          await txCharacteristic.writeValueWithResponse(Uint8Array.of((txInt >> 8) & 0xFF, txInt & 0xFF));
          console.log('Successfully configured.');
          await device.gatt.disconnect();
          // All done!
          return device;
        } catch (e) {
          return e;
        }
      }

      function output(text) {
          document.getElementById("output").innerHTML = text;
      }
  </script>
{% endblock javascripts %}


{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">

      <div class="row">  <!-- Start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel tile">  <!-- start x_panel -->

            <div class="x_title">
              <div class="x_title_left_div">
                <h3>Beacon</h3>
              </div>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">  <!-- start x_content -->

              <form id="hook" action="/registration/beacon/{{ beacon.id}}/update"
                class="form-horizontal form-label-left" method="post">
                <div class="col-md-9">
                  <br>
                  {% if beacon.kind == "mibs00001" %}
                    <div class="item form-group">
                      <label class="control-label col-md-4" for="name">
                        Beacon <span class="required">*</span>
                      </label>
                      <div class="col-md-8">
                        <button id="scanButton" type="button" class="btn btn-default btn-xl"
                            onclick="scanAndConfigure('{{beacon.beacon_spec.uuid}}', '{{beacon.beacon_spec.major}}', '{{beacon.beacon_spec.minor}}', '{{beacon.kind}}')"
                            >Scan & Select</button>
                      </div>
                    </div>
                  {% endif %}
                  <div class="item form-group">
                    <label class="control-label col-md-4" for="name">Name
                    </label>
                    <div class="col-md-8">
                      <input type="text" id="name" name="name" value="{{ beacon.name }}"
                          class="form-control col-md-6 col-xs-6" maxlength="16">
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-4">Category
                    </label>
                    <div class="col-md-8">
                      <select id="kind" name="kind" class="form-control">
                        {% for k, v in category.items() %}
                          {% if k == beacon.tags[0] %}
                            <option id="{{ k }}" value="{{ k }}" selected>{{ v }}</option>
                          {% else %}
                            <option id="{{ k }}" value="{{ k }}">{{ v }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-4">IPCAM
                    </label>
                    <div class="col-md-8">
                      <select id="ipcam" name="ipcam" class="form-control">
                        <option id="" value="">None</option>
                        {% for ipcam in ipcam_list %}
                          {% if ipcam.tags[0] == "2" %} <!-- 2 is Equipment type -->
                            {% if 'ipcamId' in beacon.custom %}
                              {% if beacon.custom.ipcamId == ipcam.id %}
                                <option id="{{ ipcam.id }}" value="{{ ipcam.id }}" selected>{{ ipcam.name }}</option>
                              {% else %}
                                <option id="{{ ipcam.id }}" value="{{ ipcam.id }}">{{ ipcam.name }}</option>
                              {% endif %}
                            {% else %}
                              <option id="{{ ipcam.id }}" value="{{ ipcam.id }}">{{ ipcam.name }}</option>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-4">MOI
                    </label>
                    <div class="col-md-8">
                      <select id="moi" name="moi" class="form-control">
                        {% if 'is_visible_moi' in beacon.custom %}
                          {% if beacon.custom.is_visible_moi %}
                            <option id="1" value="1" selected>ON</option>
                            <option id="0" value="0">OFF</option>
                          {% else %}
                            <option id="1" value="1">ON</option>
                            <option id="0" value="0" selected>OFF</option>
                          {% endif %}
                        {% else %}
                          <option id="1" value="1">ON</option>
                          <option id="0" value="0" selected>OFF</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                  <br>
                  <input type="hidden" id="deviceId" name="deviceId" value=""
                      class="form-control col-md-6 col-xs-6">
                  <input type="hidden" id="hid" name="hid" value="{{ beacon.hub_id }}"
                      class="form-control col-md-6 col-xs-6">
                  <div style="text-align: right">
                    <button id="updateButton" type="submit" class="btn btn-default">Update</button>
                    {% if beacon.kind == "mibs00001" %}
                      <a href="/registration/beacon/{{ beacon.id }}/delete">
                        <button id="removeButton" type="button" class="btn btn-danger">Remove</button>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </form>

            </div>  <!-- End x_content -->

          </div>  <!-- End x_panel -->
        </div>
      </div>  <!-- End row-->

    </div>
  </div>

{% endblock content %}
