
{% extends "base_site.html" %}

{% block title %} Specifications {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <!-- start page title -->
      <div class="page-title">
        <div class="title_left">
        </div>

        <div class="title_right">
        </div>
      </div>
      <!-- end page title -->

      <div class="clearfix"></div>

      <div class=""><!-- start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">


            <div class="x_title">
              <h2> Specifications </h2>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">

              <div class="col-md-9 col-sm-9 col-xs-12">
                <form id="specifications" method="post">
                  <select class="form-control" id="version" name="version" onchange="this.form.submit()">
                    {% for version in version_list %}
                      {% if selected and selected == version %}
                        <option id="{{ version }}" selected>{{ version }}</option>
                      {% else %}
                        <option id="{{ version }}">{{ version }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </form>

                <br>

                <div class="bs-example" data-example-id="simple-jumbotron">
                  <div class="jumbotron">
                    {% if selected %}
                      <h1>{{ selected }}</h1>
                      <h2>Json</h2>
                      <p>Json</p>
                      Json
                    {% else %}
                      <h1>Json</h1>
                      <p>Json</p>
                      Json
                    {% endif %}
                  </div>
                </div>
              </div>

            </div><!-- End x_content -->
          </div><!-- End x_panel-->
        </div>
      </div><!-- End row -->
    </div>
  </div>

{% endblock content %}