
{% extends "base_site.html" %}

{% block title %} Specifications {% endblock title %}

{% block javascripts %}
  {{ super() }}
  <script>
    var jsonData = {{ content | tojson }};
    if (jsonData !== null && !jQuery.isEmptyObject(jsonData)) {
      document.getElementById("jsonField").innerHTML = JSON.stringify(jsonData, undefined, 4);
    }
  </script>
{% endblock javascripts %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="row"><!-- start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">


            <div class="x_title">
              <h2> Specifications </h2>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <form id="specifications" method="post">
                  {% if version_list %}
                    <select class="form-control" id="version" name="version" onchange="this.form.submit()">
                      {% for version in version_list %}
                        {% if selected and selected == version %}
                          <option id="{{ version }}" selected>{{ version }}</option>
                        {% else %}
                          <option id="{{ version }}">{{ version }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  {% else %}
                    <select class="form-control" id="version" name="version" onchange="this.form.submit()" disabled>
                      <option>Please upload specifications file</option>
                    </select>
                  {% endif %}
                </form>

                <br>

                <pre class="json-padding json-height jumbotron" id="jsonField">
                </pre>
              </div>

              <!-- Upload Button -->
              <form id="upload" action="/endpoints/{{ current_product.id }}/upload" method="POST" enctype="multipart/form-data">
                <label class="btn btn-default btn-file">Upload
                  <input type="file" name="file" form="upload" accept="application/json" style="display: none;" onChange="this.form.submit();"/>
                </label>
              </form>

              <!-- Download button -->
              {% if version_list %}
                <a href="/endpoints/{{ current_product.id }}/{{ selected }}/download"><button class="btn btn-default">Download</button></a>
              {% else %}
                <a href="/endpoints/{{ current_product.id }}/{{ selected }}/download"><button class="btn btn-default" disabled>Download</button></a>
              {% endif %}

            </div><!-- End x_content -->
          </div><!-- End x_panel-->
        </div>
      </div><!-- End row -->
    </div>
  </div>

{% endblock content %}
