
{% extends "base_site.html" %}

{% block title %} Specifications {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
  {{ super() }}
  <script>
    var jsonData = {{ content | tojson }};
    if (jsonData !== null && !jQuery.isEmptyObject(jsonData)) {
      document.getElementById("jsonField").innerHTML = JSON.stringify(jsonData, undefined, 4);
    }

    function onDownload(productId) {
      var specification = document.getElementById('specification2');
      var model = document.getElementById('model');
      if (specification.value === null || specification.value === "") {
        alert("Please selected specification.");
      } else if (model.value === null || model.value === "") {
        alert("Please selected model.");
      } else {
        window.location.href = "/endpoints/" + productId + "/" + specification.value + "/" + model.value + "/download";
      }
    }
  </script>

  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">

      <div class="row"><!-- start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">


            <div class="x_title">
              <h2> Specifications </h2>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-9 col-sm-9 col-xs-12">

                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="specification-tab" role="tab" data-toggle="tab" aria-expanded="true">Specification</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="headerFile-tab" data-toggle="tab" aria-expanded="false">Header File</a>
                        </li>
                      </ul>

                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="specification-tab">
                          <div class="x_content">
                            <div class="">


                              <table id="datatable" class="table table-striped table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Version</th>
                                      <th>Updated time</th>
                                      <th>Updated user</th>
                                      <th></th>
                                    </tr>
                                  </thead>

                                  <tbody>
                                    {% for specification in specification_list %}
                                      <tr>
                                        <td>
                                          <a href="/endpoints/{{ current_product.id }}/specifications/{{ specification.id }}">
                                            {{ specification.version }}
                                          </a>
                                        </td>
                                        <td>{{ specification.last_updated_time | datetimeFilter }}</td>
                                        <td>{{ specification.last_updated_user }}</td>
                                        <td class="center-align">
                                          <a href="/endpoints/{{ current_product.id }}/specifications/{{ specification.id }}/download">
                                            <i class="fa fa-cloud-download"></i>
                                          </a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>

                            </div>

                            <br>

                            <!-- Upload Button -->
                            <form class="right-align" id="upload" action="/endpoints/{{ current_product.id }}/upload" method="POST" enctype="multipart/form-data">
                              <label class="btn btn-default btn-file">Upload
                                <input type="file" name="file" form="upload" accept="application/json" style="display: none;" onChange="this.form.submit();"/>
                              </label>
                            </form>
                          </div>
                        </div>  <!-- end specification-tab -->

                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="headerFile-tab">
                          <div class="x_content">
                            <div class="item form-group">
                              <div class="form-horizontal form-label-left">
                                <label class="control-label col-md-2" for="specification2">Version
                                </label>
                              </div>
                              <div class="col-md-10">
                                {% if specification_list %}
                                  <select class="form-control" id="specification2" name="specification2">
                                    {% for specification in specification_list %}
                                      {% if selected and selected.version == specification.version %}
                                        <option id="{{ specification.id }}" value="{{ specification.id }}" selected>
                                          {{ specification.version }}
                                        </option>
                                      {% else %}
                                        <option id="{{ specification.id }}" value="{{ specification.id }}">
                                          {{ specification.version }}
                                        </option>
                                      {% endif %}
                                    {% endfor %}
                                  </select>
                                {% else %}
                                  <select class="form-control" id="specification2" name="specification2" disabled>
                                    <option value="">Please upload specifications file</option>
                                  </select>
                                {% endif %}
                              </div>
                            </div>

                            <br><br>

                            <div class="item form-group">
                              <div class="form-horizontal form-label-left">
                                <label class="control-label col-md-2" for="model">Model
                                </label>
                              </div>
                              <div class="col-md-10">
                                {% if model_list %}
                                  <select class="form-control" id="model" name="model">
                                    {% for model in model_list %}
                                      <option id="{{ model.id }}" value="{{ model.id }}" selected>{{ model.name }}</option>
                                    {% endfor %}
                                  </select>
                                {% else %}
                                  <select class="form-control" id="model" name="model" disabled>
                                    <option value="">Please create model</option>
                                  </select>
                                {% endif %}
                              </div>
                            </div>

                            <br><br>

                            <!-- Download button -->
                            <div class="right-align">
                              <button class="btn btn-default right" onclick="onDownload('{{ current_product.id }}');">Download</button>
                            </div>
                          </div>
                        </div>  <!-- headerFile-tab -->

                      </div>
                    </div>


              </div>
            </div><!-- End x_content -->
          </div><!-- End x_panel-->
        </div>
      </div><!-- End row -->
    </div>
  </div>

{% endblock content %}
