
{% extends "base_site.html" %}

{% block title %} Tests {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <!-- start row -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> Tests </h2>
              <div class="clearfix"></div>


                <form id="tests" class="form-horizontal form-label-left" method="post">
                  <div class="form-group">
                    <label class="control-label col-md-1 col-sm-1 col-xs-1">Version</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <select class="form-control" id="version" name="version" onchange="this.form.submit()">
                        {% for version in version_list %}
                          {% if selected and selected == version %}
                            <option id="{{ version }}" selected>{{ version }}</option>
                          {% else %}
                            <option id="{{ version }}">{{ version }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-1 col-sm-1 col-xs-1">Gadget</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <select class="form-control" id="gadget" name="gadget" onchange="this.form.submit()">
                        {% for _gadget in gadget_list %}
                          {% if gadget and gadget == _gadget %}
                            <option id="{{ _gadget }}" selected>{{ _gadget }}</option>
                          {% else %}
                            <option id="{{ _gadget }}">{{ _gadget }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </form>

            </div>
            <div class="x_content">

                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                  {% for request in content['requests'] %}
                    <div class="panel">
                      <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#r{{ request['id'] }}" aria-expanded="true" aria-controls="r{{ request['id'] }}">
                        <h3 class="panel-title">{{ request['name'] }} ({{ content['product'] }})</h3>
                      </a>
                      <div id="r{{ request['id'] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          <!-- request? -->
                          <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                              <h3>Request</h3>
                                id : {{ request['id'] }}<br>
                                name : {{ request['name'] }}<br>
                                type : {{ request['type'] }}<br>
                                timeout : {{ request['timeout'] }}<br>
                                params : {{ request['params'] }}<br>
                                return : {{ request['return'] }}<br>
                            </div>
                          </div>
                          <!-- response? -->
                          <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                              <h3>Response</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                  {% for event in content['events'] %}
                    <div class="panel">
                      <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#e{{ event['id'] }}" aria-expanded="true" aria-controls="e{{ event['id'] }}">
                        <h3 class="panel-title">{{ event['name'] }} ({{ content['product'] }})</h3>
                      </a>
                      <div id="e{{ event['id'] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          <!-- request? -->
                          <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                              <h3>Request</h3>
                                id : {{ event['id'] }}<br>
                                name : {{ event['name'] }}<br>
                                type : {{ event['type'] }}<br>
                                values : {{ event['values'] }}<br>
                            </div>
                          </div>
                          <!-- response? -->
                          <div class="bs-example" data-example-id="simple-jumbotron">
                            <div class="jumbotron">
                              <h3>Response</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                </div>

            </div><!-- End x_content-->
          </div><!-- End x_panel-->
        </div>

      </div>
      <!-- End row -->

    </div>
  </div>

{% endblock content %}