
{% extends "base_site.html" %}

{% block title %} Specifications {% endblock title %}

{% block javascripts %}
  {{ super() }}
  <script>
    var jsonData = {{ content | tojson }};
    if (jsonData !== null && !jQuery.isEmptyObject(jsonData)) {
      document.getElementById("jsonField").innerHTML = JSON.stringify(jsonData, undefined, 4);
    }
  </script>


{% endblock javascripts %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">

      <div class="row"><!-- start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_title">
              <h2> Specification </h2>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="panel-body">
                    <pre class="jumbotron" id="jsonField">
                    </pre>
                  </div>
              </div>

            </div><!-- End x_content -->
          </div><!-- End x_panel-->
        </div>
      </div><!-- End row -->
    </div>
  </div>

{% endblock content %}
