{% extends "base_site.html" %}

{% block title %} Logs {% endblock title %}
{% block javascripts %}

  {{ super() }}
{% endblock javascripts %}
{% block stylesheets %}
    <link href="/static/vendors/jsonTreeViewer/libs/jsonTree/jsonTree.css" rel="stylesheet"/>
    <script src="/static/vendors/jsonTreeViewer/libs/jsonTree/jsonTree.js"></script>
    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">
      <!-- start row -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form id="search" class="form-horizontal form-label-left" method="post">
                <div class="form-group">
                  <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"
                      aria-expanded="false">{{ limit }}<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu" style="min-width:55px; text-align:center">
                      <li><a href="?limit=20&keyword={{ keyword }}">20</a>
                      </li>
                      <li><a href="?limit=40&keyword={{ keyword }}">40</a>
                      </li>
                      <li><a href="?limit=100&keyword={{ keyword }}">100</a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-sm-4 alignright">
                    <div class="input-group">
                      <input type="text" id="keyword" name="keyword" class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Search</button>
                      </span>
                    </div>
                  </div>
                </div>
              </form>

              <a id="moveTop" class="btn btn-primary btn-xs" href="#" style="padding: 5px; right: 2%; bottom: 50px; position: fixed; border-radius: 13px; z-index: 999;" onclick="$('.right_col').animate({scrollTop: 0})">TOP</a>
              <a id="moveBottom" class="btn btn-primary btn-xs" href="#" style="padding: 5px; right: 2%; bottom: 10px; position: fixed; border-radius: 13px; z-index: 999;"
              onclick="$('.right_col').animate({scrollTop: $('.accordion').height()})">BTM</a>

              <div class="accordion" id="scroll-style-hidden" role="tablist" aria-multiselectable="true" style="overflow:scroll;">
                <script>
                  var nextTokens = null,
                      limit = null,
                      keyword = "",
                      logs = "",
                      index = null;

                  function setToken(_token){
                    nextTokens = _token;
                  }

                  function setKeyword(_keyword){
                    keyword = _keyword;
                  }

                  function setLimit(_limit){
                    limit = _limit;
                  }

                  function setIndex(_index){
                    index = _index;
                  }

                  function getToken(){
                    return nextTokens;
                  }

                  function getLimit(){
                    return limit;
                  }

                  function getKeyword(){
                    return keyword;
                  }

                  function getIndex(){
                    return index;
                  }

                  var allowLoading = true,
                      lastPageHeight = 0;
                  function getLogs(productId){
                    url = "/endpoints/" + productId + '/next_logs';
                    jQuery.get(url, { 'token': getToken(), 'limit': getLimit(), 'keyword': getKeyword()})
                      .done(function (data) {
                        var jsonData = JSON.parse(data),
                            index = getIndex(),
                            logs = jsonData.logs;

                        logs.forEach(function (log) {
                          if (log.payload !== undefined && log.payload != null) {
                            var logId = log._t.toString().replace('.', ''),
                                payLoad = JSON.stringify(log.payload).slice(0, 90).replace(/\\/g, ''),
                                timestamp = logId.substring(0, 10) * 1000,
                                retVal = new Date(timestamp).toLocaleString('eu');
                            index++;
                            var addObj= "<div class = 'panel'>" +
                                          "<a class='panel-heading' role= 'tab' id= 'heading" + index + "' data-toggle='collapse' data-parent= '#accordion'" +
                                            "href='#" + logId + "' aria-expanded='true' aria-controls='" + logId + "'>" +
                                            "<h3 class='panel-title'>" + retVal + " " + payLoad + "</h3>" +
                                          "</a>" +
                                          "<div id='" + logId + "' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading+" + index + "'>" +
                                            "<div class='panel-body'>" +
                                              "<div id='v-" + logId + "'></div>" +
                                            "</div>" +
                                        "</div>"

                            $(".accordion").append(addObj);
                            var wrapper = document.getElementById('v-' + logId);
                            var tree = jsonTree.create(log, wrapper);
                          } else if (log.body !== undefined && log.body != null) {
                            var logId = log._t.toString().replace('.', ''),
                                payLoad = JSON.stringify(log.body).slice(0, 90).replace(/\\/g, ''),
                                timestamp = logId.substring(0, 10) * 1000,
                                retVal = new Date(timestamp).toLocaleString('eu');
                            index++;
                            var addObj= "<div class = 'panel'>" +
                                          "<a class='panel-heading' role= 'tab' id= 'heading" + index + "' data-toggle='collapse' data-parent= '#accordion'" +
                                            "href='#" + logId + "' aria-expanded='true' aria-controls='" + logId + "'>" +
                                            "<h3 class='panel-title'>" + retVal + " " + payLoad + "</h3>" +
                                          "</a>" +
                                          "<div id='" + logId + "' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading+" + index + "'>" +
                                            "<div class='panel-body'>" +
                                              "<div id='v-" + logId + "'></div>" +
                                            "</div>" +
                                        "</div>"

                            $(".accordion").append(addObj);
                            var wrapper = document.getElementById('v-' + logId);
                            var tree = jsonTree.create(log, wrapper);

                          }
                        });

                        setIndex(index);
                        setToken(jsonData.token);
                        setLimit(jsonData.limit);
                        setKeyword(jsonData.keyword);
                        lastPageHeight = $('.accordion').height();
                        allowLoading = true;
                        });
                      }

                $(".right_col").scroll(function(){
                  var scrollHeight = $('.right_col').height(),
                      scrollPosition = $('.right_col').scrollTop();
                  if (allowLoading && (scrollHeight + scrollPosition) > lastPageHeight) {
                    allowLoading = false;
                    getLogs("{{ current_product.id }}");
                  }
                });

                setLimit({{ limit }});
                setKeyword({{ keyword }});
                getLogs("{{ current_product.id }}");
              </script>
            </div>
          </div>
        </div> <!-- end x_content -->
      </div> <!-- end x_panel -->
    </div> <!-- End row -->
  </div>
</div>

{% endblock content %}
