{% extends "base_site.html" %}

{% block title %} Domain {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_management.html" %}
  </div>
{% endblock sidebar %}
{% block javascript %}
  {{ super() }}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock javascript %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table table-striped projects">
            <thead>
              <tr>
                <th>Domain</th>
                <th>Request User</th>
                <th>Request Time</th>
                <th>Accepted</th>
                <th>Accepted Time</th>
              </tr>
            </thead>
            <tbody>
              {% for domain in domain_list %}
                <tr>
                  <td>{{ domain.domain }}</td>
                  <td>{{ domain.request_user }}</td>
                  <td>{{ domain.created_time | datetimeFilter }}</td>
                  <td>{{ domain.accepted }}</td>
                  {% if domain.accepted %}
                    <td>{{ domain.accepted_time | datetimeFilter }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <div style="text-align: right">
            <a href="/management/organization/domain/register"><button class="btn btn-primary" type="button">Register</button></a>
          </div>

        </div>  <!-- end x_content -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
