
{% extends "base_site.html" %}

{% block title %} License {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_management.html" %}
  </div>
{% endblock sidebar %}

{% block javascripts %}
  {{ super()}}
  <script>
    function auth() {
      window.location.href = "/authenticate";
    }
  </script>
{% endblock javascripts %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">

          <h1 style="text-align:center">Developer License (SK E&C M-PJT)</h1>
          <br>
          <h2 style="text-align:center">Valid until</h2>
          <h3 style="text-align:center">{{expire}}</h3>
          <br>
          <div style="text-align: center">
            <button type="button" class="btn btn-primary" onclick="auth();">Activate a new license key</button>
          </div>

        </div>  <!-- end x_content -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
