{% extends "base_site.html" %}

{% block title %} Notification Key {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_management.html" %}
  </div>
{% endblock sidebar %}

{% block content %}
<div class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table table-striped projects">
            <thead>
              <tr>
                <th>Platform</th>
                <th>Bundle ID</th>
                <th>Last Updated</th>
                <th>Last Updated User</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for noti_key in noti_key_list %}
                <tr>
                  {% if noti_key.typ == 0 %}
                    {% if noti_key.is_dev == 0 %}
                      <td>IOS(Production)</td>
                    {% else %}
                      <td>IOS(Dev)</td>
                    {% endif %}
                  {% else %}
                    <td>ANDROID</td>
                  {% endif %}
                  <td>{{ noti_key.name }}</td>
                  <td>{{ noti_key.last_updated_time | datetimeFilter }}</td>
                  <td>{{ noti_key.last_updated_user }}</td>
                  <td>
                    <button type="button" class="btn-danger btn-xs" data-toggle="modal" data-target=".delete-modal-{{ noti_key.id }}">
                      <i class="fa fa-remove"></i>
                    </button>
                  </td>

                  <!-- Modal -->
                  <div class="modal fade delete-modal-{{ noti_key.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="delete">Delete</h4>
                        </div>
                        <div>
                          <form id="deprecated" method="post" action="/management/organization/notikey/delete/{{ noti_key.id }}">
                            <div class="modal-body">
                              {% if noti_key.typ == 0 %}
                                <h4>Are you sure you want to delete {{ noti_key.name }} on platform IOS?</h4>
                              {% else %}
                                <h4>Are you sure you want to delete {{ noti_key.name }} on platform ANDROID?</h4>
                              {% endif %}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-primary">Ok</button>
                            </div>
                          </form>
                        </div>

                      </div>
                    </div>
                  </div>  <!-- End modal-->
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <div style="text-align: right">
            <a href="/management/organization/register/ios"><button class="btn btn-primary" type="button">Register IOS</button></a>
            <a href="/management/organization/register/android"><button class="btn btn-primary" type="button">Register Android</button></a>
          </div>

        </div>  <!-- end x_content -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
