{% extends "base_site.html" %}

{% block title %} {{ model.name }} {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <!-- start row -->
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="general-tab" role="tab" data-toggle="tab" aria-expanded="true">General</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="firmware-tab" data-toggle="tab" aria-expanded="false">Firmware</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content3" role="tab" id="program-tab" data-toggle="tab" aria-expanded="false">Program</a>
                  </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="general-tab">
                    <div class="col-md-7">
                      <h3>Code</h3>
                      <div class="form-group">
                        <label class="control-label col-md-0" for="modelCode">
                        </label>
                        <div class="col-md-12">
                          <input type="text" value="{{ model.code }}" id="modelCode" name="modelCode"
                              class="form-control col-md-6 col-xs-6" readonly>
                        </div>
                      </div>

                      <br>

                      <h3>Name</h3>
                      <div class="form-group">
                        <label class="control-label col-md-0" for="modelName">
                        </label>
                        <div class="col-md-12">
                          <input type="text" value="{{ model.name }}" id="modelName" name="modelName"
                              class="form-control col-md-6 col-xs-6" readonly>
                        </div>
                      </div>
                    </div>
                  </div>  <!-- end general-tab -->

                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="firmware-tab">
                    <div class="x_content">
                      <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Version</th>
                            <th>Stage</th>
                            <th>Updated User</th>
                            <th>Updated Time</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for firmware in firmware_list %}
                            <tr>
                              <td>{{ firmware.version }}</td>
                              {% if firmware.model.product_stage.stage == 0 %}
                                <td>Release</td>
                              {% elif firmware.model.product_stage.stage == 1 %}
                                <td>Pre Release</td>
                              {% elif firmware.model.product_stage.stage == 2 %}
                                <td>Dev</td>
                              {% else %}
                                <td>Archive</td>
                              {% endif %}
                              <td>{{ firmware.last_updated_user }}</td>
                              <td>{{ firmware.last_updated_time }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>

                      <a href="/products/{{ current_product.id }}/model/{{ model.id }}/firmware">
                        <button type="button" class="btn btn-primary">Register</button>
                      </a>
                    </div>
                  </div>  <!-- firmware-tab -->

                  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="program-tab">
                    <div class="x_content">
                      <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Content</th>
                            <th>Last update</th>
                            <th>Download</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            {% if model.typ == 0 %}
                              <td>NRF51</td>
                            {% else %}
                              <td>NRF52</td>
                            {% endif %}
                            <td>Soft device, Boot loader, NRF Lib, Example Project</td>
                            <!-- history
                            <td>2018-09-07</td>
                            -->
                            <td>2018-10-18</td>
                            <td class="center-align">
                              <a href="/products/{{ current_product.id }}/model/{{ model.id }}/firmware/{{ model.typ }}/download">
                                <i class="fa fa-cloud-download"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>  <!-- program-tab -->

                </div>
              </div>

            </div>  <!-- end x_content -->
          </div>  <!-- end x_panel -->
        </div>

      </div>  <!-- End row -->

    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}
