{% extends "base_site.html" %}

{% block title %} Model List {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">
      <!-- start row -->
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

                <table class="table table-striped projects">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Count</th>
                      <th>Type</th>
                      <th>Update time</th>
                      <th>Update user</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for model in model_list %}
                    <tr>
                      <td>{{ model.name }}</td>
                      <td>{{ model.firmware_list|length }}</td>
                      {% if model.typ != None %}
                        <td>{{ typ_dict[model.typ] }}</td>
                      {% else %}
                        <td>Http</td>
                      {% endif %}
                      <td>{{ model.last_updated_time | datetimeFilter }}</td>
                      <td>{{ model.last_updated_user }}</td>
                      <td>
                        {% if model.typ != None %}
                          <a href="/products/{{ current_product.id }}/model/{{ model.id }}" class="btn btn-info btn-xs"><i class="fa fa-folder"></i> Firmware </a>
                            <!-- history
                            <td>2018-09-07</td>
                            <td>2018-10-18</td>
                            <td>Soft device, Boot loader, NRF Lib, Example Project</td>
                            -->
                          <a href="/products/{{ current_product.id }}/model/{{ model.id }}/firmware/{{ model.typ }}/download" class="btn btn-primary btn-xs">
                            <i class="fa fa-cloud-download"></i> Example
                          </a>
                        {% else %}
                          <a href="/products/{{ current_product.id }}/model/{{ model.id }}/http/download" class="btn btn-primary btn-xs">
                            <i class="fa fa-cloud-download"></i> Example
                          </a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

              <div style="text-align: right">
                <a href="/products/{{ current_product.id }}/model/create">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Create</button>
                </a>
              </div>

            </div>  <!-- end x_content -->
          </div>  <!-- end x_panel -->
        </div>

      </div>  <!-- End row -->

    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}
