
{% extends "base_site.html" %}

{% block title %} Branding {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="row">  <!-- start row-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">

            <div class="x_title">
              <h2> Branding </h2>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">  <!-- start x_content -->
            </div>  <!-- end x_content -->

          </div>  <!-- end x_panel -->
        </div>
      </div> <!-- End row -->

    </div>
  </div>

{% endblock content %}