
{% extends "base_site.html" %}

{% block title %} Admins {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="row"> <!-- Start Row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">  <!-- Start x_panel -->

            <div class="x_title"> <!-- Start x_title -->
              <h2> Admins </h2>
              <div class="clearfix"></div>
            </div> <!-- End x_ttiel -->

            <div class="x_content">  <!-- Start x_content -->
              <div class="col-md-7">

                <h3>Owner</h3>
                  {% if owner %}
                    {% for _owner in owner %}
                      <div class="alert owner-email-list fade in">
                        <button type="button" class="close" aria-label="Close">
                        </button>
                        <strong>{{ _owner }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}

                <h3>Member</h3>
                  {% if member %}
                    {% for _member in member %}
                      {% if _member not in owner %}
                        <div class="alert owner-email-list fade in">
                          <button type="button" class="close" aria-label="Close">
                          </button>
                          <strong>{{ _member }}</strong>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                <form id="admins" class="form-horizontal form-label-left" method="post">
                  <h3>Invite Member</h3>
                  <div class="form-group">
                    <label class="control-label col-md-0" for="newMemberEmail">
                    </label>
                    <div class="col-md-12">
                      <input type="text" placeHolder="member@email.com" id="newMemberEmail" name="newMemberEmail" required="required" class="form-control col-md-6 col-xs-6">
                    </div>
                  </div>

                  <br>
                  <button type="submit" class="btn btn-default">Send Invite</button>
                </form>

                <h3>Invited Member</h3>
                  {% if all_users %}
                    {% for user in all_users %}
                      {% if user.email not in owner and user.email not in member %}
                        <div class="alert member-email-list fade in">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <strong>{{ user.email }}</strong>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                </div>
            </div>  <!-- End x_content-->

          </div>  <!-- End x_panel -->
        </div>
      </div>  <!-- End row -->

    </div>
  </div>

{% endblock content %}
