
{% extends "base_site.html" %}

{% block title %} Tester {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="row"> <!-- Start Row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">  <!-- Start x_panel -->

            <div class="x_title"> <!-- Start x_title -->
              <h2> Tester </h2>
              <div class="clearfix"></div>
            </div> <!-- End x_ttiel -->

            <div class="x_content">  <!-- Start x_content -->
              <div class="col-md-7">

                <h3>Tester</h3>
                  {% for tester in tester_list %}
                    {% if tester.authorized %}
                      <div class="alert tester-email-list fade in">
                        <strong>{{ tester.email }}</strong>
                        <a href="/products/{{ current_product.id }}/tester/{{ tester.id }}/delete">
                          <button type="button" class="close" aria-label="Close">
                            <span class="fa fa-remove"></span>
                          </button>
                        </a>
                        <!-- TODO: -->
                        {% if tester.level == 1 %}
                          <a href="/products/{{ current_product.id }}/tester/{{ tester.id }}/change/2">
                            <button type="button" class="close">
                              <span class=""><small>[Change to dev]</small></span>
                            </button>
                          </a>
                        {% else %}
                          <a href="/products/{{ current_product.id }}/tester/{{ tester.id }}/change/1">
                            <button type="button" class="close">
                              <span class=""><small>[Change to PreRelease]</small></span>
                            </button>
                          </a>
                        {% endif %}
                      </div>
                    {% else %}
                      <div class="alert tester-email-list-no-ftl fade in">
                        <strong>{{ tester.email }}</strong>
                        <a href="/products/{{ current_product.id }}/tester/{{ tester.id }}/delete">
                          <button type="button" class="close" aria-label="Close">
                            <span class="fa fa-remove"></span>
                          </button>
                        </a>
                        <a href="/products/{{ current_product.id }}/tester/{{ tester.id }}/refresh">
                          <button type="button" class="close" aria-label="Close">
                            <span class="fa fa-refresh"></span>
                          </button>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}


                <form id="tester" class="form-horizontal form-label-left" method="post">
                  <h3>Invite Member</h3>
                  <div class="form-group">
                    <label class="control-label col-md-0" for="newTesterEmail">
                    </label>
                    <div class="col-md-12">
                      <input type="email" placeHolder="tester@email.com" id="newTesterEmail" onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9_@.+\s]/g,'');"
                          name="newTesterEmail" required="required" class="form-control col-md-6 col-xs-6">
                    </div>
                  </div>

                  <br>
                  <button type="submit" class="btn btn-default">Send Invite</button>
                </form>

                <h3>Invited Member</h3>
                  {% for invite in invite_list %}
                    <div class="alert invite-email-list fade in">
                      <strong>{{ invite.email }}</strong>
                      <a href="/products/{{ current_product.id }}/invite/tester/{{ invite.id }}/delete">
                        <button type="button" class="close" aria-label="Close">
                          <span class="fa fa-remove"></span>
                        </button>
                      </a>
                    </div>
                  {% endfor %}

                </div>
            </div>  <!-- End x_content-->

          </div>  <!-- End x_panel -->
        </div>
      </div>  <!-- End row -->

    </div>
  </div>

{% endblock content %}
