
{% extends "base_site.html" %}

{% block title %} Authentication {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="row">  <!-- Start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">  <!-- start x_panel -->
            <div class="x_title">
              <h2> Authentication </h2>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">  <!-- start x_content -->

              <div class="col-md-8">
                <h3>Access Token</h3>
                <div class="item form-group">
                  <label class="control-label col-md-0" for="accessToken"></label>
                  <div class="col-md-12">
                    <input type="text" value="{{ token }}" id="accessToken"
                        name="accessToken" class="cursor-pointer form-control col-md-6 col-xs-6"
                          readonly onclick="copyToClipboard(id);">
                  </div>
                </div>
              </div>

              <form id="hook" action="/products/{{ current_product.id }}/hook"
                class="form-horizontal form-label-left" method="post">
                <div class="col-md-8">
                  <br>
                  <h3>Hook URL</h3>
                  <div class="item form-group">
                    <label class="control-label col-md-2" for="hookUrl">Hook URL
                    </label>
                    <div class="col-md-10">
                      <input type="text" id="hookUrl" name="hookUrl" value="{{ current_product.hook_url }}"
                          class="form-control col-md-6 col-xs-6">
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-2" for="hookClientKey">Hook Client Key
                    </label>
                    <div class="col-md-10">
                      <input type="text" id="hookClientKey" name="hookClientKey"
                          value="{{ current_product.hook_client_key }}" class="form-control col-md-6 col-xs-6">
                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-default">Save</button>
                </div>
              </form>

            </div>  <!-- End x_content -->

          </div>  <!-- End x_panel -->
        </div>
      </div>  <!-- End row-->

    </div>
  </div>

{% endblock content %}
