{% extends "base_site.html" %}

{% block title %} Beacon Scanner Settings {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_maintenance.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
      <div class="row">  <!-- Start row --> <!-- FaceStation -->
          <div class="x_panel tile">
            <div class="x_title">
              <h3>FaceStation</h3>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <table class="table table-striped projects">
                  <thead>
                    <tr>
                      <th>Device Name</th>
                      <th>In/Out</th>
                      <th>Location</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Face Station -->
                    {% for device in device_list %}
                      <tr>
                        <form class="right-align" id="upload-{{ device['id'] }}" action="/dashboard/count/settings/{{ device['id'] }}" method="POST">
                          <td>{{ device['name'] }}</td>
                          <td>
                            <select id="inout" name="inout">
                              {% if device['id'] in setting_id_list %}
                                {% for k, v in in_out_setting.items() %}
                                  {% if k == settings_dict[device['id']].inout %}
                                    <option id="{{ k }}" value="{{ k }}" selected>{{ v }}</option>
                                  {% else %}
                                    <option id="{{ k }}" value="{{ k }}">{{ v }}</option>
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                {% for k, v in in_out_setting.items() %}
                                  <option id="{{ k }}" value="{{ k }}" selected>{{ v }}</option>
                                {% endfor %}
                              {% endif %}
                            </select>
                          </td>
                          <td>
                            {% if device['id'] in setting_id_list %}
                              <select id="ap" name="ap" disabled>
                                {% for k, v in access_point.items() %}
                                  {% if k == settings_dict[device['id']].access_point %}
                                    <option id="{{ k }}" value="{{ k }}" selected>{{ v }}</option>
                                  {% else %}
                                    <option id="{{ k }}" value="{{ k }}">{{ v }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            {% else %}
                              <select id="ap" name="ap">
                                {% for k, v in access_point.items() %}
                                  <option id="{{ k }}" value="{{ k }}" selected>{{ v }}</option>
                                {% endfor %}
                              </select>
                            {% endif %}
                          </td>
                          <td>
                            <button type="submit" class="btn btn-info btn-xs">Save</button>
                            {% if device['id'] in setting_id_list %}
                              <!-- 1 is FaceStation Type -->
                              <a href="/dashboard/count/settings/delete/{{ device['id'] }}/typ/1"
                                  class="btn btn-danger btn-xs">
                                <i class="fa fa-remove"></i> Reset
                              </a>
                            {% endif %}
                          </td>
                          <!-- 1 is FaceStation Type -->
                          <input type="hidden" name="typ" value="1">
                        </form>
                      </tr>
                    {% endfor %}
                    <!-- Face Station -->
                  </tbody>
                </table>

              </div>
            </div><!-- End x_content -->
          </div><!-- End x_panel-->
      </div>  <!-- End row-->


      <div class="row">  <!-- Start row --> <!-- Beacon Scanner -->
          <div class="x_panel tile">
            <div class="x_title">
              <h3>Beacon Scanner</h3>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <table class="table table-striped projects">
                  <thead>
                    <tr>
                      <th>Device Name</th>
                      <th>Location</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Scanner -->
                    {% for scanner in scanner_list %}
                      <tr>
                        <form class="right-align" id="upload-{{ scanner.device_id }}"
                            action="/dashboard/count/settings/{{ scanner.device_id }}" method="POST">
                          <td>{{ scanner.name }}</td>
                          <td>
                            <select id="ap" name="ap">
                              {% for k, v in access_point.items() %}
                                {% if k == scanner.access_point %}
                                  <option id="{{ k }}" value="{{ k }}" selected>{{ v }}</option>
                                {% else %}
                                  <option id="{{ k }}" value="{{ k }}">{{ v }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-info btn-xs">Save</button>
                            {% if scanner.device_id in setting_id_list %}
                              <!-- 2 is Scanner Type -->
                              <a href="/dashboard/count/settings/delete/{{ scanner.device_id }}/typ/2"
                                  class="btn btn-danger btn-xs">
                                <i class="fa fa-remove"></i> Reset
                              </a>
                            {% endif %}
                          </td>
                          <!-- 2 is Scanner Type -->
                          <input type="hidden" name="typ" value="2">
                        </form>
                      </tr>
                    {% endfor %}
                    <!-- Scanner -->
                  </tbody>
                </table>

              </div>
            </div><!-- End x_content -->
          </div><!-- End x_panel-->
      </div>  <!-- End row-->


      <div class="row">  <!-- Start row --> <!-- Equip kind -->
          <div class="x_panel tile">
            <div class="x_title">
              <h3>Equipment count with operator</h3>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <table class="table table-striped projects">
                  <thead>
                    <tr>
                      <th>Kind</th>
                      <th>Count</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Kind Setting(equip worker_count) -->
                    {% for equip_key, equip_value in equip_kind_list.items() %}
                      <tr>
                        <form class="right-align" id="equip-worker" action="/dashboard/count/settings/equip/kind/{{ equip_key }}" method="POST">
                          <td>{{ equip_value }}</td>
                          <td>
                            <select id="equip_worker_count" name="equip_worker_count">
                              {% if equip_key in equip_kind_settings %}
                                <option id="yes" value="1" selected>Yes</option>
                                <option id="no" value="0">No</option>
                              {% else %}
                                <option id="yes" value="1">Yes</option>
                                <option id="no" value="0" selected>No</option>
                              {% endif %}
                            </select>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-info btn-xs">Save</button>
                          </td>
                          <!-- 1 is FaceStation Type -->
                          <input type="hidden" name="kind" value="1">
                        </form>
                      </tr>
                    {% endfor %}
                    <!-- Kind Setting -->
                  </tbody>
                </table>
              </div>
            </div><!-- End x_content -->
          </div><!-- End x_panel-->

      </div>  <!-- End row-->


      <div class="row">  <!-- Start row --> <!-- Bus Setting -->
          <div class="x_panel tile">
            <div class="x_title">
              <h3>Bus Setting</h3>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- Setting -->
                <table class="table table-striped projects">
                  <thead>
                    <tr>
                      <th>F/S User ID</th>
                      <th>F/S User Name</th>
                      <th>Beacon Name</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Bus Setting list-->
                    {% for bus_setting in bus_setting_list %}
                      <tr>
                          <td>{{ bus_setting.bus_user_id }}</td>
                          <td>{{ bus_setting.bus_user_name }}</td>
                          <td>{{ bus_setting.bus_beacon_name }}</td>
                          <td>
                            <a href="/dashboard/bus/delete/{{ bus_setting.id }}/beacon/{{ bus_setting.bus_beacon_id }}"
                                class="btn btn-danger btn-xs">
                              <i class="fa fa-remove"></i> Delete
                            </a>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <!-- Bus Setting input -->
                <table class="table table-striped projects">
                  <thead>
                    <tr>
                      <th>F/S User ID</th>
                      <th>F/S User Name</th>
                      <th>Beacon</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Kind Setting(equip worker_count) -->
                      <tr>
                        <form class="right-align" id="equip-worker" action="/dashboard/bus/settings" method="POST">
                          <td>
                            <input type="text" id="bus_user_id" name="bus_user_id"
                                class="col-md-3 col-sm-3 col-xs-3">
                          </td>
                          <td>
                            <input type="text" id="bus_user_name" name="bus_user_name"
                                class="col-md-3 col-sm-3 col-xs-3">
                          </td>
                          <td>
                            <select id="bus_beacon_id" name="bus_beacon_id">
                              {% for beacon in bus_list %}
                                <option id="bus_beacon_id" value="{{ beacon.id }}">{{ beacon.name }}</option>
                              {% endfor %}
                              <option id="none" value="none">None</option>
                            </select>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-info btn-xs">Save</button>
                          </td>
                        </form>
                      </tr>
                    <!-- Kind Setting -->
                  </tbody>
                </table>

              </div>
            </div><!-- End x_content -->
          </div><!-- End x_panel-->

      </div>  <!-- End row-->

  </div>

{% endblock content %}
