{% extends "base_site.html" %}

{% block title %} Tunnel Entrance Control System{% endblock title %}
{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
{% endblock stylesheets %}

{% block content %}
    <div id="scroll-style-hidden" class="right_col" role="main">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel tile" style="border:0;">
            <div class="x_title">
              <div class="x_title_left_entrance_div">
                <div class="row">
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_h"><a href="/dashboard/count">Summary View</a></h3>
                  </div>
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_select"><a href="/dashboard/count/detail">Detail View</a></h3>
                  </div>
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_h"><a href="/dashboard/worker_logs">Logs by Man</a></h3>
                  </div>
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_h"><a href="/dashboard/equip_logs">Logs by Equip</a></h3>
                  </div>
                </div>
              </div>
              <div class="x_title_right_entrance_div">
                <h3>
                  <i id="expand" class="fa fa-expand pointer_cursor" onclick="onExpand();"></i>
                </h3>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- top tiles -->
                {% if current_user.level == 0 %}
                  <div class="row tile_count">
                  <!-- top tiles -->
                    <div class="col-md-12 col-sm-4 col-xs-6 tile_stats_count">
                      <span><div id="divDate" class="count_top right-align" style="font-size: 20px;"></div></span>
                      <div id="divTime" class="count right-align" style="font-size: 60px;"></div>
                    </div>

                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".header-modal"
                        style="background-color: #fafafa; color: #8e8e8e; border-color: #efefef; font-weight: bold; position: absolute; left: 10px; font-size: 25px;">
                      <img src="/static/images/icon--reset.svg" class="entrance_button_img">
                      Reset Count
                    </button>
                    {% if emergency %}
                      <button class="btn btn-danger btn-xs" data-dismiss="modal" onclick="emergency()"
                          style="background-color: #ff4848; color: #ffffff; border-color: #efefef; font-weight: bold; position: absolute; left: 250px; font-size: 25px;">
                        <img src="/static/images/icon--emergency-white.svg" class="entrance_button_img">
                        &nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </button>
                    {% else %}
                      <button class="btn btn-danger btn-xs" data-dismiss="modal" onclick="emergency()"
                          style="background-color: #fafafa; color: #8e8e8e; border-color: #efefef; font-weight: bold; position: absolute; left: 250px; font-size: 25px;">
                        <img src="/static/images/icon--emergency-color.svg" class="entrance_button_img">
                        Emergency&nbsp;
                      </button>
                    {% endif %}

                  </div>
                  <!-- modal-->
                  <div class="modal fade header-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="headerFile">Reset Count</h4>
                        </div>
                        <div>
                          <div class="modal-body">
                            <h4>Reset All Count</h4>
                            <div>
                              Do you want to reset all counts?
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" data-dismiss="modal" onclick="resetAll()">OK</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>  <!-- End modal -->

                {% else %}
                  <div class="row tile_count">
                    <div class="col-md-12 col-sm-4 col-xs-6 tile_stats_count">
                      <span><div id="divDate" class="count_top right-align" style="font-size: 20px;"></div></span>
                      <div id="divTime" class="count right-align" style="font-size: 60px;"></div>
                    </div>
                  </div>
                {% endif %}

                <div class="row tile_count">
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top" style="font-size: 30px;"><i class="fa fa-user"></i> Total Count </span>
                    <div id="divCount" class="count" style="font-size: 80px;">0</div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top" style="font-size: 25px;"><i class="fa fa-user"></i> Total Man Power </span>
                    <div id="divTotalManCount" class="count" style="font-size: 60px;">0</div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top" style="font-size: 25px;"><i class="fa fa-user"></i> Total Equipment </span>
                    <div id="divTotalEquipCount" class="count" style="font-size: 60px;">0</div>
                  </div>
                </div>
                <div class="row tile_count">
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top" style="font-size: 20px;"><i class="fa fa-user"></i> Total AT1 </span>
                    <div id="divCountAt1" class="count" style="font-size: 50px;">0</div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> AT1 Man Power </span>
                    <div id="divWorkerAt1" class="count">0</div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> AT1 Equipment </span>
                    <div id="divEquipAt1" class="count">0</div>
                  </div>
                </div>
                <div class="row tile_count">
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top" style="font-size: 20px;"><i class="fa fa-user"></i> Total AT2 </span>
                    <div id="divCountAt2" class="count" style="font-size: 50px;">0</div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> AT2 Man Power </span>
                    <div id="divWorkerAt2" class="count">0</div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> AT2 Equipment </span>
                    <div id="divEquipAt2" class="count">0</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!--
  <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
  -->
  <script src="{{ url_for('static', filename='vendors/socketio/socket.io.min.js') }}"></script>
  <script>
    var isEmergency = "{{emergency|safe}}",
        freezeTimeMsg = "{{time_msg|safe}}",
        freezeDateMsg = "{{date_msg|safe}}";

    var weekday = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
        month = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    function showClock(){
        var currentDate = new Date(),
            divTime = document.getElementById("divTime"),
            divDate = document.getElementById("divDate");

        var timeMsg = currentDate.getHours()+":";
        timeMsg += currentDate.getMinutes()+":";
        timeMsg += currentDate.getSeconds();
        var dateMsg = month[currentDate.getMonth()] + " ";
        dateMsg += currentDate.getDate() + " ";
        dateMsg += "(" + weekday[currentDate.getDay()] + ")";
        dateMsg += ", " + currentDate.getFullYear();

        divTime.innerText = timeMsg;
        divDate.innerText = dateMsg;
        setTimeout(showClock, 1000);
    }
    if (isEmergency == "False") {
      showClock();
    } else {
      divTime.innerText = freezeTimeMsg;
      divDate.innerText = freezeDateMsg;
    }

    function emergency() {
      var divTime = document.getElementById("divTime"),
          divDate = document.getElementById("divDate");
      var curTime = divTime.innerText,
          curDate = divDate.innerText;
          isEm = false;
      var sendData = {"cur_time": curTime, "cur_date": curDate};
      if (isEmergency == "False") {
        sendData["emergency"] = true;
        isEm = true;
      } else {
        sendData["emergency"] = false;
      }
      jQuery.post("/dashboard/emergency", sendData).done(function(data) {
        window.location.reload();
      });
    }

    function getAT1Equip() {
      jQuery.get("/dashboard/count/equip/counting/1").done(function(data){
        var jsonData = JSON.parse(data),
            divEquip = document.getElementById("divEquipAt1");
        divEquip.innerText = jsonData;
        setTotalAT1();
        setTotalEquip();
        setTotalCount();
      });
    }
    function getAT2Equip() {
      jQuery.get("/dashboard/count/equip/counting/2").done(function(data){
        var jsonData = JSON.parse(data),
            divEquip = document.getElementById("divEquipAt2");
        divEquip.innerText = jsonData;
        setTotalAT2();
        setTotalEquip();
        setTotalCount();
      });
    }
    getAT1Equip();
    getAT2Equip();
    function getAT1Equip11(count) {
      var divEquip = document.getElementById("divEquipAt1");
      divEquip.innerText = count;
      setTotalAT1();
      setTotalEquip();
      setTotalCount();
    }
    function getAT2Equip11(count) {
      var divEquip = document.getElementById("divEquipAt2");
      divEquip.innerText = count;
      setTotalAT2();
      setTotalEquip();
      setTotalCount();
    }

    function getAT1Worker() {
      // AT 1 key -> 1
      jQuery.get("/dashboard/count/worker/counting/1").done(function(data){
        var jsonData = JSON.parse(data),
            divWorker = document.getElementById("divWorkerAt1");
        divWorker.innerText = jsonData;
        setTotalAT1();
        setTotalManPower();
        setTotalCount();
      });
    }
    function getAT2Worker() {
      // AT 2 key -> 2
      jQuery.get("/dashboard/count/worker/counting/2").done(function(data){
        var jsonData = JSON.parse(data),
            divWorker = document.getElementById("divWorkerAt2");
        divWorker.innerText = jsonData;
        setTotalAT2();
        setTotalManPower();
        setTotalCount();
      });
    }
    getAT1Worker();
    getAT2Worker();
    function getAT1Worker11(count) {
      // AT 1 key -> 1
      var divWorker = document.getElementById("divWorkerAt1");
      divWorker.innerText = count;
      setTotalAT1();
      setTotalManPower();
      setTotalCount();
    }
    function getAT2Worker11(count) {
      // AT 2 key -> 2
      var divWorker = document.getElementById("divWorkerAt2");
      divWorker.innerText = count;
      setTotalAT2();
      setTotalManPower();
      setTotalCount();
    }

    function setTotalAT1() {
      var divCountAt1 = document.getElementById("divCountAt1"),
          divWorkerAt1 = document.getElementById("divWorkerAt1"),
          divEquipAt1 = document.getElementById("divEquipAt1");
      divCountAt1.innerText = parseInt(divWorkerAt1.innerText) + parseInt(divEquipAt1.innerText);
    }
    function setTotalAT2() {
      var divCountAt2 = document.getElementById("divCountAt2"),
          divWorkerAt2 = document.getElementById("divWorkerAt2"),
          divEquipAt2 = document.getElementById("divEquipAt2");
      divCountAt2.innerText = parseInt(divWorkerAt2.innerText) + parseInt(divEquipAt2.innerText);
    }
    function setTotalManPower() {
      var divCount1 = document.getElementById("divTotalManCount"),
          divWorkerAt1 = document.getElementById("divWorkerAt1"),
          divWorkerAt2 = document.getElementById("divWorkerAt2");
      divCount1.innerText = parseInt(divWorkerAt1.innerText) + parseInt(divWorkerAt2.innerText);
    }
    function setTotalEquip() {
      var divCount2 = document.getElementById("divTotalEquipCount"),
          divEquipAt1 = document.getElementById("divEquipAt1"),
          divEquipAt2 = document.getElementById("divEquipAt2");
      divCount2.innerText = parseInt(divEquipAt1.innerText) + parseInt(divEquipAt2.innerText);
    }
    function setTotalCount() {
      var divCount = document.getElementById("divCount"),
          divWorkerAt1 = document.getElementById("divWorkerAt1"),
          divWorkerAt2 = document.getElementById("divWorkerAt2"),
          divEquipAt1 = document.getElementById("divEquipAt1"),
          divEquipAt2 = document.getElementById("divEquipAt2");
      divCount.innerText = parseInt(divWorkerAt1.innerText) + parseInt(divWorkerAt2.innerText) + parseInt(divEquipAt1.innerText) + parseInt(divEquipAt2.innerText);
    }

      var isExpand = false;
      function onExpand() {
        if (isExpand) {
          exitFullScreen();
        } else {
          enterFullScreen();
        }
      }
      function enterFullScreen() {
          var docV = document.documentElement;
          if (docV.requestFullscreen) {
              docV.requestFullscreen();
          } else if (docV.webkitRequestFullscreen) { // Chrome, Safari (webkit)
              docV.webkitRequestFullscreen();
          } else if (docV.mozRequestFullScreen) { // Firefox
              docV.mozRequestFullScreen();
          } else if (docV.msRequestFullscreen) { // IE or Edge
              docV.msRequestFullscreen();
          }
      }
      function exitFullScreen() {
        var docV = document;
        var requestMethod = docV.exitFullscreen ||
                            docV.mozCancelFullScreen ||
                            docV.webkitExitFullscreen ||
                            docV.msExitFullscreen;
         if (requestMethod) {
               requestMethod.call(docV);
         } else {
               console.log("Oops. Request method false.");
          }
     }
     function handleSidebarMenu() {
       if ($BODY.hasClass('nav-md')) {
         $SIDEBAR_MENU.find('li.active ul').hide();
         $SIDEBAR_MENU.find('li.active').addClass('active-sm').removeClass('active');
       } else {
         $SIDEBAR_MENU.find('li.active-sm ul').show();
         $SIDEBAR_MENU.find('li.active-sm').addClass('active').removeClass('active-sm');
       }
       $BODY.toggleClass('nav-md nav-sm');
       $(window).resize();
     }

     document.addEventListener("fullscreenchange", function() {
       if (isExpand) {
         isExpand = false;
         document.getElementById("expand").classList.remove('fa-compress');
         document.getElementById("expand").classList.add('fa-expand');
         handleSidebarMenu();
       } else {
         isExpand = true;
         document.getElementById("expand").classList.remove('fa-expand');
         document.getElementById("expand").classList.add('fa-compress');
         handleSidebarMenu();
       }
     });

    function resetAll() {
      window.location.href = "/dashboard/count/reset";
    }

    $(document).ready(function(){
      var host = window.location.hostname;
      var sock = io.connect('http://' + host + ':5000/ws/count');
      sock.on('connect', function(){
        sock.send("connect");
      });

      sock.on('disconnect', function(msg){
        sock.send("disconnect");
      });

      sock.on('msg', function(msg){
        console.log('Received Message : ',msg);
      });

      sock.on('worker_at1', function(msg){
        getAT1Worker11(msg);
      });
      sock.on('worker_at2', function(msg){
        getAT2Worker11(msg);
      });

      sock.on('equip_at1', function(msg){
        getAT1Equip11(msg);
      });

      sock.on('equip_at2', function(msg){
        getAT2Equip11(msg);
      });

    });

  </script>
{% endblock javascripts %}

