{% extends "base_site.html" %}

{% block title %} Count{% endblock title %}
{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
{% endblock stylesheets %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-12 col-sm-4 col-xs-6 tile_stats_count">
        <span><div id="divDate" class="count_top right-align"></div></span>
        <div id="divTime" class="count right-align"></div>
      </div>
    </div>
    <div class="row tile_count">
      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Worker </span>
        <div id="divWorker" class="count">0</div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Equipment </span>
        <div id="divEquip" class="count">0</div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Count </span>
        <div id="divCount" class="count">0</div>
      </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    var weekday = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
        month = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    function showClock(){
        var currentDate = new Date(),
            divTime = document.getElementById("divTime"),
            divDate = document.getElementById("divDate");

        var timeMsg = currentDate.getHours()+":";
        timeMsg += currentDate.getMinutes()+":";
        timeMsg += currentDate.getSeconds();
        var dateMsg = month[currentDate.getMonth()] + " ";
        dateMsg += currentDate.getDate() + " ";
        dateMsg += "(" + weekday[currentDate.getDay()] + ")";
        dateMsg += ", " + currentDate.getFullYear();

        divTime.innerText = timeMsg;
        divDate.innerText = dateMsg;
        setTimeout(showClock, 1000);
    }
    showClock();

    function getEquip() {
      jQuery.get("/dash/total_equip").done(function(data){
        var jsonData = JSON.parse(data),
            divEquip = document.getElementById("divEquip");
        divEquip.innerText = jsonData;
        setTotalCount();
        setTimeout(getEquip, 1000 * {{ equip_interval }});
      });
    }
    getEquip();

    function getWorker() {
      jQuery.get("/dash/total_worker").done(function(data){
        var jsonData = JSON.parse(data),
            divWorker = document.getElementById("divWorker");
        divWorker.innerText = jsonData;
        setTotalCount();
        setTimeout(getWorker, 1000 * {{ worker_interval }});
      });
    }
    getWorker();

    function setTotalCount() {
      var divCount = document.getElementById("divCount"),
          divEquip = document.getElementById("divEquip"),
          divWorker = document.getElementById("divWorker");
      divCount.innerText = parseInt(divEquip.innerText) + parseInt(divWorker.innerText);
    }

  </script>
{% endblock javascripts %}

