{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}
{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
{% endblock stylesheets %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <!-- top tiles -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile" style="border:0;">
          <div class="x_title">
            <h3>Tunnel Entrance Control System</h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div class="row tile_count">
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                  <span class="count_top"><i class="fa fa-user"></i> Total Man Power </span>
                  <div id="divWorker" class="count">0</div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                  <span class="count_top"><i class="fa fa-user"></i> Total Equipment </span>
                  <div id="divEquip" class="count">0</div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                  <span class="count_top"><i class="fa fa-user"></i> Total Count </span>
                  <div id="divCount" class="count">0</div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                  <span><div id="divDate" class="count_top right-align"></div></span>
                  <div id="divTime" class="count right-align"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="row tile_count">
      <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Man Power </span>
        <div id="divWorker" class="count">0</div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Equipment </span>
        <div id="divEquip" class="count">0</div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Count </span>
        <div id="divCount" class="count">0</div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span><div id="divDate" class="count_top right-align"></div></span>
        <div id="divTime" class="count right-align"></div>
      </div>
    </div>
    -->

    <!-- start row -->
    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile" style="height: 840px">
            <div class="x_title">
              <h3>Location Tracking</h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="mapView">
                {% include "location/index.html" %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile" style="height: 410px;">
            <div class="x_title">
              <h3>Work Schedule - Summary</h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <img src="" id="workSchedule" class="col-md-12 col-sm-12">
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile" style="height: 410px;">
            <div class="x_title">
              <h3>Work Schedule - Detail</h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <img src="" id="workSchedule-detail" class="col-md-12 col-sm-12">
            </div>
          </div>
        </div>

    </div><!-- End row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script src="{{ url_for('static', filename='vendors/socketio/socket.io.min.js') }}"></script>
  <script>
    var isEmergency = "{{emergency|safe}}",
        freezeTimeMsg = "{{time_msg|safe}}",
        freezeDateMsg = "{{date_msg|safe}}";

    var weekday = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
        month = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    function showClock(){
        var currentDate = new Date(),
            divTime = document.getElementById("divTime"),
            divDate = document.getElementById("divDate");

        var timeMsg = currentDate.getHours()+":";
        timeMsg += currentDate.getMinutes()+":";
        timeMsg += currentDate.getSeconds();
        var dateMsg = month[currentDate.getMonth()] + " ";
        dateMsg += currentDate.getDate() + " ";
        dateMsg += "(" + weekday[currentDate.getDay()] + ")";
        dateMsg += ", " + currentDate.getFullYear();

        divTime.innerText = timeMsg;
        divDate.innerText = dateMsg;
        setTimeout(showClock, 1000);
    }
    if (isEmergency == "False") {
      showClock();
    } else {
      divTime.innerText = freezeTimeMsg;
      divDate.innerText = freezeDateMsg;
    }

    function getEquip() {
      jQuery.get("/dashboard/count/equip/counting/total").done(function(data){
        var jsonData = JSON.parse(data),
            divEquip = document.getElementById("divEquip");
        divEquip.innerText = jsonData;
        setTotalCount();
        //setTimeout(getEquip, 1000 * {{ equip_interval }});
      });
    }
    getEquip();

    function getEquip11(count) {
      var divEquip = document.getElementById("divEquip");
      divEquip.innerText = count;
      setTotalCount();
    }

    function getWorker() {
      jQuery.get("/dashboard/count/worker/counting/total").done(function(data){
        var jsonData = JSON.parse(data),
            divWorker = document.getElementById("divWorker");
        divWorker.innerText = jsonData;
        setTotalCount();
        //setTimeout(getWorker, 1000 * {{ worker_interval }});
      });
    }
    getWorker();

    function getWorker11(count) {
      var divWorker = document.getElementById("divWorker");
      divWorker.innerText = count;
      setTotalCount();
    }

    function setTotalCount() {
      var divCount = document.getElementById("divCount"),
          divEquip = document.getElementById("divEquip"),
          divWorker = document.getElementById("divWorker");
      divCount.innerText = parseInt(divEquip.innerText) + parseInt(divWorker.innerText);
    }

    function getWorkSchedule() {
      jQuery.get("/dashboard/workschedule/view").done(function(data){
        var divWorkSchedule = document.getElementById("workSchedule");
        divWorkSchedule.src = data;
      });
    }
    getWorkSchedule();

    function getWorkScheduleDetail() {
      jQuery.get("/dashboard/workschedule/detail/view").done(function(data){
        var divWorkSchedule = document.getElementById("workSchedule-detail");
        divWorkSchedule.src = data;
      });
    }
    getWorkScheduleDetail();

    $(document).ready(function(){
      var host = window.location.hostname;
      var sock = io.connect('http://' + host + ':5000/ws/count');
      sock.on('connect', function(){
        sock.send("connect");
      });

      sock.on('disconnect', function(msg){
        sock.send("disconnect");
      });

      sock.on('msg', function(msg){
        console.log('Received Message : ',msg);
      });

      sock.on('worker', function(msg){
        console.log('Received RRRR Message :',msg);
        getWorker11(msg);
        console.log(new Date());
      });

      sock.on('equip', function(msg){
        console.log('Received RRRR Message :',msg);
        getEquip11(msg);
        console.log(new Date());
      });

    });

  </script>
{% endblock javascripts %}

