{% extends "base_site.html" %}

{% block javascripts %}
  {{ super() }}
  <script>
    function handlePage(value) {
      // 1 -> prev
      // 2 -> next
      if (value === "1") {
          document.getElementById('page').value = "1";
          document.getElementById('prev').submit();
      } else {
          document.getElementById('page').value = "2";
          document.getElementById('next').submit();
      }
    }
  </script>
{% endblock javascripts %}

{% block title %} Notice List {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">  <!-- x_content 1 -->

          <div class="x_content">  <!-- x_content 2 -->
            {% if current_user.level in [0, 1] %}
              <div style="text-align: right;">
                <a href="/dashboard/board/notice/register">
                  <button class="btn btn-default btn-sm">Write</button>
                </a>
              </div>
            {% endif %}
            <table id="notice-table" class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width:2%"></th>
                  <th style="width:43%">Title</th>
                  <th style="width:10%">Writer</th>
                  <th style="width:15%">Category</th>
                  <th style="width:15%">Department</th>
                  <th style="width:15%">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for notice in notice_list.items %}
                  <tr>
                    <td>
                      {% if notice.created_time|datetimeCheck %}
                        <i class="fa fa-exclamation-circle"></i>
                      {% endif %}
                    </td>
                    <td><a href="/dashboard/board/notice/{{ notice.id }}/show">{{ notice.title }}</a></td>
                    <td>{{ notice.writer }}</td>
                    <td>{{ notice.category }}</td>
                    <td>{{ notice.department }}</td>
                    <td>{{ notice.created_time|usDateFormat }}</td>
                  </tr>
                {% endfor %}
          <form id="search" action="/dashboard/board/notice"
            class="form-horizontal form-label-left" method="post">
            <div class="item form-group">
              <input id="page" name="page" type="hidden" value="0">
            </div>
                <tr>
                  <td></td>
                  {% if notice_list.has_prev %}
                    <td style="text-align:left;">
                      <input id="prev_num" name="prev_num" type="hidden" value="{{ notice_list.prev_num }}">
                      <button id="prev" type="submit" class="btn btn-default" onclick="handlePage('1')">Prev</button>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td>
                    {% if notice_list.has_next %} {{ notice_list.page * 30 }} {% else %} {{ notice_list.total }} {% endif %} / {{ notice_list.total }}
                  </td>
                  <td></td>
                  <td></td>
                  {% if notice_list.has_next %}
                    <td style="text-align:right;">
                      <input id="next_num" name="next_num" type="hidden" value="{{ notice_list.next_num }}">
                      <button id="next" type="submit" class="btn btn-default" onclick="handlePage('2')">Next</button>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                </tr>
          </form>
              </tbody>
            </table>
          </div>  <!-- end x_content 2 -->

        </div>  <!-- end x_content 1 -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
