{% extends "base_site.html" %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block javascripts %}
  {{ super() }}
  <script>
    function validation() {
        var fi = document.getElementById('file'),
            fileSize = (fi.files[0].size / 1024 / 1024).toFixed(2);
        if (fileSize > 2) {
            document.getElementById('send').disabled = true;
            alert("The file size is too large. Please upload a file that is less than 4MB. ( Current file size : " + fileSize + " MB )")
        } else {
            document.getElementById('send').disabled = false;
        }
    }
  </script>
{% endblock javascripts %}

{% block title %} Register Notice {% endblock title %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">
      <!-- start row -->
      <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel tile">
                <div class="x_title">
                  <h3>Register Notice </h3>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form action="/dashboard/board/notice/register" method="post"
                      class="form-horizontal form-label-left" enctype="multipart/form-data">

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">Category <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="category" name="category" required="required"  value=""
                            class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="writer">Writer <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="writer" name="writer" required="required"  value="{{ current_user.name }}"
                            class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="department">Department <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="department" name="department" required="required" value="{{ current_user.sign_in_provider }}"
                            class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>

                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="file">File
                      </label>
                      <input type="file" id="file" name="file" accept="image/jpeg, image/png" onchange="validation();"
                          class="control-label col-md-3 col-sm-3 col-xs-12"/>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-3">
                        <a href="/dashboard/board/notice">
                            <button type="button" class="btn btn-primary">Cancel</button>
                        </a>
                        <button id="send" type="submit" class="btn btn-success">Register</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

      </div>  <!-- End row -->

    </div>
  </div>

{% endblock content %}
