{% extends "base_site.html" %}

{% block title %} Search{% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
  <!-- bootstrap-daterangepicker -->
  <link href="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  <script>
    function search() {
      window.location.href = "/dashboard/search/equip";
    }

    function exportTableToCsv(tableId, filename) {
      var curDate = new Date(),
          dateString = " " + (curDate.getMonth() + 1) + '-' + curDate.getDate() + '-' + curDate.getFullYear();
      if (filename == null || typeof filename == undefined)
          filename = tableId;
      filename += dateString;
      filename += ".csv";

      var BOM = "\uFEFF";

      var table = document.getElementById(tableId);
      var csvString = BOM;
      for (var rowCnt = 1; rowCnt < table.rows.length; rowCnt++) {
          var rowData = table.rows[rowCnt].cells;
          for (var colCnt = 0; colCnt < rowData.length; colCnt++) {
              var columnData = rowData[colCnt].innerHTML;
              if (columnData == null || columnData.length == 0) {
                  columnData = "".replace(/"/g, '""');
              }
              else {
                  columnData = columnData.toString().replace(/"/g, '""'); // escape double quotes
                  columnData = columnData.replace(/(<([^>]+)>)/ig,"");
              }
              columnData = columnData.replace(/(^\s*)|(\s*$)/gi, "");
              csvString = csvString + '"' + columnData + '",';
          }
          csvString = csvString.substring(0, csvString.length - 1);
          csvString = csvString + "\r\n";
      }
      csvString = csvString.substring(0, csvString.length - 1);

      // IE 10, 11, Edge Run
      if (window.navigator && window.navigator.msSaveOrOpenBlob) {

          var blob = new Blob([decodeURIComponent(csvString)], {
              type: 'text/csv;charset=utf8'
          });

          window.navigator.msSaveOrOpenBlob(blob, filename);

      } else if (window.Blob && window.URL) {
          // HTML5 Blob
          var blob = new Blob([csvString], { type: 'text/csv;charset=utf8' });
          var csvUrl = URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.setAttribute('style', 'display:none');
          a.setAttribute('href', csvUrl);
          a.setAttribute('download', filename);
          document.body.appendChild(a);

          a.click()
          a.remove();
      } else {
          // Data URI
          var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csvString);
          var blob = new Blob([csvString], { type: 'text/csv;charset=utf8' });
          var csvUrl = URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.setAttribute('style', 'display:none');
          a.setAttribute('target', '_blank');
          a.setAttribute('href', csvData);
          a.setAttribute('download', filename);
          document.body.appendChild(a);
          a.click()
          a.remove();
      }
    }

	  function init_daterangepicker_right(startDate, endDate) {
				if( typeof ($.fn.daterangepicker) === 'undefined'){ return; }

				var cb = function(start, end, label) {
				  //console.log("CB : " , start.toISOString(), end.toISOString(), label);
				  $('#reportrange_right span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
				};

				var optionSet1 = {
				  //startDate: moment().subtract(29, 'days'),
				  startDate: moment(startDate),
				  endDate: moment(endDate),
				  minDate: '01/01/2019',
				  maxDate: '12/31/2025',
				  dateLimit: {
            days: 7
				  },
				  showDropdowns: true,
				  showWeekNumbers: true,
				  timePicker: false,
				  timePickerIncrement: 1,
				  timePicker12Hour: true,
				  ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()]
            //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            //'This Month': [moment().startOf('month'), moment().endOf('month')],
            //'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				  },
				  opens: 'right',
				  buttonClasses: ['btn btn-default'],
				  applyClass: 'btn-small btn-primary',
				  cancelClass: 'btn-small',
				  format: 'MM/DD/YYYY',
				  separator: ' to ',
          autoApply: true,
          showCustomRangeLabel: true,
				  locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
				  }
				};

				$('#reportrange_right span').html(moment(startDate).format('MMMM D, YYYY') + ' - ' + moment(endDate).format('MMMM D, YYYY'));
        document.getElementById('datetime').value = JSON.stringify([
          moment(startDate).format('YYYY,MM,DD') + ',00,00,00',
          moment(endDate).format('YYYY,MM,DD,HH,mm,ss')
        ]);

				$('#reportrange_right').daterangepicker(optionSet1, cb);

				$('#reportrange_right').on('show.daterangepicker', function() {
				  //console.log("show event fired");
				});
				$('#reportrange_right').on('hide.daterangepicker', function() {
				  //console.log("hide event fired");
				});
				$('#reportrange_right').on('apply.daterangepicker', function(ev, picker) {
				  //console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
				  //console.log("apply event fired, start/end dates are " + picker.startDate.format('YYYY-MM-DD HH:mm:ss') + " to " + picker.endDate.format('MMMM D, YYYY'));
          var datetimeList = [
            picker.startDate.format('YYYY,MM,DD,HH,mm,ss'),
            picker.endDate.format('YYYY,MM,DD,HH,mm,ss')
          ];
          document.getElementById('datetime').value = JSON.stringify(datetimeList);
          // SET data
				});
				$('#reportrange_right').on('cancel.daterangepicker', function(ev, picker) {
				  //console.log("cancel event fired");
          document.getElementById('datetime').value = JSON.stringify([]);
          // REMOVE data
				});
	  }
	  init_daterangepicker_right("{{ start_date }}", "{{ end_date }}");
  </script>
{% endblock javascripts %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel title">
        <div class="x_title">
          <div class="x_title_left_div">
            <div class="col-md-6 tile_stats_count count entrance_menu_tile_div">
              <h3 class="entrance_menu_tile_h"><a href="/dashboard/search/worker">Man Log</a></h3>
            </div>
            <div class="col-md-6 tile_stats_count count entrance_menu_tile_div">
              <h3 class="entrance_menu_tile_select"><a href="/dashboard/search/equip">Equipment Log</a></h3>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">  <!-- start x_content -->

          <form id="search" action="/dashboard/search/equip"
            class="form-horizontal form-label-left" method="post">
            <div class="col-md-12">
                  <div class="item form-group">
                    <label class="control-label col-md-2">
                      Name
                    </label>
                    <div class="col-md-4">
                      <input type="text" id="equipname" name="equipname" value=""
                          class="form-control col-md-6 col-xs-6" >
                    </div>

                    <label class="control-label col-md-2">
                      Kind
                    </label>
                    <div class="col-md-4">
                      <select id="kind" name="kind" class="form-control">
                        <option id="100" value="100">ALL</option>
                        {% for k, v in kind_dict.items()%}
                          <option id="{{ k }}" value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="item form-group">
                    <label class="control-label col-md-2">
                      In/Out
                    </label>
                    <div class="col-md-4">
                      <select id="inout" name="inout" class="form-control">
                        <option id="0" value="0">ALL</option>
                        <option id="1" value="1">IN</option>
                        <option id="2" value="2">OUT</option>
                      </select>
                    </div>

                    <label class="control-label col-md-2">
                      Tunnel
                    </label>
                    <div class="col-md-4">
                      <select id="ap" name="ap" class="form-control">
                        <option id="0" value="0">ALL</option>
                        <option id="1" value="1">AT1</option>
                        <option id="2" value="2">AT2</option>
                      </select>
                    </div>
                  </div>

                  <div class="item form-group">
                    <label class="control-label col-md-2">
                      Date
                    </label>
                    <div class="col-md-10">
                      <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                      </div>
                      <input type="hidden" id="datetime" name="datetime" value="[]"
                          class="form-control col-md-6 col-xs-6" >
                    </div>
                  </div>

              <div style="text-align: right">
                <button type="submit" class="btn btn-default">Search</button>
              </div>
            </div>
          </form>

          <div class="ln_solid"></div>
        </div>  <!-- End x_content -->

        <div class="x_content">  <!-- x_content 1 -->

            <table id="pa-table" class="table table-striped projects">
              <thead>
                <tr>
                  <th>
                    <button type="button" class="btn btn-default btn-xs"
                        onclick="search()"
                        style="margin-bottom: 0;">
                      Reset
                    </button>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                    <button type="button" class="btn btn-default btn-xs"
                        onclick="exportTableToCsv('pa-table', 'Equipment Log')"
                        style="margin-bottom: 0;">
                      CSV Download
                    </button>
                  </th>
                </tr>
                <tr>
                  <th>Name</th>
                  <th>Type Name</th>
                  <th>Type Code</th>
                  <th>Time</th>
                  <th>In / Out</th>
                  <th>Access</th>
                  <th>Device Name</th>
                </tr>
              </thead>
              <tbody>
                {% for log in log_list %}
                  <tr>
                    <td>{{ log.gadget_name }}</td>
                    <td>{{ kind_dict[log.kind] }}</td>
                    <td>{{ log.kind }}</td>
                    <td>{{ log.event_time }}</td>
                    <td>{{ log.inout }}</td>
                    <td>{{ log.access_point }}</td>
                    <td>{{ log.hub_name }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td> Total </td>
                  <td>{{ log_list|length }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

        </div>  <!-- end x_content 1 -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
