{% extends "base_site.html" %}

{% block title %} Search{% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
  <!-- bootstrap-daterangepicker -->
  <link href="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  <script>
    function search() {
      window.location.href = "/dashboard/search/worker";
    }

    function exportCsv(userId, userName, group, ap, inout, violation, datetime) {
      var url = "/dashboard/search/worker/download?";
          args = "userid=" + userId + "&username=" + userName + "&group=" + group +
                 "&ap=" + ap + "&inout=" + inout + "&violation=" + violation +
                 "&datetime=" + datetime;
      window.location.href = url + args;
    }

    function handlePage(value) {
      // 1 -> prev
      // 2 -> next
      if (value === "1") {
          document.getElementById('page').value = "1";
          document.getElementById('prev').submit();
      } else {
          document.getElementById('page').value = "2";
          document.getElementById('next').submit();
      }
    }

	  function init_daterangepicker_right(startDate, endDate) {

				if( typeof ($.fn.daterangepicker) === 'undefined'){ return; }
				//console.log('init_daterangepicker_right');

				var cb = function(start, end, label) {
				  //console.log("CB : " , start.toISOString(), end.toISOString(), label);
				  $('#reportrange_right span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
				};

				var optionSet1 = {
				  //startDate: moment().subtract(29, 'days'),
				  startDate: moment(startDate),
				  endDate: moment(endDate),
				  minDate: '01/01/2019',
				  maxDate: '12/31/2025',
				  dateLimit: {
            days: 7
				  },
				  showDropdowns: true,
				  showWeekNumbers: true,
				  timePicker: false,
				  timePickerIncrement: 1,
				  timePicker12Hour: true,
				  ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()]
            //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            //'This Month': [moment().startOf('month'), moment().endOf('month')],
            //'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				  },
				  opens: 'right',
				  buttonClasses: ['btn btn-default'],
				  applyClass: 'btn-small btn-primary',
				  cancelClass: 'btn-small',
				  format: 'MM/DD/YYYY',
				  separator: ' to ',
          autoApply: true,
          showCustomRangeLabel: true,
				  locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
				  }
				};

				$('#reportrange_right span').html(moment(startDate).format('MMMM D, YYYY') + ' - ' + moment(endDate).format('MMMM D, YYYY'));
        document.getElementById('datetime').value = JSON.stringify([
          moment(startDate).format('YYYY,MM,DD') + ',00,00,00',
          moment(endDate).format('YYYY,MM,DD,HH,mm,ss')
        ]);

				$('#reportrange_right').daterangepicker(optionSet1, cb);

				$('#reportrange_right').on('show.daterangepicker', function() {
				  //console.log("show event fired");
				});
				$('#reportrange_right').on('hide.daterangepicker', function() {
				  //console.log("hide event fired");
				});
				$('#reportrange_right').on('apply.daterangepicker', function(ev, picker) {
				  //console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
				  //console.log("apply event fired, start/end dates are " + picker.startDate.format('YYYY-MM-DD HH:mm:ss') + " to " + picker.endDate.format('MMMM D, YYYY'));
          var datetimeList = [
            picker.startDate.format('YYYY,MM,DD,HH,mm,ss'),
            picker.endDate.format('YYYY,MM,DD,HH,mm,ss')
          ];
          document.getElementById('datetime').value = JSON.stringify(datetimeList);
          // SET data
				});
				$('#reportrange_right').on('cancel.daterangepicker', function(ev, picker) {
				  //console.log("cancel event fired");
          document.getElementById('datetime').value = JSON.stringify([]);
          // REMOVE data
				});
	  }
	  init_daterangepicker_right("{{ start_date }}", "{{ end_date }}");
  </script>
{% endblock javascripts %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel tile">
        <div class="x_title">
          <div class="x_title_left_div">
            <div class="col-md-6 tile_stats_count count entrance_menu_tile_div">
              <h3 class="entrance_menu_tile_select"><a href="/dashboard/search/worker">Man Log</a></h3>
            </div>
            <div class="col-md-6 tile_stats_count count entrance_menu_tile_div">
              <h3 class="entrance_menu_tile_h"><a href="/dashboard/search/equip">Equipment Log</a></h3>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

          <form id="search" action="/dashboard/search/worker"
            class="form-horizontal form-label-left" method="post">
        <div class="x_content">  <!-- start x_content -->

            <div class="col-md-12">
                  <div class="item form-group">
                    <label class="control-label col-md-1">
                      ID
                    </label>
                    <div class="col-md-3">
                      <input type="text" id="userid" name="userid" value="{{ data.id }}"
                          class="form-control col-md-6 col-xs-6" >
                    </div>

                    <label class="control-label col-md-1">
                      Name
                    </label>
                    <div class="col-md-3">
                      <input type="text" id="username" name="username" value="{{ data.name }}"
                          class="form-control col-md-6 col-xs-6" >
                    </div>

                    <label class="control-label col-md-1">
                      Group
                    </label>
                    <div class="col-md-3">
                      <input type="text" id="group" name="group" value="{{ data.group }}"
                          class="form-control col-md-6 col-xs-6" >
                    </div>
                  </div>

                  <div class="item form-group">
                    <label class="control-label col-md-1">
                      In/Out
                    </label>
                    <div class="col-md-3">
                      <select id="inout" name="inout" class="form-control">
                        {% if data['inout'] == "1" %}
                          <option id="0" value="0">ALL</option>
                          <option id="1" value="1" selected>IN</option>
                          <option id="2" value="2">OUT</option>
                        {% elif data["inout"] == "2" %}
                          <option id="0" value="0">ALL</option>
                          <option id="1" value="1">IN</option>
                          <option id="2" value="2" selected>OUT</option>
                        {% else %}
                          <option id="0" value="0" selected>ALL</option>
                          <option id="1" value="1">IN</option>
                          <option id="2" value="2">OUT</option>
                        {% endif %}
                      </select>
                    </div>

                    <label class="control-label col-md-1">
                      Tunnel
                    </label>
                    <div class="col-md-3">
                      <select id="ap" name="ap" class="form-control">
                        {% if data['ap'] == "1" %}
                          <option id="0" value="0">ALL</option>
                          <option id="1" value="1" selected>AT1</option>
                          <option id="2" value="2">AT2</option>
                        {% elif data['ap'] == "2" %}
                          <option id="0" value="0">ALL</option>
                          <option id="1" value="1">AT1</option>
                          <option id="2" value="2"selected>AT2</option>
                        {% else %}
                          <option id="0" value="0" selected>ALL</option>
                          <option id="1" value="1">AT1</option>
                          <option id="2" value="2">AT2</option>
                        {% endif %}
                      </select>
                    </div>

                    <label class="control-label col-md-1">
                      Violation
                    </label>
                    <div class="col-md-3">
                      <select id="violation" name="violation" class="form-control">
                        {% if data['violation'] == "0" %}
                          <option id="100" value="100">ALL</option>
                          <option id="0" value="0" selected>Normal</option>
                          <option id="1" value="1">Violation</option>
                        {% elif data['violation'] == "1" %}
                          <option id="100" value="100">ALL</option>
                          <option id="0" value="0">Normal</option>
                          <option id="1" value="1" selected>Violation</option>
                        {% else %}
                          <option id="100" value="100"selected>ALL</option>
                          <option id="0" value="0">Normal</option>
                          <option id="1" value="1">Violation</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>


                  <div class="item form-group">
                    <label class="control-label col-md-1">
                      Date
                    </label>
                    <div class="col-md-11">
                      <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                      </div>
                      <input type="hidden" id="datetime" name="datetime" value="[]"
                          class="form-control col-md-6 col-xs-6" >
                    </div>
                  </div>
                  <div class="item form-group">
                    <input id="page" name="page" type="hidden" value="0">
                  </div>

              <div style="text-align: right">
                <button type="submit" class="btn btn-default">Search</button>
              </div>
            </div>

        </div>  <!-- End x_content -->

        <div class="x_content">  <!-- x_content 1 -->
          <div class="ln_solid"></div>
            <table id="pa-table" class="table table-striped projects">
              <thead>
                <tr>
                  <th>
                    <button type="button" class="btn btn-default btn-xs"
                        onclick="search()"
                        style="margin-bottom: 0;">
                      Reset
                    </button>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                    <button type="button" class="btn btn-default btn-xs"
                        onclick="exportCsv('{{data.id}}', '{{ data.name }}', '{{data.group}}', '{{data.ap}}', '{{data.inout}}', '{{data.violation}}', '{{data.datetime}}')"
                        style="margin-bottom: 0;">
                      CSV Download
                    </button>
                  </th>
                </tr>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Time</th>
                  <th>In / Out</th>
                  <th>Access</th>
                  <th>Violation</th>
                  <th>Device Name</th>
                </tr>
              </thead>
              <tbody>
                {% for log in log_list.items %}
                  <tr>
                    <td>{{ log.worker_id }}</td>
                    <td>{{ log.worker_name }}</td>
                    <td>
                      {% if log.worker_group %}
                        {{ log.worker_group }}
                      {% endif %}
                    </td>
                    <td>{{ log.event_time }}</td>
                    <td>{{ log.inout }}</td>
                    <td>{{ log.access_point }}</td>
                    <td>{{ log.typ }}</td>
                    <td>{{ log.device_name }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  {% if log_list.has_prev %}
                    <td style="text-align:left;">
                      <input id="prev_num" name="prev_num" type="hidden" value="{{ log_list.prev_num }}">
                      <button id="prev" type="submit" class="btn btn-default" onclick="handlePage('1')">Prev</button>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td></td>
                  <td></td>
                  <td style="text-align:right;vertical-align:middle;">
                    {% if log_list.has_next %} {{ log_list.page * 100 }} {% else %} {{ log_list.total }} {% endif %} / {{ log_list.total }}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  {% if log_list.has_next %}
                    <td style="text-align:right;">
                      <input id="next_num" name="next_num" type="hidden" value="{{ log_list.next_num }}">
                      <button id="next" type="submit" class="btn btn-default" onclick="handlePage('2')">Next</button>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                </tr>
              </tbody>
            </table>
        </div>  <!-- end x_content 1 -->
        </form>
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
