{% extends "base_site.html" %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block title %} Notice {% endblock title %}

{% block javascripts %}
  {{ super()}}
  <script>
    function delete_notice(noticeId) {
      window.location.href = "/dashboard/board/notice/" + noticeId + "/delete";
    }
  </script>
{% endblock javascripts %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">
      <!-- start row -->
      <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel tile">
                <div class="x_title">
                  <h3> Notice </h3>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form action="#" method="post" class="form-horizontal form-label-left">

                    <div class="form-group">
                      <label class="control-label col-md-2 col-sm-2 col-xs-2" for="title">Title
                      </label>
                      <label class="control-label col-md-8 col-sm-8 col-xs-8" style="text-align:left;">
                        {{ notice.title }}
                      </label>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-2 col-sm-2 col-xs-2" for="writer">Writer
                      </label>
                      <label class="control-label col-md-8 col-sm-8 col-xs-8" style="text-align:left;">
                        {{ notice.writer }}
                      </label>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-2 col-sm-2 col-xs-2" for="department">Department
                      </label>
                      <label class="control-label col-md-8 col-sm-8 col-xs-8" style="text-align:left;">
                        {{ notice.department }}
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-2 col-sm-2 col-xs-2" for="department">Date
                      </label>
                      <label class="control-label col-md-8 col-sm-8 col-xs-8" style="text-align:left;">
                        {{ notice.created_time }}
                      </label>
                    </div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                      <label class="control-label col-md-2 col-sm-2 col-xs-2" for="department">Content
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-8">
                      <!--
                        <a href="#" onclick="window.open('{{ notice.file_path }}', '{{ notice.title }}','width=#, height=#,location=0, directories=no,resizable=no,status=no,toolbar=no,menubar=no'); return false">
                      -->
                        <a href="{{ notice.file_path }}" target="_blank">
                          <img src="{{notice.file_path}}" style="width: 100%">
                        </a>
                      </div>
                    </div>
                  </form>

                  <div class="ln_solid"></div>
                  <div style="text-align:right;">
                    <a href="/dashboard/board/notice">
                      <button class="btn btn-default"> List </button>
                    </a>
                  {% if current_user.level == 0 %}
                    <button class="btn btn-danger" data-toggle="modal" data-target=".notice-modal">Delete</button>
                  {% endif %}
                  </div>
                  <div class="modal fade notice-modal" tabindex="-3" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="headerFile" style="color: #ff0000"><i class="fa fa-exclamation-triangle"></i> WARING</h4>
                        </div>
                        <div>
                          <div class="modal-body" style="color: #ff0000">
                            <h4>Delete {{ notice.title }}</h4>
                            <div>
                              Do you want to delete the {{ notice.title}}?
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-danger" data-dismiss="modal" onclick="delete_notice({{ notice.id }});">OK</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>  <!-- End modal -->


                </div>
              </div>
            </div>

      </div>  <!-- End row -->

    </div>
  </div>

{% endblock content %}
