{% extends "base_site.html" %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block title %} Tunnel Entrance Control System {% endblock title %}
{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='vendors/socketio/socket.io.min.js') }}"></script>
  <script>
      $(document).ready(function(){
        var host = window.location.hostname;
        var sock = io.connect('http://' + host + ':5000/ws/log/worker');
        sock.on('connect', function(){
          sock.send("worker logs connect");
        });

        sock.on('disconnect', function(msg){
          sock.send("worker logs disconnect");
        });

        sock.on('worker', function(msg){
          console.log('Received Worker Log Message :',msg);
          var logData = JSON.parse(msg);
              timestamp = logData.event_time,
              payLoad = logData.text;
          var addObj= "<div class=''>" +
                "<h3 class='panel-title'>" + timestamp +
                "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                payLoad + "</h3>" +
            "</div>"

          if (logData.inout == 1) {
            if (logData.access_point == 1) {
              $(".accordionInAT1").prepend(addObj);
            } else {
              $(".accordionInAT2").prepend(addObj);
            }
          } else {
            if (logData.access_point == 1) {
              $(".accordionOutAT1").prepend(addObj);
            } else {
              $(".accordionOutAT2").prepend(addObj);
            }
          }
        });
      });

      var isExpand = false;
      function onExpand() {
        if (isExpand) {
          exitFullScreen();
        } else {
          enterFullScreen();
        }
      }
      function enterFullScreen() {
          var docV = document.documentElement;
          if (docV.requestFullscreen) {
              docV.requestFullscreen();
          } else if (docV.webkitRequestFullscreen) { // Chrome, Safari (webkit)
              docV.webkitRequestFullscreen();
          } else if (docV.mozRequestFullScreen) { // Firefox
              docV.mozRequestFullScreen();
          } else if (docV.msRequestFullscreen) { // IE or Edge
              docV.msRequestFullscreen();
          }
      }
      function exitFullScreen() {
        var docV = document;
        var requestMethod = docV.exitFullscreen ||
                            docV.mozCancelFullScreen ||
                            docV.webkitExitFullscreen ||
                            docV.msExitFullscreen;
         if (requestMethod) {
               requestMethod.call(docV);
         } else {
               console.log("Oops. Request method false.");
          }
     }
     function handleSidebarMenu() {
       if ($BODY.hasClass('nav-md')) {
         $SIDEBAR_MENU.find('li.active ul').hide();
         $SIDEBAR_MENU.find('li.active').addClass('active-sm').removeClass('active');
       } else {
         $SIDEBAR_MENU.find('li.active-sm ul').show();
         $SIDEBAR_MENU.find('li.active-sm').addClass('active').removeClass('active-sm');
       }
       $BODY.toggleClass('nav-md nav-sm');
       $(window).resize();
     }

     document.addEventListener("fullscreenchange", function() {
       if (isExpand) {
         isExpand = false;
         document.getElementById("expand").classList.remove('fa-compress');
         document.getElementById("expand").classList.add('fa-expand');
         handleSidebarMenu();
       } else {
         isExpand = true;
         document.getElementById("expand").classList.remove('fa-expand');
         document.getElementById("expand").classList.add('fa-compress');
         handleSidebarMenu();
       }
     });
  </script>
{% endblock javascripts %}
{% block stylesheets %}
    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">
      <!-- start row -->
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel tile" style="border:0;">
            <div class="x_title">
              <div class="x_title_left_entrance_div">
                <div class="row">
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_h"><a href="/dashboard/count">Summary View</a></h3>
                  </div>
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_h"><a href="/dashboard/count/detail">Detail View</a></h3>
                  </div>
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_select"><a href="/dashboard/worker_logs">Logs by Man</a></h3>
                  </div>
                  <div class="col-md-3 tile_stats_count count entrance_menu_tile_div">
                    <h3 class="entrance_menu_tile_h"><a href="/dashboard/equip_logs">Logs by Equip</a></h3>
                  </div>
                </div>
              </div>
              <div class="x_title_right_entrance_div">
                <h3>
                  <i id="expand" class="fa fa-expand pointer_cursor" onclick="onExpand();"></i>
                </h3>
              </div>
              <div class="clearfix"></div>
            </div> <!-- x_title-->
          </div> <!-- end panel -->
        </div>
      </div>  <!-- end row -->

      <div class="row">  <!-- Start Row At1 -->

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile" style="border-radius:0px;">
            <div class="x_title">
              <h3>AT-1 Check-In</h3>
            </div>
            <div class="x_content">
              <div class="accordionInAT1" id="scroll-style-hidden" role="tablist" aria-multiselectable="true"
                  style="overflow:scroll;max-height: 500px;">
              </div>
                <script>
                  function getLogs(){
                    url = "/dash/worker_log/in/1";
                    jQuery.get(url, { 'page_num': 1})
                      .done(function (data) {
                        var logList = JSON.parse(data);
                        if (logList) {
                          logList.forEach(function (log) {
                            var logId = log.id,
                                timestamp = log.event_time,
                                payLoad = log.text;
                            if (log.typ == 1) {
                              var addObj= "<div class='' style='color: #ff0000'>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            } else {
                              var addObj= "<div class=''>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            }

                            $(".accordionInAT1").append(addObj);
                          });
                        }
                      });
                  }
                  getLogs();
                </script>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile" style="border-radius:0px;">
            <div class="x_title">
              <h3>AT-1 Check-Out</h3>
            </div>
            <div class="x_content">
              <div class="accordionOutAT1" id="scroll-style-hidden" role="tablist" aria-multiselectable="true"
                  style="overflow:scroll;max-height: 500px;">
              </div>
                <script>
                  function getLogs(){
                    url = "/dash/worker_log/out/1";
                    jQuery.get(url, { 'page_num': 1})
                      .done(function (data) {
                        var logList = JSON.parse(data);
                        if (logList) {
                          logList.forEach(function (log) {
                            var logId = log.id,
                                timestamp = log.event_time,
                                payLoad = log.text;
                            if (log.typ == 1) {
                              var addObj= "<div class='' style='color: #ff0000'>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            } else {
                              var addObj= "<div class=''>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            }

                            $(".accordionOutAT1").append(addObj);
                          });
                        }
                      });
                  }
                  getLogs();
                </script>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

      </div> <!-- End row -->

      <div class="row">  <!-- Start Row AT2 -->

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile" style="border-radius:0px;">
            <div class="x_title">
              <h3>AT-2 Check-In</h3>
            </div>
            <div class="x_content">
              <div class="accordionInAT2" id="scroll-style-hidden" role="tablist" aria-multiselectable="true"
                  style="overflow:scroll;max-height:500px;">
              </div>
                <script>
                  function getLogs(){
                    url = "/dash/worker_log/in/2";
                    jQuery.get(url, { 'page_num': 1})
                      .done(function (data) {
                        var logList = JSON.parse(data);
                        if (logList) {
                          logList.forEach(function (log) {
                            var logId = log.id,
                                timestamp = log.event_time,
                                payLoad = log.text;
                            if (log.typ == 1) {
                              var addObj= "<div class='' style='color: #ff0000'>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            } else {
                              var addObj= "<div class=''>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            }

                            $(".accordionInAT2").append(addObj);
                          });
                        }
                      });
                  }
                  getLogs();
                </script>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile" style="border-radius:0px;">
            <div class="x_title">
              <h3>AT-2 Check-Out</h3>
            </div>
            <div class="x_content">
              <div class="accordionOutAT2" id="scroll-style-hidden" role="tablist" aria-multiselectable="true"
                  style="overflow:scroll;max-height:500px;">
              </div>
                <script>
                  function getLogs(){
                    url = "/dash/worker_log/out/2";
                    jQuery.get(url, { 'page_num': 1})
                      .done(function (data) {
                        var logList = JSON.parse(data);
                        if (logList) {
                          logList.forEach(function (log) {
                            var logId = log.id,
                                timestamp = log.event_time,
                                payLoad = log.text;
                            if (log.typ == 1) {
                              var addObj= "<div class='' style='color: #ff0000'>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            } else {
                              var addObj= "<div class=''>" +
                                              "<h3 class='panel-title'>" + timestamp +
                                              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                              payLoad + "</h3>" +
                                          "</div>"
                            }

                            $(".accordionOutAT2").append(addObj);
                          });
                        }
                      });
                  }
                  getLogs();
                </script>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

      </div> <!-- End row -->

    </div>
  </div>

{% endblock content %}
