{% extends "base_site.html" %}

{% block title %} Worker List{% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_dashboard.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block javascripts %}
  {{ super() }}
  <script>
    function exportCsv(key) {
      var url = "/dashboard/count/worker/list/download/" + key;
      window.location.href = url;
    }
  </script>
{% endblock javascripts %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
  <div class="row">  <!-- start row -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel tile">

        <div class="x_content">  <!-- x_content -->
            <table id="pa-table" class="table table-striped projects">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  {% if current_user.level == 0 %}
                    <th></th>
                    <th>
                      <button type="button" class="btn btn-default btn-xs"
                          onclick="exportCsv('{{ ap }}')"
                          style="margin-bottom: 0;">
                        CSV Download
                      </button>
                    </th>
                  {% else %}
                    <th>
                      <button type="button" class="btn btn-default btn-xs"
                          onclick="exportCsv()"
                          style="margin-bottom: 0;">
                        CSV Download
                      </button>
                    </th>
                  {% endif %}
                </tr>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Group</th>
                  <th>Entrance Time</th>
                  <th>Working Time</th>
                  {% if current_user.level == 0 %}
                    <th>Remove</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for key, value in workers.items() %}
                  {% if value|isDict %}
                    <tr>
                      <td>
                        {{ value.user_id.user_id }}
                      </td>
                      <td>
                        {{ value.user_id.name }}
                      </td>
                      <td>
                        {{ value.user_group_id.name }}
                      </td>
                      <td>
                        {{ value.event_time }}
                      </td>
                      {% if (value.event_time|duringTime).days > 0 %}
                        <td style="color:#ff0000;">
                          {{ value.event_time|duringTime }}
                        </td>
                      {% elif (value.event_time|duringTime).seconds > 43200 %}
                        <td style="color:#ff0000;">
                          {{ value.event_time|duringTime }}
                        </td>
                      {% else %}
                        <td>
                          {{ value.event_time|duringTime }}
                        </td>
                      {% endif %}
                      {% if current_user.level == 0 %}
                        <td>
                          <a href="/dashboard/count/worker/list/{{ ap }}/{{ id }}"
                              class="btn btn-danger btn-xs">
                            <i class="fa fa-remove"></i> Remove
                          </a>
                        </td>
                      {% endif %}
                    </tr>
                  {% else %}
                      <td>
                        {{ value }}
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      {% if current_user.level == 0 %}
                        <td>
                          <a href="/dashboard/count/worker/list/{{ ap }}/{{ id }}"
                              class="btn btn-danger btn-xs">
                            <i class="fa fa-remove"></i> Remove
                          </a>
                        </td>
                      {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
                <tr>
                  <td>Total</td>
                  <td>{{workers|length}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  {% if current_user.level == 0 %}
                    <td></td>
                  {% endif %}
                </tr>
              </tbody>
            </table>
        </div>  <!-- end x_content -->
      </div>  <!-- end x_panel -->
    </div>

  </div>  <!-- End row -->
</div>

{% endblock content %}
