{% extends "base_site.html" %} {% block sidebar %}
<div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_covid19.html" %}
</div>
{% endblock sidebar %} {% block stylesheets %} {{ super() }}
<link type="text/css" rel="stylesheet" href="static/js/vendor/grid/css/ag-grid.min.css" />
<link type="text/css" rel="stylesheet" href="static/js/vendor/grid/css/material.min.css" />
<link type="text/css" rel="stylesheet" href="static/css/common.css" />
<link type="text/css" rel="stylesheet" href="static/css/dashboard.css" />
<link type="text/css" rel="stylesheet" href="static/css/vendors/animate/animate.min.css" />
{% endblock stylesheets %} {% block title %}{% endblock title %} {% block content %}
<div id="scroll-style-hidden" class="right_col base" role="main">
    <div class="sub-title-container status-container">Overview</div>

    <div class="cd-row-container unfold">
        <div class="cd-sub-title-label">Manpower Status</div>
        <div class="cd-sub-contents-container">
            <div class="cd-col cd-col-2 overall">
                <div class="cd-overall-title-label">Overall</div>
                <div class="cd-overall-icn"></div>
                <div class="cd-overall-value-label">N/A</div>
            </div>
            <div class="cd-col cd-col-10">
                <div class="cd-grid manpower ag-theme-material"></div>
            </div>
        </div>
    </div>

    <div class="cd-row-container unfold">
        <div class="cd-sub-title-btn">
            <div class="cd-sub-title-icon"></div>
            <div class="cd-sub-title-label">PASS Extension Status - Total</div>
        </div>
        <div class="cd-sub-contents-container">
            <div class="cd-col cd-col-12">
                <div class="cd-grid pass total ag-theme-material"></div>
            </div>
        </div>
    </div>

    <div class="cd-row-container unfold">
        <div class="cd-sub-title-btn">
            <div class="cd-sub-title-icon"></div>
            <div class="cd-sub-title-label">PASS Extension Status - UG</div>
        </div>
        <div class="cd-sub-contents-container">
            <div class="cd-col cd-col-12">
                <div class="cd-grid pass ug ag-theme-material"></div>
            </div>
        </div>
    </div>

    <div class="cd-row-container unfold">
        <div class="cd-sub-title-btn">
            <div class="cd-sub-title-icon"></div>
            <div class="cd-sub-title-label">PASS Extension Status - AG</div>
        </div>
        <div class="cd-sub-contents-container">
            <div class="cd-col cd-col-12">
                <div class="cd-grid pass ag ag-theme-material"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block javascripts %} {{ super() }}
<script src="static/js/vendor/grid/ag-grid-enterprise.min.js"></script>
<script src="static/js/vendor/moment/moment.min.js"></script>
<script src="static/js/vendor/moment/moment-timezone-with-data.min.js"></script>
<script>
    (function() {
        const IS_INTERNAL = {{is_internal|tojson}};
        const LICENSE_KEY = "CompanyName=Kith Creative Inc.,LicensedApplication=SCS,LicenseType=SingleApplication,LicensedConcurrentDeveloperCount=1,LicensedProductionInstancesCount=0,AssetReference=AG-015479,ExpiryDate=9_May_2022_[v2]_MTY1MjA1MDgwMDAwMA==94d947d25667951aa892d1334d29ff9b";
        const PASS_GRID_OPTIONS = {
            animateRows: true,
            defaultColDef: {
                flex: 1,
                sortable: false,
                resizable: true,
                editable: false,
                filter: false,
                suppressMenu: true,
                type: 'numericColumn',
                valueFormatter: (params) => {
                    if (_.isObject(params.value) && !_.isEmpty(params.value)) {
                        return {
                            inProgress: _toNumberString(params.value.in_progress),
                            noProgress: _toNumberString(params.value.total - params.value.in_progress),
                            total: _toNumberString(params.value.total)
                        };
                    }
                },
                cellRenderer: (params) => {
                    const _widget = document.createElement('div');
                    if (params.valueFormatted) {
                        _widget.innerHTML = '';
                        if (params.valueFormatted.noProgress <= 0) {
                            _widget.innerHTML = `<span>${params.valueFormatted.noProgress}</span>`;
                        } else {
                            _widget.innerHTML = `<span class="cell-number-negative-label">${params.valueFormatted.noProgress}</span>`;
                        }
                        _widget.innerHTML = _widget.innerHTML + `/<span>${params.valueFormatted.total}</span>
                        `;

                        return _widget;
                    }

                    return 'N/A';
                }
            },
            columnDefs: [
                {
                    headerName: '',
                    field: 'kind',
                    width: 130,
                    minWidth: 130,
                    pinned: 'left',
                    cellClass: 'grid-row-column',
                    cellRenderer: (params) => {
                        const _widget = document.createElement('div');
                        _widget.innerHTML = `${params.valueFormatted}`;
                        _widget.setAttribute('class', 'cd-pass-ext-row-column-text');

                        return params.value;
                    }
                },
                {
                    headerName: 'Visa',
                    field: 'visa'
                },
                {
                    headerName: 'CICPA',
                    field: 'cicpa'
                },
                {
                    headerName: 'Emirate ID',
                    field: 'emirates_id'
                },
                {
                    headerName: 'Labor Card',
                    field: 'lc'
                },
                {
                    headerName: 'Health Insurance',
                    field: 'hi'
                },
                {
                    headerName: 'MFC',
                    field: 'mfc'
                },
                {
                    headerName: 'Heavy Vehicle',
                    field: 'heavy_vehicle'
                },
                {
                    headerName: 'Light Vehicle',
                    field: 'light_vehicle'
                }
            ],
            rowData: [{id:'expiry'}, {id:'urgent'}, {id:'warning'}, {id:'expired'}],
            getRowNodeId: (data) => {
                return data.id;
            }
        };

        const _db = firebase.database();
        let _manpowerGridOptions = {},
            _passGridOptions = {};

        // Init
        initGrids();
        display();
        initHandlers();

        function initGrids() {
            agGrid.LicenseManager.setLicenseKey(LICENSE_KEY);
            _initManPowerGrid();
            _initPassExtensionStatusGrid();
            _initAgPassExtensionStatusGrid();
            _initUgPassExtensionStatusGrid();
        }

        function display() {
            _loadData();
            _loadTodayOnSite();
            setInterval(_loadTodayOnSite, 1000 * 60 * 30); // 30min
        }

        function _initManPowerGrid() {
            _manpowerGridOptions = {
                animateRows: true,
                rowClass: 'cd-grid-manpower-row',
                rowHeight: 190,
                headerHeight: 80,
                defaultColDef: {
                    flex: 1,
                    sortable: false,
                    resizable: true,
                    editable: false,
                    filter: false,
                    suppressMenu: true,
                    type: 'numericColumn',
                    cellStyle: {
                        'height': '100%',
                        'display': 'flex ',
                        'justify-content': 'flex-end',
                        'align-items': 'center ',
                    },
                    valueFormatter: (params) => {
                        if (_.isNumber(params.value)) {
                            return _toNumberString(params.value);
                        }
                        return 'N/A';
                    }
                },
                columnDefs: [
                    {
                        headerName: '',
                        field: 'kind',
                        width: 75,
                        minWidth: 75,
                        flex: false,
                        pinned: 'left',
                        valueFormatter: (params) => params.value,
                        cellClass: 'grid-row-column'
                    },
                    {
                        headerName: 'Total',
                        field: 'total'
                    },
                    {
                        headerName: 'On-Duty',
                        field: 'on_duty'
                    },
                    {
                        headerName: 'On Vacation',
                        field: 'on_vacation'
                    },
                    {
                        headerName: 'Return from Vacation (RTW_E)',
                        field: 'rtw_e'
                    },
                    {
                        headerName: 'New Comer (RTW_N)',
                        field: 'rtw_n'
                    },
                    {
                        headerName: 'Today\'s On-Site (Day)',
                        field: 'onsite_total_day'
                    },
                    {
                        headerName: 'Today\'s On-Site (Night)',
                        field: 'onsite_total_night'
                    }
                ],
                rowData: [{id:'ug'}, {id:'ag'}],
                getRowNodeId: (data) => {
                    return data.id;
                }
            };
            new agGrid.Grid($('.cd-grid.manpower').get(0), _manpowerGridOptions);
        }

        function _initPassExtensionStatusGrid() {
            _passGridOptions.total = _.clone(PASS_GRID_OPTIONS);
            new agGrid.Grid($('.cd-grid.pass.total').get(0), _passGridOptions.total);
        }

        function _initAgPassExtensionStatusGrid() {
            _passGridOptions.ag = _.clone(PASS_GRID_OPTIONS);
            new agGrid.Grid($('.cd-grid.pass.ag').get(0), _passGridOptions.ag);
        }

        function _initUgPassExtensionStatusGrid() {
            _passGridOptions.ug = _.clone(PASS_GRID_OPTIONS);
            new agGrid.Grid($('.cd-grid.pass.ug').get(0), _passGridOptions.ug);
        }

        function _loadData() {
            _db.ref('stats/personnel/daily').off();
            _db.ref('stats/personnel/daily').on('value', (snapshot) => {
                const _data = snapshot.val();
                _updateManpowerStatus(_data);
                _updatePassExtensionStatus(_passGridOptions.total.api, _data.pass_status);
                _updatePassExtensionStatus(_passGridOptions.ag.api, _data.ag?.pass_status);
                _updatePassExtensionStatus(_passGridOptions.ug.api, _data?.ug.pass_status);
            });
        }

        function _loadTodayOnSite() {
            _db.ref(`stats/staff/interval`).on('value', (snapshot) => {
                const _data = snapshot.val();
                _updateOnSite(_data);
            });
            console.log('Update today on-ste count.');
        }

        function _updateOnSite(data) {
            _manpowerGridOptions.api.getRowNode('ug').setDataValue('onsite_total_day', data[0]?.UG?.total);
            _manpowerGridOptions.api.getRowNode('ag').setDataValue('onsite_total_day', data[0]?.AG?.total);
            _manpowerGridOptions.api.getRowNode('ug').setDataValue('onsite_total_night', data[1]?.UG?.total);
            _manpowerGridOptions.api.getRowNode('ag').setDataValue('onsite_total_night', data[1]?.AG?.total);
        }

        function _updateManpowerStatus(data) {
            // Overall
            $('.cd-overall-value-label').text(_toNumberString(data.total));

            // Manpower
            const _ugData = data.ug,
                _agData = data.ag;
            _ugData.id = 'ug';
            _ugData.kind = 'UG';
            _agData.id = 'ag';
            _agData.kind = 'AG';

            _manpowerGridOptions.api.getRowNode(_ugData.id).setData(_ugData);
            _manpowerGridOptions.api.getRowNode(_agData.id).setData(_agData);
        }

        function _updatePassExtensionStatus(api, data) {
            let _passRows = [];
            if (data) {
                _passRows = _.map(_.zip(data.visa, data.cicpa, data.emirates_id, data.lc, data.hi, data.mfc,
                    data.heavy_vehicle, data.light_vehicle), (valueList) => {
                        return _.object(['visa', 'cicpa', 'emirates_id', 'lc', 'hi', 'mfc', 'heavy_vehicle',
                            'light_vehicle'], valueList);
                    });
                _passRows = _.rest(_passRows); // Remove values in '0', firebase db returned null values in 0 index.
            }

            _passRows[0] = _.extend(_passRows[0] || {}, {id: 'expiry', kind: 'Expiry Soon'});
            _passRows[1] = _.extend(_passRows[1] || {}, {id: 'urgent', kind: 'Urgent Action'});
            _passRows[2] = _.extend(_passRows[2] || {}, {id: 'warning', kind: 'Warning'});
            _passRows[3] = _.extend(_passRows[3] || {}, {id: 'expired', kind: 'Expired'});

            _.each(_passRows, (rowData) => {
                api.getRowNode(rowData.id).setData(rowData);
            });
        }

        function initHandlers() {
            $('.cd-sub-title-btn').click(function() {
                if ($(this).parent().hasClass('unfold')) {
                    $(this).parent().removeClass('unfold');
                } else {
                    $(this).parent().addClass('unfold');
                }
            });
        }

        function _toNumberString(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }
    })();
</script>
{% endblock javascripts %}
