{% extends "base_site.html" %}

{% block sidebar %}
    <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
        {% include "site_template/sidebar_covid19.html" %}
    </div>
{% endblock sidebar %}

{% block stylesheets %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="static/css/common.css">
    <link type="text/css" rel="stylesheet" href="static/css/managedata.css">
{% endblock stylesheets %}

{% block title %}{% endblock title %}

{% block content %}
<div id="scroll-style-hidden" class="right_col base" role="main">
    <div class="title-container">
        <div class="title-icon stats"></div>
        <div class="title-label">Stats</div>
    </div>
    <div class="content-container stats">
        <div class="sub-title-label">Manual</div>
        <div class="items-container stats">
            <div class="items-desc-label">
                Manually update the stats to display on the dashboard
            </div>
            <div class="stat-items-container"></div>
            <div class="si-bottom-container">
                <div class="si-update-label"></div>
                <div class="si-update-btn btn">Update</div>
            </div>
        </div>
    </div>
    <div class="content-container tests">
        <!-- Upload box -->
        <div class="title-container">
            <div class="title-icon tests"></div>
            <div class="title-label">Tests</div>
        </div>
        <div class="upload-container">
            <div class="upload-icon"></div>
            <div class="desc-label">Drag & Drop a file containing data to upload</div>
            <div class="or-label">or</div>
            <div class="browse-button btn">Browse (.csv)</div>
        </div>
        <div class="submit-button btn">Submit</div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="static/js/vendor/moment/moment.min.js"></script>
    <script src="static/js/vendor/moment/moment-timezone-with-data.min.js"></script>
    <script>
        (function() {
            const MANUAL_STATS_KEY_LIST = ["confirmed", "deaths", "recovered", "active_positives",
                "quarantined", "isolated", "hospitalized", "country_total_cases", "country_total_deaths",
                "stringency_index", "headcount", "alert_phase"],
                MANUAL_STATS_DISPLAY = {
                    'confirmed': 'Confirmed',
                    'deaths': 'Deaths',
                    'recovered': 'Recovered',
                    'active_positives': "Active/Positive",
                    'quarantined': 'Quarantined',
                    'isolated': 'Isolated',
                    'close_contacts': 'Close Contacts',
                    'symptomatics': 'Suspected symptom',
                    'hospitalized': 'Hospitalized',
                    'selfassessments': 'Self-Assessments',
                    'country_total_cases': 'UAE Total cases',
                    'country_total_deaths': 'UAE Total deaths',
                    'stringency_index': 'Stringency Index',
                    'headcount': 'Headcount',
                    'alert_phase': 'Alert Phase'
                },
                TIMEZONE = 'Asia/Dubai';

            let _db = firebase.firestore(),
                _stats,
                _statsDate;
            let _statViewItems = {};


            // init
            initialize();
            initHandlers();
            // load stats
            loadStats(function(stats) {
                _stats = stats;
                _statsDate = new Date(stats.ts.seconds * 1000);

                buildStatsItems(stats);
            });


            function buildStatsItems(stats) {
                if (stats) {
                    let _container = $('.stat-items-container');
                    _.each(MANUAL_STATS_KEY_LIST, function(key) {
                        let _viewItem = StatItem(MANUAL_STATS_DISPLAY[key], stats[key]);
                        _container.append(_viewItem.render());    
                    
                        _statViewItems[key] = _viewItem;
                    });
                }
            }

            function loadStats(callback) {
                let _callback = callback || _.noop;

                _db.collection('covid19_stats')
                    .orderBy('ts', 'desc')
                    .limit(1).get().then((snapshot) => {
                        var today = {};
                        if (!snapshot.empty) {
                            let doc = _.last(snapshot.docs);
                            today = doc.data();
                            today.documentId = doc.id;
                        }

                        _callback(today); 
                    });
            }

            function addStats(newStats, callbacks) {
                let _callbacks = callbacks || {
                    success: _.noop,
                    error: _.noop
                };
                if (newStats)  {
                    let _data = _.extend(newStats, {
                        ts: firebase.firestore.FieldValue.serverTimestamp()
                    });

                    let ref = _db.collection('covid19_stats').doc();
                    ref.set(_data).then(function() {
                        // Updates stats date for update next time.
                        _statsDate = new Date();
                        _stats.documentId = ref.id;

                        _callbacks.success();
                    }).catch(function() {
                        _callbacks.error();
                    });
                } else {
                    console.warn('Failed to add new stats by given data is null.');
                    _callbacks.error();
                }
            }

            function updateStats(documentId, newStats, callbacks) {
                let _callbacks = callbacks || {
                    success: _.noop,
                    error: _.noop
                };

                if (documentId && newStats) {
                    let _data = _.extend(newStats, {
                        ts: firebase.firestore.FieldValue.serverTimestamp()
                    });

                    _db.collection('covid19_stats').doc(documentId).update(_data).then(function() {
                        _callbacks.success();
                    }).catch(function() {
                        _callbacks.error();
                    });
                } else {
                    _callbacks.error();
                }
            }

            function initialize() {
                // init Noty
                PNotify.prototype.options.delay = 5000;
                PNotify.prototype.options.styling = 'bootstrap3';
            }

            function initHandlers() {
                $('.si-update-btn').click(function() {
                    let _newStats = {};
                    _.each(_statViewItems, function(statsItem, key) {
                        if (statsItem.isChanged()) {
                            let _value = statsItem.getValue();
                            if (_.isNumber(_value)) {
                                _newStats[key] = _value;
                            }
                        }
                    });

                    if (!_.isEmpty(_newStats)) {
                        let _statsDate,
                            _todayDate = new Date();
                        if (!_.isEmpty(_stats.ts)) {
                            _statsDate = new Date(_stats.ts.seconds * 1000);
                        }

                        if (isFutureDay(_statsDate, _todayDate)) {
                            // Adds new stats.
                            _newStats = _.extend(_stats, _newStats);

                            addStats(_newStats, {
                                success: function() {
                                    updateStats(_newStats);
                                    new PNotify({
                                        type: 'success',
                                        text: 'Manual stats updated successfully.'
                                    });
                                }, error: function() {
                                    new PNotify({
                                        type: 'error',
                                        text: 'Failed to manual update stats.'
                                    });
                                }
                            });
                        } else {
                            // Updates current stats.
                            updateStats(_stats.documentId, _newStats, {
                                success: function() {
                                    updateStats(_newStats);
                                    new PNotify({
                                        type: 'success',
                                        text: 'Manual stats updated successfully.'
                                    });
                                }, error: function() {
                                    new PNotify({
                                        type: 'error',
                                        text: 'Failed to manual update stats.'
                                    });
                                }
                            });
                        }
                    } else {
                        new PNotify({
                            type: 'notice',
                            text: 'There is no changes.'
                        });
                    }
                });
            }

            function isFutureDay(source, target) {
                let result = false;
                if (source && target)  {
                    let convertedSource = moment(source).tz(TIMEZONE),
                        convertedTarget = moment(target).tz(TIMEZONE);
                    let sourceFullYear = convertedSource.year(),
                        sourceMonth = convertedSource.month(),
                        sourceDate = convertedSource.day(),
                        targetFullYear = convertedTarget.year(),
                        targetMonth = convertedTarget.month(),
                        targetDate = convertedTarget.day();

                    return sourceFullYear < targetFullYear || sourceMonth < targetMonth ||
                        sourceDate < targetDate;
                } else {
                    console.warn('Cannot check date by given source or target is null.');
                }

                return result;
            }

            function updateStatsItem(newStats) {
                _.each(newStats, function(value, key) {
                    let _viewItem = _statViewItems[key];
                    if (_viewItem) {
                        _viewItem.update(value);
                    }
                });
            }

            function StatItem(title, value) {
                let _views = {},
                    _title = title,
                    _value = value;

                function render() {
                    let container = $('<div class="stat-item">'),
                        titleLabel = $('<div class="si-title-label">'),
                        valueTextbox = $('<input type="text" class="si-value-textbox">');

                    container.append(titleLabel, valueTextbox);
                    titleLabel.text(_title);

                    // Store views
                    _views.container = container;
                    _views.valueTextbox = valueTextbox;
                    _views.valueTextbox = valueTextbox;

                    update(_value);

                    return container;
                }

                function update(value) {
                    _value = value;
                    _views.valueTextbox.val(value);
                }

                function getValue() {
                    return parseInt(_views.valueTextbox.val());
                }

                function isChanged() {
                    return _views.valueTextbox.val() != _value;
                }

                return {
                    render: render,
                    update: update,
                    getValue: getValue,
                    isChanged: isChanged
                }
            }
        })();
    </script>
{% endblock javascripts %}
