{% extends "base_site.html" %}

{% block sidebar %}
    <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
        {% include "site_template/sidebar_covid19.html" %}
    </div>
{% endblock sidebar %}

{% block stylesheets %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="static/css/common.css">
    <link type="text/css" rel="stylesheet" href="static/css/managedata.css">
{% endblock stylesheets %}

{% block title %}{% endblock title %}

{% block content %}
<div id="scroll-style-hidden" class="right_col base" role="main">
    <div class="title-container">
        <div class="title-icon stats"></div>
        <div class="title-label">Data Management</div>
    </div>
    <div class="content-container stats">
        <div class="sub-title-label">Stats</div>
        <div class="items-container stats">
            <div class="items-desc-label">
                Manually update the stats to display on the dashboard
            </div>
            <div class="stat-items-container"></div>
            <div class="si-bottom-container">
                <div class="si-update-label"></div>
                <div class="si-update-btn btn">Update</div>
            </div>
        </div>
    </div>
    <div class="title-container">
        <div class="title-icon tests"></div>
        <div class="title-label">Master File</div>
    </div>
    <div class="content-container tests">
        <!-- Upload box -->
        <div class="upload-container">
            <div class="upload-icon"></div>
            <div class="desc-label">Drag & Drop a file containing data to upload</div>
            <div class="or-label">or</div>
            <input type="file" class="browse-button btn" accept=".csv"><div>Only (.csv) file</div>
        </div>
        <div class="buttons-container">
            <div class="submit-button btn">Submit</div>
            <div class="submit-button-loader loader hide"></div>
            <div class="users-download-btn"></div>
        </div>
        <div class="log-panel users hide">
            <div class="log-panel-title">
                <i class="fa fa-angle-right users-log" aria-hidden="true"></i>
                Logs
            </div>
            <div class="log-panel-value"></div>
        </div>
    </div>

    <!-- Download files -->
    <div class="title-container">
        <div class="title-icon downloads"></div>
        <div class="title-label">Downloads</div>
    </div>
    <div class="content-container donwloads">
        <div class="si-content-container logs">
            <div class="log-download-container">
                <div class="log-download-btn disabled" id="master">Master file(Loading...)</div>
                <div class="log-download-btn disabled" id="app_usage">Daily app usage report(Loading...)</div>
                <div class="log-download-btn-container">
                    <div class="log-download-btn disabled" id="observation">Observation report(Loading...)</div>
                    <div class="log-download-run-btn btn" id="observation">Run</div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="static/js/vendor/moment/moment.min.js"></script>
    <script src="static/js/vendor/moment/moment-timezone-with-data.min.js"></script>
    <script>
        (function() {
            const IS_INTERNAL = {{is_internal|tojson}};
            const UPLOAD_URL_BUILDERS = {
                INTERNAL: _.template('//172.16.5.8:10443/api/upload/<%= type %>?id=<%= id %>'),
                EXTERNAL: _.template('//skec-fujairah.loc8.dev:10443/api/upload/<%= type %>?id=<%= id %>')
            },
            DOWNLOAD_URL_BUILDERS = {
                INTERNAL: _.template('//172.16.5.8:10443/api/download/<%= type %>/<%= id %>'),
                EXTERNAL: _.template('//skec-fujairah.loc8.dev:10443/api/download/<%= type %>/<%= id %>')
            },
            TIME_URL_BUILDERS = {
                INTERNAL: _.template('//172.16.5.8:10443/api/upload/time?id=<%= id %>'),
                EXTERNAL: _.template('//skec-fujairah.loc8.dev:10443/api/upload/time?id=<%= id %>')
            },
            SCRIPT_URL_BUILDERS = {
                INTERNAL: _.template('//172.16.5.8:10443/api/upload/run?id=<%= id %>'),
                EXTERNAL: _.template('//skec-fujairah.loc8.dev:10443/api/upload/run?id=<%= id %>')
            },
            UPLOAD_URL_BUILDER = IS_INTERNAL ? UPLOAD_URL_BUILDERS.INTERNAL : UPLOAD_URL_BUILDERS.EXTERNAL,
            DOWNLOAD_URL_BUILDER = IS_INTERNAL ? DOWNLOAD_URL_BUILDERS.INTERNAL : DOWNLOAD_URL_BUILDERS.EXTERNAL,
            TIME_URL_BUILDER = IS_INTERNAL ? TIME_URL_BUILDERS.INTERNAL : TIME_URL_BUILDERS.EXTERNAL,
            SCRIPT_URL_BUILDER = IS_INTERNAL ? SCRIPT_URL_BUILDERS.INTERNAL : SCRIPT_URL_BUILDERS.EXTERNAL;

            const MANUAL_STATS_KEY_LIST = ["confirmed", "deaths", "recovered", "active_positives",
                "quarantined", "isolated", "hospitalized", "close_contacts", "symptomatics", "country_total_cases",
                "country_total_deaths", "stringency_index", "headcount", "alert_phase"],
                MANUAL_STATS_DISPLAY = {
                    'confirmed': 'Confirmed',
                    'deaths': 'Deaths',
                    'recovered': 'Recovered',
                    'active_positives': "Active/Positive",
                    'quarantined': 'Quarantined',
                    'isolated': 'Isolated',
                    'close_contacts': 'Close Contacts',
                    'symptomatics': 'Suspected symptom',
                    'hospitalized': 'Hospitalized',
                    'selfassessments': 'Self-Assessments',
                    'country_total_cases': 'UAE Total cases',
                    'country_total_deaths': 'UAE Total deaths',
                    'stringency_index': 'Stringency Index',
                    'headcount': 'Headcount',
                    'alert_phase': 'Alert Phase'
                },
                TIMEZONE = 'Asia/Dubai';
            const USERS_UPLOAD_ERROR_MESSAGE = {
                '-1': 'Failed to apply master file. It\'s an unknown error.',
                0: 'Failed to apply master file. The master file seems to invalid. See logs.',
                1: 'An error occurred while applying the master file. See logs.'
            };
            const DONWLOAD_FILENAME = {
                    master: 'master_file.csv',
                    app_usage: 'daily_app_usage_report.csv',
                    observation: 'observation_report.csv'
                },
                DOWNLOAD_FILE_DISPLAY = {
                    master: 'Master file',
                    app_usage: 'Daily app usage report',
                    observation: 'Observation report'
                },
                SCRIPT_ID = {
                    observation: 'observation_report'
                }

            let _db = firebase.firestore(),
                _stats,
                _statsDate;
            let _statViewItems = {};


            // init
            initialize();
            initHandlers();
            // load stats
            loadStats(function(stats) {
                _stats = stats;
                _statsDate = new Date(stats.ts.seconds * 1000);

                buildStatsItems(stats);
            });
            // Load users logs.
            _.defer(function() {
                loadUsersLog();
                loadFileTime();
                loadDownloadFiles();
            });


            function buildStatsItems(stats) {
                if (stats) {
                    let _container = $('.stat-items-container');
                    _.each(MANUAL_STATS_KEY_LIST, function(key) {
                        let _viewItem = StatItem(MANUAL_STATS_DISPLAY[key], stats[key]);
                        _container.append(_viewItem.render());    
                    
                        _statViewItems[key] = _viewItem;
                    });
                }
            }

            function loadStats(callback) {
                let _callback = callback || _.noop;

                _db.collection('covid19_stats')
                    .orderBy('ts', 'desc')
                    .limit(1).get().then((snapshot) => {
                        var today = {};
                        if (!snapshot.empty) {
                            let doc = _.last(snapshot.docs);
                            today = doc.data();
                            today.documentId = doc.id;
                        }

                        _callback(today); 
                    });
            }

            function addStats(newStats, callbacks) {
                let _callbacks = callbacks || {
                    success: _.noop,
                    error: _.noop
                };
                if (newStats)  {
                    let _data = _.extend(newStats, {
                        ts: firebase.firestore.FieldValue.serverTimestamp()
                    });

                    let ref = _db.collection('covid19_stats').doc();
                    ref.set(_data).then(function() {
                        // Updates stats date for update next time.
                        _statsDate = new Date();
                        _stats.documentId = ref.id;

                        _callbacks.success();
                    }).catch(function() {
                        _callbacks.error();
                    });
                } else {
                    console.warn('Failed to add new stats by given data is null.');
                    _callbacks.error();
                }
            }

            function updateStats(documentId, newStats, callbacks) {
                let _callbacks = callbacks || {
                    success: _.noop,
                    error: _.noop
                };

                if (documentId && newStats) {
                    let _data = _.extend(newStats, {
                        ts: firebase.firestore.FieldValue.serverTimestamp()
                    });

                    _db.collection('covid19_stats').doc(documentId).update(_data).then(function() {
                        _callbacks.success();
                    }).catch(function() {
                        _callbacks.error();
                    });
                } else {
                    _callbacks.error();
                }
            }

            function initialize() {
                // init Noty
                PNotify.prototype.options.delay = 5000;
                PNotify.prototype.options.styling = 'bootstrap3';
            }

            function initHandlers() {
                $('.si-update-btn').click(function() {
                    let _newStats = {},
                        _hasInvalidValue = false;
                
                    _.each(_statViewItems, function(statsItem, key) {
                        if (statsItem.isChanged()) {
                            let _value = statsItem.getValue();
                            if (_.isNumber(_value) && !_.isNaN(_value)) {
                                _newStats[key] = _value;
                            } else {
                                _hasInvalidValue = true;
                            }
                        }
                    });

                    if (_hasInvalidValue) {
                        new PNotify({
                            type: 'notice',
                            text: 'You can only input numbers.'
                        });

                        return;
                    }

                    if (!_.isEmpty(_newStats)) {
                        let _statsDate,
                            _todayDate = new Date();
                        if (!_.isEmpty(_stats.ts)) {
                            _statsDate = new Date(_stats.ts.seconds * 1000);
                        }

                        if (isFutureDay(_statsDate, _todayDate)) {
                            // Adds new stats.
                            _newStats = _.extend(_stats, _newStats);

                            addStats(_newStats, {
                                success: function() {
                                    updateStats(_newStats);
                                    // update view item
                                    updateStatsItem(_newStats);
                                    new PNotify({
                                        type: 'success',
                                        text: 'Manual stats updated successfully.'
                                    });
                                }, error: function() {
                                    new PNotify({
                                        type: 'error',
                                        text: 'Failed to manual update stats.'
                                    });
                                }
                            });
                        } else {
                            // Updates current stats.
                            updateStats(_stats.documentId, _newStats, {
                                success: function() {
                                    updateStats(_newStats);
                                    // update view item
                                    updateStatsItem(_newStats);
                                    new PNotify({
                                        type: 'success',
                                        text: 'Manual stats updated successfully.'
                                    });
                                }, error: function() {
                                    new PNotify({
                                        type: 'error',
                                        text: 'Failed to manual update stats.'
                                    });
                                }
                            });
                        }
                    } else {
                        new PNotify({
                            type: 'notice',
                            text: 'There is no changes.'
                        });
                    }
                });

                // for upload csv
                $('.browse-button').change(function() {
                    let file = _.first($(this).prop('files'));
                });
                $('.submit-button').click(function() {
                    if (!window.confirm('Are you sure you want to upload the master file?')) {
                        return;
                    }
                    let localTime = moment().tz(TIMEZONE);
                    if (localTime.hour() == 0) {
                        new PNotify({
                            type: 'notice',
                            text: 'Master file cannot be applied from 0:00 AM to 1:00 AM. Please try again later. '
                        });
                        return;
                    }

                    let file = _.first($('.browse-button').prop('files'));

                    // check extenstion.
                    if (file) {
                        // clear file
                        $('.browse-button').val('');

                        // check file extention
                        if (_.first((/[.]/.exec(file.name)) ? /[^.]+$/.exec(file.name) : null) == 'csv' || file.type != 'text/csv') {
                            // do upload
                            $('.submit-button-loader').removeClass('hide');
                            $('.submit-button').addClass('hide');

                            uploadFile(file, UPLOAD_URL_BUILDER({
                                type: 'csv',
                                id: 'master_file.csv'
                            }), {
                                progress: function() {
                                },
                                success: function() {
                                    $('.submit-button-loader').addClass('hide');
                                    $('.submit-button').removeClass('hide');
                                    new PNotify({
                                        type: 'success',
                                        text: 'The file has been uploaded. The stats will be updated soon.'
                                    });

                                    loadUsersLog();
                                    loadFileTime();
                                },
                                error: function(reason) {
                                    $('.submit-button-loader').addClass('hide');
                                    $('.submit-button').removeClass('hide');
                                    
                                    new PNotify({
                                        type: 'error',
                                        text: USERS_UPLOAD_ERROR_MESSAGE[reason]
                                    });

                                    loadUsersLog();
                                }
                            });
                        } else {
                            new PNotify({
                                type: 'notice',
                                text: 'Please upload the csv file.'
                            });
                        }
                    } else {
                        new PNotify({
                            type: 'notice',
                            text: 'Please select a file to upload(.csv)'
                        });
                    }
                });
                $('.upload-container').on('dragenter', function(event) {
                    event.preventDefault();
                    $(this).addClass('hover');
                });
                $('.upload-container').on('dragleave', function(event) {
                    event.preventDefault();
                    $(this).removeClass('hover');
                });
                $('.upload-container').on('dragover', function(event) {
                    event.preventDefault();
                    console.log(event.originalEvent.dataTransfer.files);
                });
                $('.upload-container').on('drop', function(event) {
                    event.preventDefault();
                    $(this).removeClass('hover');

                    let file = _.first(event.originalEvent.dataTransfer.files);
                    if (_.first((/[.]/.exec(file.name)) ? /[^.]+$/.exec(file.name) : null) != 'csv' && file.type != 'text/csv') {
                        new PNotify({
                            type: 'notice',
                            text: 'Please upload the csv file.'
                        });
                    } else {
                        $('.browse-button').prop('files', event.originalEvent.dataTransfer.files);
                    }
                });

                // download csv
                $('.users-download-btn').click(function() {
                    downloadURI(DOWNLOAD_URL_BUILDER({
                        type: 'csv',
                        id: 'master_file.csv'
                    }));
                });

                // log panel
                $('.log-panel-title').click(function() {
                    let valuePanel = $('.log-panel-value'),
                        arrow = $('.fa.users-log');
                    if (valuePanel.hasClass('max')) {
                        valuePanel.removeClass('max');
                    } else {
                        valuePanel.addClass('max');
                    }

                    if (arrow) {
                        if (arrow.hasClass('fa-angle-right')) {
                            arrow.removeClass('fa-angle-right');
                            arrow.addClass('fa-angle-down');
                        } else {
                            arrow.addClass('fa-angle-right');
                            arrow.removeClass('fa-angle-down');
                        }
                    }
                });

                // handle download logs button
                $('.log-download-btn').click(function() {
                    let type = $(this).attr('id');
                    downloadURI(DOWNLOAD_URL_BUILDER({
                        type: 'csv',
                        id: DONWLOAD_FILENAME[type]
                    }));
                });

                // handle run script button
                $('.log-download-run-btn#observation').click(function() {
                    // make observation report.
                    runScript('observation');
                });
            }

            function loadUsersLog() {
                // Load users logs.
                let requestUrl = DOWNLOAD_URL_BUILDER({
                    type: 'res',
                    id: 'users.log'

                });
                $.get(requestUrl, function(text) {
                    $('.log-panel.users').removeClass('hide');
                    $('.log-panel.users').children('.log-panel-value').text(text);
                });
            }

            function runScript(type) {
                let _button = $('.log-download-run-btn#' + type),
                    _requestUrl = SCRIPT_URL_BUILDER({
                        id: SCRIPT_ID[type]
                    });
                
                // check running. TODO: flag
                if (_button.hasClass('disabled')) {
                    return;
                }

                _button.addClass('disabled');
                $.getJSON(_requestUrl, function(data) {
                    _button.removeClass('disabled');
                    if (data && data.code == 0) {
                        loadDownloadFile(type);
                        new PNotify({
                            type: 'success',
                            text: 'Generated an observation report.'
                        });
                    } else {
                        new PNotify({
                            type: 'error',
                            text: 'Failed to generation an observation report. Check the logs in Settings menu.'
                        });
                    }
                }).fail(function() {
                    new PNotify({
                        type: 'error',
                        text: 'Report generation request failed.'
                    });
                });
            }

            function loadFileTime() {
                // make download link for users.csv if has
                let requestUrl = TIME_URL_BUILDER({
                    id: 'master_file.csv'
                });
                $.getJSON(requestUrl, function(data) {
                    if (data && data.time) {
                        $('.users-download-btn').text('Last upload: ' + new Date(data.time * 1000).toLocaleString());
                    }
                });
            }

            function loadDownloadFile(type) {
                return loadDownloadFiles(type);
            }

            function loadDownloadFiles(type) {
                function _loadFileTime(type) {
                    if (type) {
                        let button = $('.log-download-btn#' + type),
                            requestUrl = TIME_URL_BUILDER({
                                id: DONWLOAD_FILENAME[type]
                            });
                        
                        button.addClass('disabled').text(DOWNLOAD_FILE_DISPLAY[type] + '(Loading...)');
                        $.getJSON(requestUrl, function(data) {
                            if (data && data.time) {
                                let timeDisplay = new Date(data.time * 1000).toLocaleString();
                                button.text(DOWNLOAD_FILE_DISPLAY[type] + '(' + timeDisplay + ')');
                                button.removeClass('disabled');
                            } else {
                                button.text(DOWNLOAD_FILE_DISPLAY[type] + '(N/A)');
                                button.addClass('disabled').off();
                            }
                        }).fail(function() {
                            button.text(DOWNLOAD_FILE_DISPLAY[type] + '(N/A)');
                            button.addClass('disabled').off();
                        });
                    }
                }

                // load donwload times
                if (type) {
                    _loadFileTime(type);
                } else {
                    _loadFileTime('master');
                    _loadFileTime('app_usage');
                    _loadFileTime('observation');
                }
            }

            function uploadFile(file, url, callbacks) {
                let _callbacks = callbacks || {
                    progress: _.noop,
                    success: _.noop,
                    error: _.noop
                };
                if (file) {
                    let formData = new FormData();
                    formData.append('file', file, file.name); 

                    $.ajax({
                        url: url,
                        data: formData,
                        type: 'post',
                        contentType: false,
                        processData: false,
                        xhr: function() {
                            let xhr = $.ajaxSettings.xhr();
                            xhr.upload.onprogress = function(event) {
                                _callbacks.progress(event.loaded * 100 / event.total);
                            }

                            return xhr;
                        },
                        success: function(result) {
                            let resultCode = -1;
                            try {
                                let parsed = $.parseJSON(result);
                                resultCode = _.isNumber(parsed.code) ? parsed.code : -1;
                            } catch(error) {
                                console.warn('Failed to parse upload result', error);
                            }
                            
                            if (resultCode == 0) {
                                _callbacks.success(resultCode);
                            } else {
                                _callbacks.error(resultCode);
                            }
                        },
                    });
                } else {
                    _callbacks.error();
                }
            }
            
            function downloadURI(uri, name) {
                var link = document.createElement("a");
                // If you don't know the name or want to use
                // the webserver default set name = ''
                link.setAttribute('download', name);
                link.href = uri;
                document.body.appendChild(link);
                link.click();
                link.remove();
            }


            function isFutureDay(source, target) {
                let result = false;
                if (source && target)  {
                    let convertedSource = moment(source).tz(TIMEZONE),
                        convertedTarget = moment(target).tz(TIMEZONE);
                    let sourceFullYear = convertedSource.year(),
                        sourceMonth = convertedSource.month(),
                        sourceDate = convertedSource.day(),
                        targetFullYear = convertedTarget.year(),
                        targetMonth = convertedTarget.month(),
                        targetDate = convertedTarget.day();

                    return sourceFullYear < targetFullYear || sourceMonth < targetMonth ||
                        sourceDate < targetDate;
                } else {
                    console.warn('Cannot check date by given source or target is null.');
                }

                return result;
            }

            function updateStatsItem(newStats) {
                _.each(newStats, function(value, key) {
                    let _viewItem = _statViewItems[key];
                    if (_viewItem) {
                        _viewItem.update(value);
                    }
                });
            }

            function StatItem(title, value) {
                let _views = {},
                    _title = title,
                    _value = value;

                function render() {
                    let container = $('<div class="stat-item">'),
                        titleLabel = $('<div class="si-title-label">'),
                        valueTextbox = $('<input type="text" class="si-value-textbox">');

                    container.append(titleLabel, valueTextbox);
                    titleLabel.text(_title);

                    // Store views
                    _views.container = container;
                    _views.valueTextbox = valueTextbox;
                    _views.valueTextbox = valueTextbox;

                    update(_value);

                    return container;
                }

                function update(value) {
                    _value = value;
                    _views.valueTextbox.val(value);
                }

                function getValue() {
                    return parseInt(_views.valueTextbox.val());
                }

                function isChanged() {
                    return _views.valueTextbox.val() != _value;
                }

                return {
                    render: render,
                    update: update,
                    getValue: getValue,
                    isChanged: isChanged
                }
            }
        })();
    </script>
{% endblock javascripts %}
