{% extends "base_site.html" %}

{% block sidebar %}
    <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
        {% include "site_template/sidebar_covid19.html" %}
    </div>
{% endblock sidebar %}

{% block stylesheets %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="static/css/common.css">
    <link type="text/css" rel="stylesheet" href="static/css/users.css">
{% endblock stylesheets %}

{% block title %}{% endblock title %}

{% block content %}
<div id="scroll-style-hidden" class="right_col base" role="main">
    <div class="top-container">
        <div class="user-searchbox-container">
            <input type="text" class="user-serach-box hidden-textfield">
            <div class="searchbox-icon"></div>
        </div>
        <div class="user-filter-container">
            <div class="user-filter-btn" id="good">Good</div>
            <div class="user-filter-btn" id="quarantined">Quarantined</div>
            <div class="user-filter-btn" id="positive">Positive</div>
            <div class="user-filter-btn" id="isolated">Isolated</div>
            <div class="user-filter-btn" id="suspected">Suspected</div>
            <div class="user-filter-btn" id="terminated">Terminated</div>
        </div>
        <div class="user-new-btn">
            <div class="user-new-btn-icn"></div>
            <div class="user-new-btn-label">New</div>
        </div>
        <div class="cmessage-btn">
            <div class="cmessage-btn-icn"></div>
            <div class="cmessage-btn-label">Create a Message</div>
        </div>
        <div class="discover-hotspot-btn">
            <div class="discover-hotspot-btn-icn"></div>
            <div class="discover-hotspot-btn-label">Discover Hotspot</div>
        </div>
    </div>
    <div class="content-container">
        <!-- filter item -->
        <div class="user-item-header-container">
            <div class="user-item-header-label">Name</div>
            <div class="user-item-header-label">Status</div>
            <div class="user-item-header-label">Gender</div>
            <div class="user-item-header-label">Nationality</div>
            <div class="user-item-header-label">Employer</div>
            <div class="user-item-header-label">Camp</div>
            <div class="user-item-header-label">Room</div>
            <div class="user-item-header-label">Phone Number</div>
            <div class="user-item-header-label">Department</div>
            <div class="user-item-header-label">Location</div>
            <div class="user-item-header-label">Job</div>
            <div class="user-item-header-label">Language</div>
            <div class="user-item-header-label">RX</div>
        </div>

        <!-- User Item -->
        <div class="user-item-container"></div>
        
        <div class="user-item-loader-btn loading">
            <div class="user-item-loader-icon"></div>
            <div class="user-item-loader-label">Load more</div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}

    <script>
        (function() {
            const STATUS_DISPLAY = {
                '0': 'Not Registered',
                '1': 'Good',
                '2': 'Quarantined',
                '3': 'Positive',
                '4': 'Isolated',
                '5': 'Suspected',
                '-1': 'Terminated',
                '-2': 'On Leave'
            }, 
            STATUS_VALUE = {
                'notregistered': 0,
                'good': 1,
                'quarantined': 2,
                'positive': 3,
                'isolated': 4,
                'suspected': 5,
                'terminated': -1,
                'onleave': -2
            },
            PAGE_SIZE = 10; // chunk size of users

            let _db = firebase.firestore();
            var _lastUserSnapShot
                _loadingUsers = false,
                _selectedFilter = null;


            start();


            function start() {
                initHandlers();
                let userId = getUrlParameter('id');
                if (!!!userId) {
                    displayUsers({
                        userId: getUrlParameter('id'),
                        status: _selectedFilter
                    }, false, function() {
                        $('.user-item-loader-btn').removeClass('loading');
                    });
                } else {
                    displayUser(userId);
                }
            }

            function stop() {

            }

            function initHandlers() {
                $('.user-item-loader-btn').click(function() {
                    let _this = $(this);
                    _this.addClass('loading');
                    displayUsers({
                        status: _selectedFilter
                        }, false, function () {
                        _this.removeClass('loading');
                    });
                });
                $('.discover-hotspot-btn').click(function() {
                    window.alert('Not ready yet!');
                })

                $('.user-serach-box').keypress(function(event) {
                    let keycode = (event.keyCode ? event.keyCode : event.which);
                    if(keycode == '13'){
                        alert('Not ready yet!');  
                    }
                });
                $('.searchbox-icon').click(function() {
                    alert('Not ready yet!');  
                });

                // init filter buttons.
                $('.user-filter-btn').click(function() {
                    _selectedFilter = null;
                    _lastUserSnapShot = null; // reset paging

                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');

                        // display default user list.
                        displayUsers(null, true, function() {
                            $('.user-item-loader-btn').removeClass('loading');
                        })
                    } else {
                        $('.user-filter-btn').removeClass('selected');
                        $(this).addClass('selected');

                        let filter = STATUS_VALUE[$(this).attr('id')];
                        if (_.isNumber(filter)) {
                            _selectedFilter = filter;

                            // do query.
                            displayUsers({
                                status: filter
                            }, true, function() {
                                $('.user-item-loader-btn').removeClass('loading');
                            })
                        } else {
                            console.warn('Seems to selected filter, but unknown filter.');
                        }
                    }
                });

                // init create message button
                $('.cmessage-btn').click(function() {
                    let userIds = getSelectedUsers();
                    if (!!userIds && userIds.length > 0) {
                        createMessageWithDialog(userIds);
                    } else {

                    }
                });
            }

            function createMessageWithDialog(userIds) {
                let dialog = CreateMessageDialog();
                dialog.show($('.right_col'), function(texts) {
                    dialog.hide();
                    // Do query
                    createMesages(userIds, texts.title, texts.message);
                });
            }

            function getSelectedUsers() {
                let userIds = [];
                // TODO: use modeling
                $('.user-item>input:checked').each(function() {
                    let userId = $(this).attr('uid'),
                        name = $(this).parent('.user-item').find('.user-item-name-label').first().text();
                    if (!!userId && !!name) {
                        userIds.push({
                            id: userId,
                            name: name
                        });
                    }
                }) 

                return userIds;
            }

            function createMesage(userId, title, message) {
                if (!!userId && !!message) {
                    doCreateMessage([userId], '1', title, message)
                } else {
                    console.warn('Failed to send message, given params cannot be null.');
                }
            }

            function createMesages(userIds, title, message) {
                if (!!userIds && !!message) {
                    doCreateMessage(userIds, '1', title, message)
                } else {
                    console.warn('Failed to send messages, given params cannot be null.');
                }
            }

            function doCreateMessage(userIds, fromId, title, message) {
                let data = userIds.shift();
                if (!!data) {
                    _db.collection('messages').doc().set({
                        from_user: fromId,
                        to_user: data.id,
                        to_name: data.name,
                        action: 4,
                        title: title,
                        message: message,
                        ts: firebase.firestore.FieldValue.serverTimestamp()
                    }).then(function() {
                        doCreateMessage(userIds, fromId, title, message);
                    }).catch(function() {
                        doCreateMessage(userIds, fromId, title, message);
                    });
                }
            }

            function displayUser(userId, callback) {
                callback = callback || _.noop;

                if (!!userId) {
                    let container = $('.user-item-container');
                    container.children().detach().remove();

                    if (!_loadingUsers) {
                        _loadingUsers = true;
                        
                        loadUser(userId, function(user) {
                            // render user.
                            let userItem = UserItem(user);
                            container.append(userItem.render());

                            _loadingUsers = false;
                            callback();
                        });
                    } else {
                        console.debug("Already loading users.");
                        callback();
                    }
                } else {
                    callback();
                }
            }

            function displayUsers(filter, clean, callback) {
                callback = callback || _.noop;

                let container = $('.user-item-container');
                if (!!clean) {
                    container.children().detach().remove();
                }

                if (!_loadingUsers) {
                    _loadingUsers = true;
                    loadUsers(_lastUserSnapShot, filter, function(users, lastSnapShot) {
                        if (!!lastSnapShot) {
                            _lastUserSnapShot = lastSnapShot;
                        }

                        // render users.
                        $.each(users, function(index, user) {
                            let userItem = UserItem(user);
                            container.append(userItem.render());
                        });

                        _loadingUsers = false;
                        callback();
                    });
                } else {
                    console.debug("Already loading users.");
                    callback();
                }
            }

            function loadUser(userId, callback) {
                let _callback = callback || _.noop;

                _db.collection('users').doc(userId).get().then(function(snapshot) {
                    if (!!snapshot) {
                        let user = snapshot.data();
                        user.id = snapshot.id;
                        callback(user);
                    } else {
                        callback();
                    }
                });
            }

            function loadUsers(startAt, filter, callback) {
                // TODO: filter

                var ref,
                    query;
                if (!!startAt) {
                    // Paging
                    ref = _db.collection('users')
                        .startAfter(startAt)
                        .limit(PAGE_SIZE)
                } else {
                    // Query first time.
                    ref = _db.collection('users')
                        .limit(PAGE_SIZE);
                }
                query = ref;

                // Adds filter if has
                if (!!filter) {
                    if (!!filter.status || filter.status === 0) {
                        query = ref.where('status', '==', filter.status);
                    }

                    if (filter.userName) {
                        query = ref.where('fullname', 'array-contains', filter.userName);
                    }
                }

                // do query
                query.get().then(function(snapshots) {
                    var users = [],
                        lastSnapShot;
                    if (!!!snapshots.empty) {
                        lastSnapShot = snapshots.docs[snapshots.docs.length - 1];
                        snapshots.forEach(function(doc) {
                            let user = doc.data();
                            user.id = doc.id;
                            users.push(user);
                        });
                    } else {
                        // no more users.
                    }

                    callback(users, lastSnapShot);
                }).catch(function(error) {
                    console.warn('Failed to load users from server.', error);
                    callback();
                });
            }

            function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;
            
                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');
            
                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };

            function UserItem(model) {
                var _model = model,
                    _views = {};

                function render() {
                    let container = $('<div class="user-item">');
                    let checkbox = $('<input type="checkbox" class="user-item-checkbox">');
                    let profile = $('<div class="user-item-avatar">'),
                        nameCotainer = $('<div class="user-item-name-container">'),
                        nameLabel = $('<div class="user-item-name-label">')
                        idLabel = $('<div class="user-item-id-label">');
                    let statusLabel = $('<div class="user-item-label status">'),
                        genderLabel = $('<div class="user-item-label gender">'),
                        nationalLabel = $('<div class="user-item-label national">'),
                        employerLabel = $('<div class="user-item-label employer">'),
                        campLabel = $('<div class="user-item-label camp">'),
                        roomLabel = $('<div class="user-item-label room">'),
                        phoneLabel = $('<div class="user-item-label phone">'),
                        departmentLabel = $('<div class="user-item-label department">'),
                        jobContainer = $('<div class="user-item-job-container">'),
                        jobCat1Label = $('<div class="user-item-label jobcat1">'),
                        jobCat2Label = $('<div class="user-item-label jobcat2">'),
                        locateContainer = $('<div class="user-item-locate-container">'),
                        langLabel = $('<div class="user-item-label lang">'),
                        rxLabel = $('<div class="user-item-label rx">'),
                        timeagoLabel = $('<div class="user-item-label timeago">');
                    
                    container.append(checkbox, profile, nameCotainer, statusLabel, genderLabel, nationalLabel,
                        employerLabel, campLabel, roomLabel, phoneLabel, departmentLabel, locateContainer,
                        jobContainer, langLabel, rxLabel);
                    nameCotainer.append(nameLabel, idLabel);
                    jobContainer.append(jobCat1Label, jobCat2Label);

                    // Store id.
                    checkbox.attr('uid', model.id);

                    // Store views.
                    _views = {
                        container: container,
                        checkbox: checkbox,
                        profile: profile,
                        nameLabel: nameLabel,
                        idLabel: idLabel,
                        statusLabel: statusLabel,
                        genderLabel: genderLabel,
                        nationalLabel: nationalLabel,
                        employerLabel: employerLabel,
                        campLabel: campLabel,
                        roomLabel: roomLabel,
                        phoneLabel: phoneLabel,
                        departmentLabel: departmentLabel,
                        locationLabel: locateContainer,
                        jobCat1Label: jobCat1Label,
                        jobCat2Label: jobCat2Label,
                        langLabel: langLabel,
                        rxLabel: rxLabel,
                        timeagoLabel: timeagoLabel
                    }

                    update(_model);

                    return container;
                }

                function update(model) {
                    _model = model;

                    _views.nameLabel.text(model.fullname || '-');
                    _views.idLabel.text('');
                    _views.statusLabel.text(STATUS_DISPLAY[model.status] || '-');
                    _views.genderLabel.text(model.gender || '');
                    _views.nationalLabel.text(model.nationality || '');
                    _views.employerLabel.text(model.employer || '-');
                    _views.campLabel.text(model.camp || '-');
                    _views.roomLabel.text(model.room || '-');
                    _views.phoneLabel.text(model.phone_number || '-');
                    _views.departmentLabel.text(model.department || '-');
                    _views.locationLabel.text(model.pv_area || '-');
                    _views.jobCat1Label.text(model.job_cat1 || '-');
                    _views.jobCat2Label.text(model.job_cat2 || '-');
                    _views.langLabel.text(model.lang || '-');
                    _views.rxLabel.text(model.rx || '-');
                    _views.timeagoLabel.text($.timeago(model.ts.seconds * 1000) || '-');
                }

                return {
                    render: render
                }
            }

            function CreateMessageDialog() {
                let _views
                    _callback = _.noop;

                function render() {
                    let container = $('<div class="cmessage-dialog">'),
                        contentContainer = $('<div class="cmessage-dialog-content">'),
                        closeButton = $('<div class="cmessage-dialog-close-btn">'),
                        titleTextbox = $('<input type="text" class="cmessage-dialog-title-textbox" placeholder="Stay Home">');
                        messageTextarea = $('<textarea class="cmessage-dialog-message-textarea" placeholder="Please do not come to work today.\nOne of our medical staff will be in contact soon.">');
                    let sendButton = $('<div class="cmessage-dialog-send-btn">'),
                        sendButtonLabel = $('<div class="cmessage-dialog-send-btn-label">Send</div>'),
                        sendButtonIcon = $('<div class="cmessage-dialog-send-btn-icon">');

                    // init handlers
                    container.click(function() {
                        // hide();
                    });
                    closeButton.click(function() {
                        hide();
                    })

                    sendButton.click(function() {
                        let title = titleTextbox.val(),
                            message = messageTextarea.val();

                        if (title.trim().length > 0) {
                            _callback({
                                title: title,
                                message: message
                            });
                        } else {
                            window.alert('Please enter title.');
                        }
                    });
                    titleTextbox.change(function() {
                        if ($(this).val().trim().length <= 0) {
                            // TODO:
                        }
                    });

                    container.append(contentContainer);
                    contentContainer.append(closeButton, titleTextbox, messageTextarea, sendButton);
                    sendButton.append(sendButtonLabel, sendButtonIcon);

                    // Store views
                    _views = {};
                    _views.container = container;
                }

                function show(parent, callback) {
                    _callback = callback || _.noop;
                    render();

                    parent.append(_views.container);
                }

                function hide() {
                    _views.container.remove();
                    _views = null;
                    _callback = _.noop;
                }

                return {
                    show: show,
                    hide: hide
                }
            }
        })();
    </script>
{% endblock javascripts %}
