{% extends "base_site.html" %}

{% block sidebar %}
    <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
        {% include "site_template/sidebar_covid19.html" %}
    </div>
{% endblock sidebar %}

{% block stylesheets %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="static/css/common.css">
    <link type="text/css" rel="stylesheet" href="static/css/users.css">
{% endblock stylesheets %}

{% block title %}{% endblock title %}

{% block content %}
<div id="scroll-style-hidden" class="right_col base" role="main">
    <div class="top-container">
        <div class="user-searchbox-container">
            <input type="text" class="user-serach-box hidden-textfield">
            <div class="searchbox-icon"></div>
        </div>
        <div class="user-filter-container">
            <div class="user-filter-btn" id="good">Good</div>
            <div class="user-filter-btn" id="quarantined">Quarantined</div>
            <div class="user-filter-btn" id="positive">Positive</div>
            <div class="user-filter-btn" id="isolated">Isolated</div>
            <div class="user-filter-btn" id="suspected">Suspected</div>
            <div class="user-filter-btn" id="terminated">Terminated</div>
            <div class="user-filter-btn" id="notregistered">Not Registered</div>
        </div>
        <div class="user-new-btn">
            <div class="user-new-btn-icn"></div>
            <div class="user-new-btn-label">New</div>
        </div>
    </div>
    <div class="content-container">
        <!-- filter item -->
        <div class="user-item-header-container">
            <div class="user-item-header-label">Name</div>
            <div class="user-item-header-label">Location</div>
            <div class="user-item-header-label">Phone Number</div>
            <div class="user-item-header-label">Status</div>
            <div class="user-item-header-label">Camp</div>
            <div class="user-item-header-label">Last Updated</div>
        </div>

        <!-- User Item -->
        <div class="user-item-container"></div>
        
        <div class="user-item-loader-btn loading">
            <div class="user-item-loader-icon"></div>
            <div class="user-item-loader-label">Load more</div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}

    <script>
        (function() {
            const STATUS_DISPLAY = {
                '0': 'Not Registered',
                '1': 'Good',
                '2': 'Quarantined',
                '3': 'Positive',
                '4': 'Isolated',
                '5': 'Suspected',
                '-1': 'Terminated',
                '-2': 'On Leave'
            }, 
            STATUS_VALUE = {
                'notregistered': 0,
                'good': 1,
                'quarantined': 2,
                'positive': 3,
                'isolated': 4,
                'suspected': 5,
                'terminated': -1,
                'onleave': -2
            },
            PAGE_SIZE = 10; // chunk size of users

            let _db = firebase.firestore();
            var _lastUserSnapShot
                _loadingUsers = false,
                _selectedFilter = null;


            // init
            initHandlers();
            displayUsers(_selectedFilter, null, false, function() {
                $('.user-item-loader-btn').removeClass('loading');
            });

            function initHandlers() {
                $('.user-item-loader-btn').click(function() {
                    let _this = $(this);
                    _this.addClass('loading');
                    displayUsers(_selectedFilter, null, false, function () {
                        _this.removeClass('loading');
                    });
                });

                $('.user-serach-box').keypress(function(event) {
                    let keycode = (event.keyCode ? event.keyCode : event.which);
                    if(keycode == '13'){
                        alert('Not ready yet!');  
                    }
                });
                $('.searchbox-icon').click(function() {
                    alert('Not ready yet!');  
                });

                // init filter buttons.
                $('.user-filter-btn').click(function() {
                    _selectedFilter = null;
                    _lastUserSnapShot = null; // reset paging

                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');

                        // display default user list.
                        displayUsers(null, null, true, function() {
                            $('.user-item-loader-btn').removeClass('loading');
                        })
                    } else {
                        $('.user-filter-btn').removeClass('selected');
                        $(this).addClass('selected');

                        let filter = STATUS_VALUE[$(this).attr('id')];
                        if (_.isNumber(filter)) {
                            _selectedFilter = filter;

                            // do query.
                            displayUsers(filter, null, true, function() {
                                $('.user-item-loader-btn').removeClass('loading');
                            })
                        } else {
                            console.warn('Seems to selected filter, but unknown filter.');
                        }
                    }
                });
            }

            function displayUsers(filter, userName, clean, callback) {
                callback = callback || _.noop;

                let container = $('.user-item-container');
                if (!!clean) {
                    container.children().detach().remove();
                }

                if (!_loadingUsers) {
                    _loadingUsers = true;
                    loadUsers(_lastUserSnapShot, filter, userName, function(users, lastSnapShot) {
                        if (!!lastSnapShot) {
                            _lastUserSnapShot = lastSnapShot;
                        }

                        // render users.
                        $.each(users, function(index, user) {
                            let userItem = UserItem(user);
                            container.append(userItem.render());
                        });

                        _loadingUsers = false;
                        callback();
                    });
                } else {
                    console.debug("Already loading users.");
                    callback();
                }
            }

            function loadUsers(startAt, filter, userName, callback) {
                // TODO: filter

                var ref,
                    query;
                if (!!startAt) {
                    // Paging
                    ref = _db.collection('users')
                        .startAfter(startAt)
                        .limit(PAGE_SIZE)
                } else {
                    // Query first time.
                    ref = _db.collection('users')
                        .limit(PAGE_SIZE);
                }
                query = ref;

                // Adds filter if has
                if (!!filter || filter === 0) {
                    query = ref.where('status', '==', filter);
                }
                if (!!userName) {
                    query = ref.where('fullname', 'array-contains', userName);
                }

                // do query
                query.get().then(function(snapshots) {
                    var users = [],
                        lastSnapShot;
                    if (!!!snapshots.empty) {
                        lastSnapShot = snapshots.docs[snapshots.docs.length - 1];
                        snapshots.forEach(function(doc) {
                            users.push(doc.data());
                        });
                    } else {
                        // no more users.
                    }

                    callback(users, lastSnapShot);
                }).catch(function(error) {
                    console.warn('Failed to load users from server.', error);
                    callback();
                });
            }

            function UserItem(model) {
                var _model = model,
                    _views = {};

                function render() {
                    let container = $('<div class="user-item">');
                    let checkbox = $('<input type="checkbox" class="user-item-checkbox">');
                    let profile = $('<div class="user-item-avatar">'),
                        nameCotainer = $('<div class="user-item-name-container">'),
                        nameLabel = $('<div class="user-item-name-label">')
                        idLabel = $('<div class="user-item-id-label">');
                    let locateContainer = $('<div class="user-item-locate-container">'),
                        phoneLabel = $('<div class="user-item-phone-label">'),
                        statusLabel = $('<div class="user-item-status-label">'),
                        campLabel = $('<div class="user-item-camp-label">'),
                        timeagoLabel = $('<div class="user-item-timeago-label">');
                    
                    container.append(checkbox, profile, nameCotainer, locateContainer, phoneLabel, statusLabel,
                        campLabel, timeagoLabel);
                    nameCotainer.append(nameLabel, idLabel);

                    // Store views.
                    _views = {
                        container: container,
                        checkbox: checkbox,
                        profile: profile,
                        nameLabel: nameLabel,
                        idLabel: idLabel,
                        locationLabel: locateContainer,
                        phoneLabel: phoneLabel,
                        statusLabel: statusLabel,
                        campLabel: campLabel,
                        timeagoLabel: timeagoLabel
                    }

                    update(_model);

                    return container;
                }

                function update(model) {
                    _model = model;

                    _views.nameLabel.text(model.fullname || '-');
                    _views.idLabel.text('');
                    _views.locationLabel.text(model.pv_area || '-');
                    _views.phoneLabel.text(model.phone_number || '-');
                    _views.statusLabel.text(STATUS_DISPLAY[model.status] || '-');
                    _views.campLabel.text(model.camp || '-');
                    _views.timeagoLabel.text($.timeago(model.ts.seconds * 1000) || '-');
                }

                return {
                    render: render
                }
            }
        })();
    </script>
{% endblock javascripts %}
