
{% extends "base_site.html" %}

{% block sidebar %}
<div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_progress.html" %}
</div>
{% endblock sidebar %}

{% block title %} Activity {% endblock title %}

{% block javascripts %}
  {{ super() }}
  <script>
    function validation() {
        var fi = document.getElementById('file'),
            fileSize = (fi.files[0].size / 1024).toFixed(2),
            fileType = fi.files[0].type;
        if (fileSize > 256) {
            document.getElementById('send').disabled = true;
            alert("The file size is too large. Please upload a file that is less than 256KB. ( Current file size : " + fileSize + " KB )")
        } else {
            document.getElementById('send').disabled = false;
        }
        if (!!!(fileType == "image/png" || fileType == "image/svg+xml")) {
            document.getElementById('send').disabled = true;
            alert("Image file not available as icon. Please select another file.")
        } else {
            document.getElementById('send').disabled = false;
        }
    }
  </script>
{% endblock javascripts %}

{% block content %}
<div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">

        <div class="row">  <!-- start row -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile">  <!-- start x_panel -->

                    <div class="x_title">
                        <h3>Edit Activity </h3>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">  <!-- start x_content -->
                        <br />
                        <form class="form-horizontal form-label-left" method="post"
                            action="/work/reg/activity/edit/{{ activity_data.id }}" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="name" name="name" required="required" maxlength="32" value="{{ activity_data.name }}"
                                      onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9\s]/g,'');" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Category <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="category" name="category">
                                    {% for key, value in activity_category.items() %}
                                        <option id="{{ key }}" value="{{ key }}" {% if activity_data.category == key|int %} selected="selected"{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">File
                                </label>
                                <input type="file" id="file" name="file" accept="image/png, image/svg+xml" onchange="validation();"
                                       class="control-label col-md-3 col-sm-3 col-xs-12"/>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="/work/reg/activity"><button class="btn btn-primary" type="button">Cancel</button></a>
                                    <button id="send" type="submit" class="btn btn-success">Edit</button>
                                </div>
                            </div>

                        </form>
                    </div>  <!-- end x_content-->

                </div>  <!-- End x_panel -->
            </div>
        </div>  <!-- End row -->

    </div>
</div>

{% endblock content %}
