
{% extends "base_site.html" %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_progress.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super() }}
  <!-- bootstrap-daterangepicker -->
  <link href="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
  {{ super() }}
    <!-- bootstrap-daterangepicker -->
    <script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script>
	   function init_daterangepicker_right() {

				if( typeof ($.fn.daterangepicker) === 'undefined'){ return; }
				//console.log('init_daterangepicker_right');

				var cb = function(start, end, label) {
				  //console.log("CB : " , start.toISOString(), end.toISOString(), label);
				  $('#reportrange_right span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
				};

				var optionSet1 = {
				  //startDate: moment().subtract(29, 'days'),
				  startDate: moment(),
				  endDate: moment(),
				  minDate: '01/01/2019',
				  maxDate: '12/31/2025',
				  dateLimit: {
            days: 30
				  },
				  showDropdowns: true,
				  showWeekNumbers: true,
				  timePicker: false,
				  timePickerIncrement: 1,
				  timePicker12Hour: true,
				  ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()]
            //'This Month': [moment().startOf('month'), moment().endOf('month')],
            //'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				  },
				  opens: 'right',
				  buttonClasses: ['btn btn-default'],
				  applyClass: 'btn-small btn-primary',
				  cancelClass: 'btn-small',
				  format: 'MM/DD/YYYY',
				  separator: ' to ',
          autoApply: true,
          showCustomRangeLabel: true,
				  locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
				  }
				};

				$('#reportrange_right span').html(moment().format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        document.getElementById('datetime').value = JSON.stringify([
          moment().format('YYYY,MM,DD') + ',00,00,00',
          moment().format('YYYY,MM,DD,HH,mm,ss')
        ]);

				$('#reportrange_right').daterangepicker(optionSet1, cb);

				$('#reportrange_right').on('show.daterangepicker', function() {
				  //console.log("show event fired");
				});
				$('#reportrange_right').on('hide.daterangepicker', function() {
				  //console.log("hide event fired");
				});
				$('#reportrange_right').on('apply.daterangepicker', function(ev, picker) {
				  //console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
				  //console.log("apply event fired, start/end dates are " + picker.startDate.format('YYYY-MM-DD HH:mm:ss') + " to " + picker.endDate.format('MMMM D, YYYY'));
          var datetimeList = [
            picker.startDate.format('YYYY,MM,DD,HH,mm,ss'),
            picker.endDate.format('YYYY,MM,DD,HH,mm,ss')
          ];
          document.getElementById('datetime').value = JSON.stringify(datetimeList);
          // SET data
				});
				$('#reportrange_right').on('cancel.daterangepicker', function(ev, picker) {
				  //console.log("cancel event fired");
          document.getElementById('datetime').value = JSON.stringify([]);
          // REMOVE data
				});
	   }
	   init_daterangepicker_right();
    </script>
{% endblock javascripts %}

{% block title %} Time Machine {% endblock title %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">

      <div class="row">  <!-- Start row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel tile">  <!-- start x_panel -->

            <div class="x_title">
              <div class="x_title_left_div">
                <h3>Work Time Machine</h3>
              </div>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">  <!-- start x_content -->

              <form id="search" action="/work/search/work"
                class="form-horizontal form-label-left" method="post">
                <div class="col-md-12">

                  <div class="item form-group">

                    <label class="control-label col-md-1">
                      Tunnel ID
                    </label>
                    <div class="col-md-3">
                      <input type="text" id="tunnelId" name="tunnelId" value=""
                          class="form-control col-md-6 col-xs-6" >
                    </div>

                    <label class="control-label col-md-1">
                      Tunnel
                    </label>
                    <div class="col-md-3">
                      <select id="tunnel" name="tunnel" class="form-control">
                        <option id="10000" value="10000">ALL</option>
                        <option id="100" value="100">TH</option>
                        <option id="101" value="101">B1</option>
                        <option id="102" value="102">B2</option>
                      </select>
                    </div>

                    <label class="control-label col-md-1">
                      Activity
                    </label>
                    <div class="col-md-3">
                      <select id="activity" name="activity" class="form-control">
                        {% for key, value in activity_list.items() %}
                            <option id="{{ key }}" value="{{ key }}" {% if key == 10000 %} selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </select>
                    </div>

                  </div>

                  <div class="item form-group">
                    <label class="control-label col-md-1">
                      Date
                    </label>
                    <div class="col-md-11">
                      <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                      </div>
                      <input type="hidden" id="datetime" name="datetime" value="[]"
                          class="form-control col-md-6 col-xs-6" >
                    </div>
                  </div>

                  <div style="text-align: right">
                    <button type="submit" class="btn btn-default">Search</button>
                  </div>
                </div>
              </form>

            </div>  <!-- End x_content -->

          </div>  <!-- End x_panel -->
        </div>
      </div>  <!-- End row-->

    </div>
  </div>

{% endblock content %}
