{% extends "base_site.html" %}

{% block title %} Maintenance {% endblock title %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar_maintenance.html" %}
  </div>
{% endblock sidebar %}

{% block stylesheets %}
  {{ super()}}
{% endblock stylesheets %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <div class="">

      <!-- start row -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile">
            <div class="x_title">
              <h3>Face Scanner</h3>
            </div>
            <div class="x_content fixed_height_320">
              <a href="https://172.16.5.10" target="_blank">
                <img class="col-md-12" src="/maintenance/static/imgs/facescanner.png">
              </a>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile">
            <div class="x_title">
              <h3>Smart PTT</h3>
            </div>
            <div class="x_content fixed_height_320">
              <a href="http://172.16.0.12:4180/manage/loginAction_indexUI.action" target="_blank">
                <img class="col-md-12" src="/maintenance/static/imgs/smartptt.png">
              </a>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

      </div> <!-- End row -->

      <!-- start row -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile">
            <div class="x_title">
              <h3>CCTV Access Tunnel 1</h3>
            </div>
            <div class="x_content fixed_height_320">
              <a href="http://172.16.0.23" target="_blank">
                <img class="col-md-12" src="/maintenance/static/imgs/cctv.jpg">
              </a>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile">
            <div class="x_title">
              <h3>CCTV Access Tunnel 2</h3>
            </div>
            <div class="x_content fixed_height_320">
              <a href="http://172.16.0.25" target="_blank">
                <img class="col-md-12" src="/maintenance/static/imgs/cctv.jpg">
              </a>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

      </div> <!-- End row -->

      <!-- start row -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile">
            <div class="x_title">
              <h3>Emergency Call</h3>
            </div>
            <div class="x_content fixed_height_320">
              <a href="https://172.16.5.100" target="_blank">
                <img class="col-md-12" src="/maintenance/static/imgs/emergency.png">
              </a>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile">
            <div class="x_title">
              <h3>Network System</h3>
            </div>
            <div class="x_content fixed_height_320">
              <a href="https://172.16.0.2" target="_blank">
                <img class="col-md-12" src="/maintenance/static/imgs/network.png">
              </a>
            </div> <!-- end x_content -->
          </div> <!-- end x_panel -->
        </div>

      </div> <!-- End row -->

    </div>
  </div>

{% endblock content %}
