{% extends "base_site.html" %}

{% block sidebar %}
  <div class="nav_sidebar_hidden col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "site_template/sidebar.html" %}
  </div>
{% endblock sidebar %}

{% block title %} {{ current_product.name }} {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div id="scroll-style-hidden" class="right_col" role="main">
    <!-- top tiles -->
    <!-- /top tiles -->

    <div class="row">  <!-- Row 1-->
    </div>  <!-- End ROW 1 -->

    <div class="row"> <!-- Row 2 -->
    </div> <!-- End Row 2-->
  </div>
{% endblock content %}
