{% extends "base_site.html" %}

{% block title %} {{ current_product.name }} {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div class="count">{{ infos['total_users'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-cubes"></i> Total Gadgets</span>
        <div class="count">{{ infos['total_gadgets'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-exclamation-circle"></i> Offline</span>
        <div class="count">{{ infos['offline'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-circle"></i> Online</span>
        <div class="count">{{ infos['online'] }}</div>
      </div>
    </div>
    <!-- /top tiles -->

    <br />

    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Firmware Version</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Firmware Usage across versions</h4>
            {% for key, value in infos['firmware'].items() %}
              <div class="widget_summary">
                <div class="w_left w_25">
                  <span>{{ key }}</span>
                </div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ ((value / infos['firmware']|length) * 100)|int }}"
                       aria-valuemin="0" aria-valuemax="100" style="width: {{ ((value / infos['firmware']|length) * 100)|int }}%;">
                      <span class="sr-only">{{ value }}</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20">
                  <span>{{ value }}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>Connected Device</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:37%;">
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas id="canvasDoughnut1" class="canvasDoughnut1" height="200" width="200" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table class="tile_info">
                    <tr>
                      <td>
                        <p><i class="fa fa-square blue"></i>On </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><i class="fa fa-square red"></i>Off </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>



    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>

  <script>
    function connectionGraph(offData, onData) {
      var ctx = document.getElementById("canvasDoughnut1");
        var data = {
          labels: [
            "Off",
            "On"
          ],
          datasets: [{
            data: [offData, onData],
            backgroundColor: [
              "#E74C3C",
              "#3498DB"
            ],
            hoverBackgroundColor: [
              "#E95E4F",
              "#49A9EA"
            ]
          }]
        };
        var options = {
          legend: false,
          responsive: false
        }

        var canvasDoughnut1 = new Chart(ctx, {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: data,
          options: options
        });

    }
    connectionGraph('{{ infos["offline"] }}', '{{ infos["online"] }}');
  </script>

{% endblock javascripts %}
