{% extends "base_site.html" %}

{% block title %} {{ current_product.name }} {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div class="count">{{ infos['total_users'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-cubes"></i> Total Gadgets</span>
        <div class="count">{{ infos['total_gadgets'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-circle"></i> Online</span>
        <div class="count">{{ infos['online'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-exclamation-circle"></i> Offline</span>
        <div class="count">{{ infos['offline'] }}</div>
      </div>
    </div>
    <!-- /top tiles -->

    <br />

    <div class="row">  <!-- Row 1-->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Firmware Version</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content tile fixed_height_320 dashboard-overflow-y" style="height: 230px;">
            <h4>Firmware Usage across versions</h4>
            {% for key, value in infos['firmware'].items() %}
              <div class="widget_summary">
                <div class="w_left w_25">
                  <span>{{ key }}</span>
                </div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ ((value / infos['total_firmware']) * 100)|int }}"
                       aria-valuemin="0" aria-valuemax="100" style="width: {{ ((value / infos['total_firmware']) * 100)|int }}%;">
                      <span class="sr-only">{{ value }}</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20">
                  <span>{{ value }}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>Connected Device</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:37%;">
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas id="canvasDoughnut1" class="canvasDoughnut1" height="200" width="200" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table class="tile_info">
                    <tr>
                      <td>
                        <p><i class="fa fa-square blue"></i>On </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><i class="fa fa-square red"></i>Off </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Battery Average</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <div class="center-margin center-align">
                  <canvas width="250" height="140" id="chart_gauge_001" class="" style="height: 140px;"></canvas>
                  <div class="goal-wrapper">
                    <span id="gauge-text001" class="gauge-value">0</span>
                    <span class="gauge-value">%</span>
                    <span id="goal-text" class="goal-value margin-left-10em">100%</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>  <!-- End ROW 1 -->


    <div class="row"> <!-- Row 2 -->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 dashboard-overflow-y">
          <div class="x_title">
            <h2>Model</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Model Usage across name</h4>
            {% for key, value in infos['model'].items() %}
              <div class="widget_summary">
                <div class="w_left w_25">
                  <span>{{ key }}</span>
                </div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ ((value / infos['total_gadgets']) * 100)|int }}"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{ ((value / infos['total_gadgets']) * 100)|int }}%;">
                      <span class="sr-only">{{ value }}</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20">
                  <span>{{ value }}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Name</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <button type="button" data-toggle="modal" data-target=".modal"
              style="border-color: none; border-style: none; border-width: 0px; padding: 0px; width: 100%; text-align: center;">
              <div id="wordcloud2" class="dashboard-widget-content" style="background-color: white"></div>
            </button>
            <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content" style="height: 800px; width: 1200px;">
                  <div class="modal-header">
                    <h3 class="modal-title" id="Name">NameCloud</h3>
                  </div>
                  <div id="wordcloud" class="dashboard-widget-content" style="padding-top: initial;">
                  </div>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>Performance Endpoint</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="w_center w_66">
              <canvas id="performance1" class="performance1" height="200" width="200" style="margin: 15px 10px 10px 0"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- End Row 2-->


    <div class="row"> <!-- Row 3

        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Transaction Summary <small>Weekly progress</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="demo-container" style="height:280px">
                  <div id="chart_plot_02" class="demo-placeholder"></div>
                </div>
                <div class="tiles">
                  <div class="col-md-4 tile">
                    <span>Total Sessions</span>
                    <h2>231,809</h2>
                    <span class="sparkline11 graph" style="height: 160px;">
                         <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                    </span>
                  </div>
                  <div class="col-md-4 tile">
                    <span>Total Revenue</span>
                    <h2>$231,809</h2>
                    <span class="sparkline22 graph" style="height: 160px;">
                          <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                    </span>
                  </div>
                  <div class="col-md-4 tile">
                    <span>Total Sessions</span>
                    <h2>231,809</h2>
                    <span class="sparkline11 graph" style="height: 160px;">
                           <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                    </span>
                  </div>
                </div>

              </div>

              <div class="col-md-3 col-sm-12 col-xs-12">
                <div>
                  <div class="x_title">
                    <h2>Top Profiles</h2>
                    <div class="clearfix"></div>
                  </div>
                  <ul class="list-unstyled top_profiles scroll-view">
                    <li class="media event">
                      <a class="pull-left border-aero profile_thumb">
                        <i class="fa fa-user aero"></i>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Ms. Mary Jane</a>
                        <p><strong>$2300. </strong> Agent Avarage Sales </p>
                        <p> <small>12 Sales Today</small>
                        </p>
                      </div>
                    </li>
                    <li class="media event">
                      <a class="pull-left border-green profile_thumb">
                        <i class="fa fa-user green"></i>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Ms. Mary Jane</a>
                        <p><strong>$2300. </strong> Agent Avarage Sales </p>
                        <p> <small>12 Sales Today</small>
                        </p>
                      </div>
                    </li>
                    <li class="media event">
                      <a class="pull-left border-blue profile_thumb">
                        <i class="fa fa-user blue"></i>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Ms. Mary Jane</a>
                        <p><strong>$2300. </strong> Agent Avarage Sales </p>
                        <p> <small>12 Sales Today</small>
                        </p>
                      </div>
                    </li>
                    <li class="media event">
                      <a class="pull-left border-aero profile_thumb">
                        <i class="fa fa-user aero"></i>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Ms. Mary Jane</a>
                        <p><strong>$2300. </strong> Agent Avarage Sales </p>
                        <p> <small>12 Sales Today</small>
                        </p>
                      </div>
                    </li>
                    <li class="media event">
                      <a class="pull-left border-green profile_thumb">
                        <i class="fa fa-user green"></i>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">Ms. Mary Jane</a>
                        <p><strong>$2300. </strong> Agent Avarage Sales </p>
                        <p> <small>12 Sales Today</small>
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
     -->

    </div>  <!-- End Row 3 -->

    <div class="row"> <!-- Row 4 -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>User Location</h2>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">
                <div class="dashboard-widget-content">
                  <div class="col-md-4 hidden-small fixed_height_320 dashboard-overflow-y">
                    <table class="countries_list">
                      <tbody>
                        {% for key, value in infos.locale.items() %}
                          <tr>
                            <td>{{ key|getCountryName }}</td>

                            <td class="fs15 fw700 text-right">{{ value }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:320px;"></div>
                </div>
              </div>
          </div>
        </div>
    </div> <!-- End Row 4 -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <!-- D3 cloud -->
  <script src="{{ url_for('static', filename='vendors/d3/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/d3cloud/src/d3.layout.cloud.js') }}"></script>
  <script src="{{ url_for('static', filename='build/js/cloud.js') }}"></script>
  <!--
    TODO: remove this
  <script src="{{ url_for('static', filename='vendors/d3-wordcloud/lib/d3/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/d3-wordcloud/lib/d3/d3.layout.cloud.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/d3-wordcloud/d3.wordcloud.js') }}"></script>
  -->
  <script>
    function connectionGraph(offData, onData) {
      var ctx = document.getElementById("canvasDoughnut1");
        var data = {
          labels: [
            "Off",
            "On"
          ],
          datasets: [{
            data: [offData, onData],
            backgroundColor: [
              "#E74C3C",
              "#3498DB"
            ],
            hoverBackgroundColor: [
              "#E95E4F",
              "#49A9EA"
            ]
          }]
        };
        var options = {
          legend: false,
          responsive: false
        }

        var canvasDoughnut1 = new Chart(ctx, {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: data,
          options: options
        });

    }
    connectionGraph('{{ infos["offline"] }}', '{{ infos["online"] }}');

    function averageBattery(battery) {
      var chart_gauge_settings = {
        lines: 12,
        angle: 0,
        lineWidth: 0.4,
        pointer: {
          length: 0.5,
          strokeWidth: 0.042,
          color: '#1D212A'
        },
        limitMax: 'true',
        colorStart: '#1ABC9C',
        colorStop: '#1ABC9C',
        strokeColor: '#F0F3F3',
        generateGradient: true
      };
        var chart_gauge_001_elem = document.getElementById('chart_gauge_001');
        var chart_gauge_001 = new Gauge(chart_gauge_001_elem).setOptions(chart_gauge_settings);
        chart_gauge_001.maxValue = 100;
        chart_gauge_001.setMinValue(0);
        chart_gauge_001.animationSpeed = 20;
        chart_gauge_001.set(parseInt(battery));
        chart_gauge_001.setTextField(document.getElementById("gauge-text001"));
    }
    averageBattery('{{ infos["avg_battery"] }}');

    function performanceEndpoint(dataDict) {
      var _data = JSON.parse(dataDict);
      var data = {
        labels: _data.ep,
        datasets: [{
            label: 'Cloud',
            backgroundColor: "#33a46A",
            data: _data.r1
          }, {
            label: 'Gadget-Hub',
            backgroundColor: "#ff8a1a",
            data: _data.r2
        }]
      };
      var ctx = document.getElementById("performance1");
        var options = {
          scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
        }

        var performance1 = new Chart(ctx, {
          type: 'horizontalBar',
          data: data,
          options: options
        });

    }
    performanceEndpoint('{{ ep_infos|safe }}');

    var _list = '{{ infos["name_list"]|safe }}',
        __list = JSON.parse(_list.replace(/[\u0000-\u0019]+/g, "")),
        colorList = ['#654df7', '#9c1d1d', '#8fb52e', '#fdb736', '#3c7f92',
                     '#482f01', '#eb8787', '#100f77', '#e0e02f', '#c714a3',
                     '#e06ede', '#684236'];

    var _list2 = '{{ infos["name_list"]|safe }}',
        __list2 = JSON.parse(_list2.replace(/[\u0000-\u0019]+/g, ""));

    drawWordCloud(__list);
    drawWordCloud2(__list2);

    function drawWordCloud(nameList) {
      var svg_location = "#wordcloud",
          width = 1200,
          height = 750,
          fill = function (d, i) { return colorList[Math.floor(Math.random() * colorList.length)] };

      var xScale = d3.scale.linear()
          .domain([0, d3.max(nameList, function (d) {
            return d.size;
          })])
          .range([10, 100]);

      d3.layout.cloud().size([width, height])
        .words(nameList)
        .fontSize(function (d) { return xScale(d.size + 3.5); })
        .text(function (d) { return d.text; })
        .rotate(function () { return ~~(Math.random() * 2) * 90; })
        .font("Impact")
        .on("end", draw)
        .start();

      function draw(words) {
        d3.select(svg_location).append("svg")
          .attr("width", width)
          .attr("height", height)
          .append("g")
          .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .style("font-size", function (d) { return d.size + "px"; })
          .style("font-family", "Impact")
          .style("fill", function (d, i) { return fill(i); })
          .attr("text-anchor", "middle")
          .attr("transform", function (d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function (d) { return d.text; });
      }
      d3.layout.cloud().stop();
    }

    function drawWordCloud2(nameList) {
      var svg_location2 = "#wordcloud2",
          width2 = 400,
          height2 = 200,
          fill2 = function (d, i) { return colorList[Math.floor(Math.random() * colorList.length)] };

      var xScale2 = d3.scale.linear()
        .domain([0, d3.max(nameList, function (d) {
          return d.size;
        })])
        .range([10, 100]);

      d3.layout.cloud().size([width2, height2])
        .words(nameList)
        .fontSize(function (d) { return xScale2(+d.size); })
        .text(function (d) { return d.text; })
        .rotate(function () { return ~~(Math.random() * 2) * 90; })
        .font("Impact")
        .on("end", draw)
        .start();

      function draw(words) {
        d3.select(svg_location2).append("svg")
          .attr("width", width2)
          .attr("height", height2)
          .append("g")
          .attr("transform", "translate(" + [width2 >> 1, height2 >> 1] + ")")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .style("font-size", function (d) { return d.size + "px"; })
          .style("font-family", "Impact")
          .style("fill", function (d, i) { return fill2(i); })
          .attr("text-anchor", "middle")
          .attr("transform", function (d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function (d) { return d.text; });
      }
      d3.layout.cloud().stop();
    }

	function init_JQVmap(data){
		if(typeof (jQuery.fn.vectorMap) === 'undefined'){ return; }
			if ($('#world-map-gdp').length ){
				$('#world-map-gdp').vectorMap({
					map: 'world_en',
          backgroundColor: "",
          color: '#f4f3f0',
          borderColor: '#ADB2B5',
          borderWidth: 1,
          borderOpacity: 0,
          hoverColor: '#536A7F',
					hoverOpacity: 0,
					selectedColor: '#536A7F',
          enableZoom: true,
          showTooltip: true,
          multiSelectRegion: false,
          values: data,
          normalizeFunction: 'linear',
					scaleColors: ['#b6d6ff', '#005ace', '#14a4bc', '#2c7582'],
          normalizeFunction: 'polynomial',
          onLabelShow(event, label, code) {
            var value = data[code];
            if (value !== null && value !== undefined && value !== "") {
              label.append(" (" + data[code] + ")");
            } else {
              label.append(" (" + 0 + ")");
            }
          }
				});
			}
  };
  init_JQVmap({{ infos['locale']|safe }});


  </script>

{% endblock javascripts %}
