<div class="left_col scroll-view">

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      <div style="display: inline-block">
        <i class="fa fa-area-chart"></i>
      </div>
      <div style="display: inline-block">
        Tunnel Operation
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        <li>
          <a href="/dashboard/location">
            <i class="fa fa-map-marker"></i>Location Tracking
          </a>
        </li>
        <li>
          <a href="/dashboard/count">
            <i class="fa fa-tasks"></i>Entrance Control
          </a>
        </li>
        {% if current_user.level in [0, 1] %}
          <li>
            <a href="/dashboard/search/worker">
              <i class="fa fa-search"></i>Entrance Search Log
            </a>
          </li>
        {% endif %}
        <li>
          <a href="/dashboard/board/notice">
            <i class="fa fa-calendar"></i>Notice Board
          </a>
        </li>
        <li>
          <a href="/dashboard/board/schedule">
            <i class="fa fa-calendar"></i>Schedule Board
          </a>
        </li>
        {% if current_user.level == 0 %}
          <li>
            <a href="#">
              <i class="fa fa-volume-up"></i>PA System
            </a>
          </li>
          <li>
            <a href="http://172.16.0.12:4488/station/" target="_blank">
              <i class="fa fa-bullhorn"></i>Smart PTT
            </a>
          </li>
        {% endif %}
        {% if current_user.level in [3, 4, 5] %}
          <li>
            <a href="/moi/cctv">
              <i class="fa fa-eye"></i>CCTV Monitoring
            </a>
          </li>
        {% endif %}
        {% if current_user.level in [0, 1] %}
          <li>
            <a href="/moi/cctv">
              <i class="fa fa-eye"></i>CCTV Monitoring for MOI
            </a>
          </li>
        {% endif %}
        {% if current_user.level in [0, 1] %}
          <li>
            <a href="http://35.225.29.233" target="_blank">
              <i class="fa fa-server"></i> MOI Inventory
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

</div>
