<div class="left_col scroll-view">

  <div class="nav_title nav_sm_hidden sub_side_top_tile">
    Dev
  </div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <br><br><br>
    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
          <!-- Product -->
          <li><a><i class="fa fa-list"></i> Product <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/products/{{ prd_id }}/model">Model</a></li>
                <li><a href="/products/{{ prd_id }}/authentication">Authentication</a></li>
                <li><a href="/products/{{ prd_id }}/tester">Tester</a></li>
            </ul>
          </li>
          <!-- Endpoints -->
          <li><a><i class="fa fa-tasks"></i> Endpoints <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/endpoints/{{ prd_id }}/specifications">Specifications</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-sliders"></i> Release <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/release/{{ prd_id }}/list">Release</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

</div>
