<div class="left_col scroll-view">
  {% if current_user.level != 0 %}
    <script>
      window.location.href = "/";
    </script>
  {% endif %}

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      <div style="display: inline-block">
        <i class="fa fa-pencil-square-o"></i>
      </div>
      <div style="display: inline-block">
        Registration
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        <li>
          <a href="/registration/scanner">
            <i class="fa fa-cube"></i>Beacon Scanner
          </a>
        </li>
        <li>
          <a href="/registration/beacon">
            <i class="fa fa-dot-circle-o"></i>Beacon Tag
          </a>
        </li>
        <li>
          <a href="/registration/ipcam">
            <i class="fa fa-camera"></i>IPCam
          </a>
        </li>
        <li>
          <a href="/registration/pa">
            <i class="fa fa-volume-up"></i>PA Speaker
          </a>
        </li>
        <li>
          <a href="/registration/router">
            <i class="fa fa-wifi"></i>Router
          </a>
        </li>
        <li>
          <a href="/dashboard/count/settings/entrance">
            <i class="fa fa-arrow-circle-o-right"></i>Entrance Setting
          </a>
        </li>


      </ul>
    </div>
  </div>

</div>
