<div class="left_col scroll-view">
  {% if current_user.level != 0 and current_user.level != 6 %}
    <script>
      window.location.href = "/";
    </script>
  {% endif %}
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      {% if current_user.level == 6 %}
        <div style="display: inline-block">
          <i class="fa fa-th-large"></i>
        </div>
        <div style="display: inline-block; font-size: 20px;">
          Blasting Operation
        </div>
      {% else %}
        <div style="display: inline-block">
          <i class="fa fa-th-large"></i>
        </div>
        <div style="display: inline-block">
          MOI Operation
        </div>
      {% endif %}
    </div>
    <br><br><br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        {% if current_user.level == 6 %}
          <li>
            <a href="/moi/location">
              <i class="fa fa-map-marker"></i> Location Tracking
            </a>
          </li>
        {% else %}
          <li>
            <a href="/moi/user">
              <i class="fa fa-users"></i> User Control
            </a>
          </li>
        {% endif %}
        <li>
          <a href="/moi/cctv">
            <i class="fa fa-eye"></i> CCTV Monitoring
          </a>
        </li>
        <li>
          <a href="http://35.234.144.3" target="_blank">
            <i class="fa fa-server"></i> Inventory
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
