<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><span>MicroBot Console</span></a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a href="/"><i class="fa fa-area-chart"></i>Dashboard</a></li>
        {% if current_product %}
          <!-- Product -->
          <li><a><i class="fa fa-keyboard-o"></i> Product <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/products/{{ current_product.product_id }}/general">General</a></li>
                <!-- TODO: Branding
                <li><a href="/products/{{ current_product.product_id }}/branding">Branding</a></li>
                -->
                <li><a href="/products/{{ current_product.product_id }}/authentication">Authentication</a></li>
                <li><a href="/products/{{ current_product.product_id }}/admins">Admins</a></li>
            </ul>
          </li>
          <!-- Endpoints -->
          <li><a><i class="fa fa-gears"></i> Endpoints <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/endpoints/{{ current_product.product_id }}/specifications">Specifications</a></li>
                <li><a href="/endpoints/{{ current_product.product_id }}/tests">Tests</a></li>
            </ul>
          </li>
        {% endif %}
        <!-- TODO: Settings
        <li><a href="/settings"><i class="fa fa-cog"></i> Settings </a></li>
        -->
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Organization">
      <span class="fa fa-users" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="fa fa-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Documentation">
      <span class="fa fa-file-text-o" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/auth/sign-out">
      <span class="fa fa-sign-out" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
