<div class="left_col scroll-view">

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      <div style="display: inline-block">
        <i class="fa fa-laptop"></i>
      </div>
      <div style="display: inline-block">
        Maintenance
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        <li>
          <a href="/dashboard/settings">
            <i class="fa fa-square"></i>Face Scanner
          </a>
        </li>
        <li>
          <a href="/dashboard/count/settings">
            <i class="fa fa-square"></i>Beacon Scanner
          </a>
        </li>
        <li>
          <a href="https://172.16.0.2" target="_blank">
            <i class="fa fa-sitemap"></i>Network System
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
