<div class="left_col scroll-view">
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      Management
    </div>
    <br><br><br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        <!-- Organization -->
        <li>
          <a>
            <i class="fa fa-users"></i> Organization <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
              <li><a href="/management/organization/general">General</a></li>
              <li><a href="/management/organization/member">Member</a></li>
          </ul>
        </li>
        <!-- Settings -->
        <li>
          <a href="/management/settings">
            <i class="fa fa-cog"></i> Settings
          </a>
        </li>
        <!-- Log Out -->
        <li>
          <a href="/auth/sign-out">
            <i class="fa fa-sign-out"></i> Log Out
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
