<div class="left_col scroll-view">

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      Tunnel Operation
    </div>
    <br>
    <br>
    <br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        <li>
          <a href="/dashboard/location">
            <i class="fa fa-map-marker"></i>Location Tracking
          </a>
        </li>
        <li>
          <a href="/dashboard/count">
            <i class="fa fa-tasks"></i>Entrance Control
          </a>
        </li>
        <li>
          <a href="/dashboard/workschedule">
            <i class="fa fa-calendar"></i>Schedule - Summary
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-calendar"></i>Schedule - Detail
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-square"></i>PA System
          </a>
        </li>
        <li>
          <a href="http://172.16.0.12:4488/station/" target="_blank">
            <i class="fa fa-square"></i>Smart PTT
          </a>
        </li>
        <!--
        <li>
          <a href="/dashboard/worker_logs">
            <i class="fa fa-file-text-o"></i>Logs
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>

</div>
