<div class="left_col scroll-view">

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      Dashboard
    </div>
    <br>
    <br>
    <br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        <!--
        <li>
          <a href="/dashboard">
            <i class="fa fa-area-chart"></i>Dashboard
            <span class="label label-success pull-right">Beta</span>
          </a>
        </li>
        -->
        <li>
          <a href="/dashboard/location">
            <i class="fa fa-map-marker"></i>Location Tracking
          </a>
        </li>
        <li>
          <a href="/dashboard/workschedule">
            <i class="fa fa-calendar"></i>Workschedule
          </a>
        </li>
        <li>
          <a href="/dashboard/worker_logs">
            <i class="fa fa-file-text-o"></i>Logs
          </a>
        </li>
        <li>
          <a href="/dashboard/settings">
            <i class="fa fa-cog"></i>Settings
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
