<div class="left_col scroll-view">
    {% if current_user.level != 0 and current_user.level != 6 %}
      <script>
        window.location.href = "/";
      </script>
    {% endif %}
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  
      <div class="nav_title nav_sm_hidden sub_side_top_tile">
        <div style="display: inline-block">
          <i class="fa fa-medkit"></i>
        </div>
        <div style="display: inline-block">
          COVID-19
        </div>
      </div>
      <br><br><br>
  
      <div class="menu_section">
        <ul class="nav side-menu nav_sm_hidden">
          <li>
            <a href="/covid19">
              <i class="fa fa-columns"></i>Dashboard
            </a>
          </li>
          <li>
            <a href="/covid19/users">
              <i class="fa fa-users"></i>User
            </a>
          </li>
          <li>
            <a href="/covid19/notifications">
              <i class="fa fa-bell"></i>Notification
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-sticky-note-o"></i>Test Result
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-newspaper-o"></i>News
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cogs"></i>Settings
            </a>
          </li>
        </ul>
      </div>
  
    </div>
  </div>
  