<div class="left_col scroll-view">
  {% if current_user.level != 0 and current_user.level != 6 %}
    <script>
      window.location.href = "/";
    </script>
  {% endif %}
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="nav_title nav_sm_hidden sub_side_top_tile">
      <div style="display: inline-block">
        <i class="fa fa-cogs"></i>
      </div>
      <div style="display: inline-block">
        Settings
      </div>
    </div>
    <br><br><br>

    <div class="menu_section">
      <ul class="nav side-menu nav_sm_hidden">
        <li>
          <a href="/moi/user">
            <i class="fa fa-users"></i> User Control
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
