<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars" style="color: #1b8dd7; font-weight:bold;">{{ _title }}</i></a>
    </div>

    <!-- TODO: Setting menu -->
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <!-- TODO: Top-Right menu -->
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="cursor:default;">
          <i class="fa fa-cog" style="color:#ffffff; cursor:default;"> Setting</i>
        </a>
      </li>
    </ul>
  </nav>
</div>
