
{% extends "base_site.html" %}

{% block title %} Release {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <!-- start row -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> Tests </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel">
                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion"
                        href="#release" aria-expanded="true" aria-controls="release">
                      <h3 class="panel-title">Release</h3>
                    </a>
                    <div id="release" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Endpoint</th>
                              <th>Model</th>
                              <th>Firmware</th>
                              <th>Hook Url</th>
                              <th>Hook Client Key</th>
                              <th>Updated User</th>
                              <th>Updated Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if release_stage %}
                              {% for release in release_stage.stage_info_list %}
                                <tr>
                                  <td>{{ release_stage.product.name }}</td>
                                  <td>{{ release.endpoint.version }}</td>
                                  <td>{{ release.model.name }}</td>
                                  <td>{{ release.firmware.version }}</td>
                                  <td>{{ release_stage.hook_url }}</td>
                                  <td>{{ release_stage.hook_client_key }}</td>
                                  <td>{{ release_stage.last_updated_user }}</td>
                                  <td>{{ release_stage.last_updated_time | datetimeFilter }}</td>
                                </tr>
                              {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="panel">
                    <a class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion"
                        href="#preRelease" aria-expanded="true" aria-controls="preRelease">
                      <h3 class="panel-title">Pre Release</h3>
                    </a>
                    <div id="preRelease" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Endpoint</th>
                              <th>Model</th>
                              <th>Firmware</th>
                              <th>Hook Url</th>
                              <th>Hook Client Key</th>
                              <th>Updated User</th>
                              <th>Updated Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if pre_stage %}
                              {% for pre in pre_stage.stage_info_list %}
                                <tr>
                                  <td>{{ pre_stage.product.name }}</td>
                                  <td>{{ pre.endpoint.version }}</td>
                                  <td>{{ pre.model.name }}</td>
                                  <td>{{ pre.firmware.version }}</td>
                                  <td>{{ pre_stage.hook_url }}</td>
                                  <td>{{ pre_stage.hook_client_key }}</td>
                                  <td>{{ pre_stage.last_updated_user }}</td>
                                  <td>{{ pre_stage.last_updated_time | datetimeFilter }}</td>
                                </tr>
                              {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>

                        {% if allow_release %}
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".release-modal">Release</button>
                        {% else %}
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".release-modal" disabled>Release</button>
                        {% endif %}
                        <div class="modal fade release-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                              <div class="modal-content">

                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="release">Release</h4>
                                </div>
                                <div>
                                  <form id="release" method="post" action="/release/{{ current_product.id }}/release">
                                    <div class="modal-body">
                                      <h4>Release ok?</h4>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-primary">Ok</button>
                                    </div>
                                  </form>
                                </div>

                              </div>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="panel">
                    <a class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion"
                        href="#dev" aria-expanded="true" aria-controls="dev">
                      <h3 class="panel-title">Dev</h3>
                    </a>
                    <div id="dev" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Endpoint</th>
                              <th>Model</th>
                              <th>Firmware</th>
                              <th>Hook Url</th>
                              <th>Hook Client Key</th>
                              <th>Updated User</th>
                              <th>Updated Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if dev_stage %}
                              {% for dev in dev_stage.stage_info_list %}
                                <tr>
                                  <td>{{ dev_stage.product.name }}</td>
                                  <td>{{ dev.endpoint.version }}</td>
                                  <td>{{ dev.model.name }}</td>
                                  <td>{{ dev.firmware.version }}</td>
                                  <td>{{ dev_stage.hook_url }}</td>
                                  <td>{{ dev_stage.hook_client_key }}</td>
                                  <td>{{ dev_stage.last_updated_user }}</td>
                                  <td>{{ dev_stage.last_updated_time | datetimeFilter }}</td>
                                </tr>
                              {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>

                        {% if allow_pre_release %}
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".pre-release-modal">Pre Release</button>
                        {% else %}
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".pre-release-modal" disabled>Pre Release</button>
                        {% endif %}
                        <div class="modal fade pre-release-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                              <div class="modal-content">

                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title" id="preRelease">Pre Release</h4>
                                </div>
                                <div>
                                  <form id="preRelease" method="post" action="/release/{{ current_product.id }}/pre_release">
                                    <div class="modal-body">
                                      <h4>Pre release ok?</h4>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-primary">Ok</button>
                                    </div>
                                  </form>
                                </div>

                              </div>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="panel">
                      <a class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion"
                          href="#archive" aria-expanded="true" aria-controls="archive">
                        <h3 class="panel-title">Archive</h3>
                      </a>
                      <div id="archive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Endpoint</th>
                                <th>Model</th>
                                <th>Firmware</th>
                                <th>Hook Url</th>
                                <th>Hook Client Key</th>
                                <th>Updated User</th>
                                <th>Updated Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for history in history_list %}
                                <tr>
                                  <td>{{ history.product.name }}</td>
                                  <td>{{ history.endpoint.version }}</td>
                                  <td>{{ history.model.name }}</td>
                                  <td>{{ history.firmware.version }}</td>
                                  <td>{{ history.hook_url }}</td>
                                  <td>{{ history.hook_client_key }}</td>
                                  <td>{{ history.last_updated_user }}</td>
                                  <td>{{ history.last_updated_time | datetimeFilter }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                </div>

            </div><!-- End x_content-->
          </div><!-- End x_panel-->
        </div>

      </div>
      <!-- End row -->

    </div>
  </div>

{% endblock content %}